<form action="{{ 'search' | page }}" method="get"
      class="g-pl-10 g g-mb-50">
    <div class="row justify-content-center g-mb-0">
        <div class="col-md-9 g-pr-0--md g-pl-5">
            <div id="form-icon-magnifier" class="input-group">
                <input name="q" type="text"
                       placeholder="Введите название компании"
                       aria-label="Введите название компании" aria-describedby="form-icon-magnifier"
                       class="form-control g-resize-none g-font-size-16 rounded-0 g-py-14 g-pl-20 border-0 g-width-auto g-brd-around g-brd-lightred g-rounded-5">

            </div>
        </div>

        <div class="col-md-3 g-px-0  g-pt-10  g-pt-0--md g-pt-0--lg g-pt-0--xl ">
            <button
                class="btn btn-block g-bg-lightred g-font-size-16  g-ml-minus-4--md g-ml-0 g-color-white g-opacity-0_8--hover u-shadow-v21 g-py-14  g-height-100x g-brd-around  "
                type="submit" data-attach-loading>Оставить отзыв</button>
        </div>
    </div>
</form>
