<section class="g-py-100--lg g-pt-80 g-pb-130" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <div class="u-heading-v3-1 g-mb-30 g-pos-rel">
                <h2 class="u-heading-v3__title g-font-size-18 g-font-primary g-font-weight-600 g-color-gray-dark-v1 text-uppercase g-brd-primary">
                    Запрос на Владение {{ __SELF__.organization.name }}</h2>
            </div>
            <form data-request="onRequestCreate" data-request-validate>
                <input type="hidden" name="organization_id" value="{{ __SELF__.organization.id }}" required>
                <div class="form-group g-mb-30">
                    <label for="name" class="g-font-weight-600">ФИО<span class="g-color-red g-ml-5">*</span></label>
                    <input name ="name"
                           id   ="name"
                           type ="text"
                           class="form-control form-control-md rounded-0"
                           required>
                    <div data-validate-for="name" class="alert alert-danger"></div>
                </div>
                <div class="form-group g-mb-30">
                    <label for="phone" class="g-font-weight-600">Номер телефона<span class="g-color-red g-ml-5">*</span></label>
                    <input type ="tel"
                           name ="phone"
                           id   ="phone"
                           class="iti_phone form-control form-control-md rounded-0"
                           required>
                    <small class="iti_error-msg hide form-control-feedback"></small>
                    <small class="iti_valid-msg hide form-control-feedback">✓ Правильный номер</small>
                    <div data-validate-for="phone" class="alert alert-danger"></div>
                </div>
                <div class="form-group g-mb-30">
                    <label for="email" class="g-font-weight-600">Email<span class="g-color-red g-ml-5">*</span></label>
                    <input name="email"
                           id="email"
                           type="email"
                           class="form-control form-control-md rounded-0"
                           required>
                    <div data-validate-for="email" class="alert alert-danger"></div>
                </div>
                <div class="form-group g-mb-30">
                    <label for="request_text" class="g-font-weight-600">Описание:</label>
                    <textarea name="request_text"
                              id="request_text"
                              rows=6
                              class="form-control form-control-md rounded-0 g-resize-none"
                              placeholder="Напишите несколько фактов, подтверждающих, что это ваша компания:"></textarea>
                </div>
                <div class="text-lg-right text-center g-mt-20--lg">
                    <button type="submit"
                            class="btn btn-xl u-btn-primary rounded-0 text-uppercase"
                            data-attach-loading>
                        ОТПРАВИТЬ ЗАЯВКУ
                    </button>
                </div>
            </form>
        </div>
    </div>

</section>
