<section class="g-py-170--lg g-py-140--md g-py-90">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <h1 class="text-center text-uppercase g-font-size-46--md g-font-size-40 g-mb-20 g-color-black">
                Ваша заявка успешно отправлена
            </h1>
            <span class="d-block g-bg-indigo g-width-340 mx-auto g-height-1 g-mb-25"></span>
            <h5 class="g-color-gray-dark-v2 g-font-size-26--md g-font-size-20 text-center g-mb-90--lg g-mb-50">
                Наш менеджер свяжется с вами в ближайшее время
            </h5>
            <div class=" text-center">
                <a href="/"  class="btn btn-xl u-btn-primary rounded-0 text-uppercase">ВЕРНУТЬСЯ НА ГЛАВНУЮ
                </a>
            </div>
        </div>
    </div>
</section>
