==
<!-- become author tablet banner -->
<a
  href="#become-author"
  data-modal-target="#become-author"
  data-modal-effect="fadein"
  class="d-flex align-items-center justify-content-between g-bg-gray-light-v4 g-rounded-10 g-height-80 g-height-100--md u-link-v5"
>
  <div class="d-flex align-items-center g-pl-10 g-pl-30--md">
    <h4 class="g-font-size-11 g-font-size-18--md g-color-black g-line-height-1_4 text-uppercase g-mb-0">
      Пишите экспертные статьи и <br class="g-hidden-xs-down">становитесь частью команды авторов!
    </h4>
  </div>
  <div>
    <img src="{{ 'assets/build/img/banners/become-author-banner-img.png'|theme }}" alt="broker-expert" class="g-height-80 g-height-100--md g-rounded-10">
  </div>
</a>
