==
<!-- become author banner -->
<a
  href="#become-author"
  data-modal-target="#become-author"
  data-modal-effect="fadein"
  class="d-flex justify-content-between g-bg-gray-light-v4 g-rounded-10 g-height-115 u-link-v5"
>
  <div class="d-flex align-items-center g-py-15 g-pl-30">
    <h4 class="g-font-size-20 g-color-black g-line-height-1_4 text-uppercase g-mb-0 g-mr-40">
      Пишите экспертные статьи и<br class="g-hidden-md-down"> становитесь частью команды авторов!
    </h4>
    <button class="btn g-rounded-10 g-bg-teal g-color-white g-font-size-16 g-py-15 g-px-35 g-hidden-md-down">
      Стать автором
    </button>
  </div>

  <img src="{{ 'assets/build/img/banners/become-author-banner-img.png'|theme }}" alt="broker-expert" class="g-rounded-10 g-height-100x g-ml-20">
</a>

<!-- become author banner mobile -->
<!-- <a
  href="#"
  class="d-flex flex-column justify-content-center align-items-center g-bg-gray-light-v4 g-height-220 g-rounded-10 g-pa-20 u-link-v5 g-hidden-sm-up"
>
  <h4 class="g-font-size-14 g-color-black g-line-height-1_4 text-uppercase text-center g-mb-15">
    Пишите экспертные статьи<br>и становитесь частью<br>команды авторов!
  </h4>
  <button class="btn g-rounded-10 g-bg-teal g-color-white g-font-size-16 g-py-10 g-px-25">
    Стать автором
  </button>
</a> -->
