==
<!-- become author banner sidebar -->
<a
  href="#become-author"
  data-modal-target="#become-author"
  data-modal-effect="fadein"
  class="d-flex flex-column justify-content-between align-items-center g-bg-gray-light-v4 g-height-350 g-rounded-10 g-px-25 g-pt-35 u-link-v5 g-overflow-hidden"
>
  <h4 class="g-font-size-16 g-font-size-18--lg g-color-black g-line-height-1_4 text-uppercase text-center g-mb-15">
    Пишите экспертные статьи и становитесь частью команды авторов!
  </h4>
  <button class="btn g-rounded-10 g-bg-teal g-color-white g-font-size-16 g-py-13 g-px-35">
    Стать автором
  </button>
  <div class="g-mt-20">
    <img
      src="{{ 'assets/build/img/banners/become-author-banner-img.png'|theme }}"
      alt="broker-expert"
      class="img-fluid g-height-150 g-ml-20"
    >
  </div>
</a>
