==
<!-- choose broker banner sidebar version -->
<a
  href="#return-money"  data-modal-target="#return-money" data-modal-effect="fadein"
  class="d-flex flex-column justify-content-end align-items-center g-overflow-hidden g-rounded-10 u-link-v5 g-bg-darkblue-v1">
  <img class="d-block g-height-120 w-100" src="{{ 'assets/build/img/banners/banner-blog-1.png'|theme }}" alt="broker">
  <div class=" g-py-25 g-px-20 ">
    <h4 class="g-font-size-22 g-color-white g-line-height-1_4 g-font-weight-500 text-center g-mb-25">
      Вы можете вернуть деньги, которые перечислили мошенникам
    </h4>
    <button class="btn d-block g-rounded-10 g-bg-aqua g-font-size-16 g-color-black g-py-13 g-px-35 mx-auto g-mb-15">
      Подробнее
    </button>
  </div>
</a>