==
<!-- chargeback banner mobile version -->
<a
  href="{{ 'landings/landing-chargeback'|page }}"
  class="d-flex flex-column justify-content-center align-items-center g-bg-img-hero g-height-220 g-rounded-10 g-px-20 g-py-20 u-link-v5"
  style="background-image: url({{ 'assets/build/img/banners/chargeback-bg.webp'|theme }});"
>
  <h4 class="g-font-size-16 g-font-weight-500 g-line-height-1_5 g-color-white text-uppercase text-center g-mb-15">
    Используйте чарджбэк для возврата денег на свой счет
  </h4>
  <button class="btn w-100 rounded-0 g-bg-beige g-font-size-15 g-color-black g-py-13">
    Запустить чарджбэк
  </button>
</a>
