==
<!-- chargeback banner full -->
<a
  href="{{ 'landings/landing-chargeback-2'|page }}"
  class="d-flex align-items-center justify-content-between g-bg-img-hero g-rounded-10 g-pl-30 g-pl-40--lg g-pr-30 g-py-25 g-py-30--lg u-link-v5"
  style="background-image: url({{ 'assets/build/img/banners/chargeback-bg.webp'|theme }});"
>
  <div class="d-flex align-items-center">
    <img src="{{ 'assets/build/img/banners/chargeback-icon.svg'|theme }}" alt="coins" class="g-width-64 g-mr-30 g-mr-50--md">
    <h4 class="g-font-size-18 g-font-size-20--md g-font-weight-500 g-line-height-1_3 g-color-white text-uppercase g-mb-0">
      Используйте чарджбэк для<br class="g-hidden-lg-up">
      возврата<br class="g-hidden-md-down">
      денег на свой счет
    </h4>
  </div>
  <button class="btn rounded-0 g-bg-beige g-font-size-16 g-color-black g-py-13 g-px-30 g-ml-20 g-hidden-md-down">
    Запустить чарджбэк
  </button>
</a>
