==
<!-- refund banner -->
<a href="{{ 'dynamic-landings/chargeback-investments'|page({ item_slug: itemDirectory.slug }) }}"
  class="d-flex align-items-center g-bg-img-hero g-rounded-10 u-link-v5 g-bg-darkblue-v3">
  <div class="d-flex align-items-center">
    <img class="g-mr-25" src="{{ 'assets/build/img/banners/broker-2.png'|theme }}" alt="chargeback" class="g-width-80 g-mr-30">
    <h4 class="g-font-size-18 g-font-size-20--md g-font-weight-700 g-color-white g-line-height-1_3 g-py-20 g-pr-55--lg">
      Проект {{ itemDirectory.name }}  обманул с заработком? <br class="g-hidden-lg-down"> Ваши деньги еще можно вернуть! 
    </h4>
  </div>
  <div class="g-pa-20">
    <button class="d-block btn g-bg-orange-v1 g-bg-orange--hover g-rounded-10 g-font-size-16--md g-color-white g-transition-0_4 g-py-15 g-px-40 g-hidden-md-down">
      Подробнее
    </button>
  </div>
</a>
