==
<!-- chargeback banner sidebar version -->
<a
  href="{{ 'landings/landing-chargeback'|page }}"
  class="d-flex flex-column justify-content-center align-items-center g-bg-img-hero g-height-350 g-rounded-10 g-px-20 u-link-v5"
  style="background-image: url({{ 'assets/build/img/banners/chargeback-bg.webp'|theme }});"
>
  <img src="{{ 'assets/build/img/banners/chargeback-icon.svg'|theme }}" alt="coins" class="g-width-80 g-mb-15">
  <h4 class="g-font-size-22 g-font-weight-500 g-color-white g-line-height-1_4 text-uppercase text-center g-mb-15">
    Используйте чарджбэк для возврата денег на свой счет
  </h4>
  <button class="btn rounded-0 g-bg-beige g-font-size-16 g-color-black g-py-13 g-px-35">
    Запустить чарджбэк
  </button>
</a>
