==
<!-- refund banner -->
<a
  href="{{ 'dynamic-landings/chargeback-investments'|page({ item_slug: itemDirectory.slug }) }}"
  class="d-block g-bg-darkblue-v2 text-center g-rounded-10 u-link-v5 g-py-30 g-px-20">
  <h4 class="g-font-size-20 g-font-weight-700 g-color-white g-line-height-1_4  g-mb-16 g-px-20">
    Проект {{ itemDirectory.name }}  обманул с заработком? Ваши деньги еще можно вернуть! 
  </h4>
  <button class="d-block btn g-bg-orange-v1 g-bg-orange--hover g-rounded-10 g-font-size-16 g-color-white g-transition-0_4 g-py-15 g-px-40 w-100">
    Подробнее
  </button>
</a>
