==
<!-- refund banner -->
<a
  href="{{ 'dynamic-landings/chargeback-investments'|page({ item_slug: itemDirectory.slug }) }}"
  {% if itemDirectory.name is not defined %} data-modal-target="#consult" data-modal-effect="fadein" {% endif %}
  class="d-block text-center g-rounded-10 u-link-v5 g-py-30 g-px-20"
  style="background-color:#03314B;"
>
  <h4 class="g-font-size-20 g-font-weight-700 g-color-white g-line-height-1_4  g-mb-16 g-px-20">
    {{ itemDirectory.name }} не выводит деньги? <br> Верните свое!
  </h4>
  <button class="d-block btn g-brd-around g-brd-teal g-bg-teal g-bg-transparent--hover g-rounded-10 g-font-size-16 g-color-white g-color-teal--hover g-transition-0_4 text-uppercase g-py-15 g-px-40 w-100">
    вернуть деньги
  </button>
</a>
