==
<!-- chargeback banner tablet version -->
<a
  class="d-flex align-items-center justify-content-between g-bg-img-hero g-rounded-10 g-height-80 g-height-100--md g-px-15 g-px-25--sm g-py-20 u-link-v5"
  href="{{ 'landings/landing-chargeback'|page }}"
  style="background-image:url({{'assets/build/img/banners/chargeback-bg.webp'|theme }});"
>
  <div class="d-flex align-items-center">
    <img src="{{ 'assets/build/img/banners/chargeback-icon.svg'|theme }}" alt="coins" class="g-width-48 g-ml-0 g-mr-15 g-mr-20--sm">
    <h4 class="g-font-size-11 g-font-size-default--md g-font-weight-500 g-color-white g-line-height-1_5 text-uppercase g-mb-0">
      Используйте чарджбэк для<br class="g-hidden-xs-down"> возврата денег на свой счет
    </h4>
  </div>

  <button class="btn rounded-0 g-bg-beige g-font-size-12 g-color-black g-py-10 g-py-12--md g-px-15 g-ml-10">
    Запустить&nbsp;чарджбэк
  </button>
</a>
