==
<!-- check broker banner mobile version -->
<a
  href="{{ 'landings/landing-check-broker'|page }}"
  class="d-flex flex-column justify-content-center align-items-center g-bg-indigo g-height-220 g-rounded-10 g-pa-15 u-link-v5"
>
  <h4 class="g-font-size-20 g-font-weight-700 g-color-white g-line-height-1_4 text-uppercase text-center g-mb-25">
    Бесплатный сервис проверки брокеров
  </h4>
  <button class="btn w-100 g-rounded-10 g-bg-white g-font-size-16 g-color-black g-py-13">
    Проверить брокера
  </button>
</a>