==
<!-- check broker banner -->
<a
  href="{{ 'landings/landing-check-broker'|page }}"
  class="d-flex justify-content-xl-between g-bg-indigo g-brd-around g-brd-indigo g-rounded-10 g-height-105 u-link-v5"
>
  <div class="d-flex align-items-end">
    <img
      src="{{ 'assets/build/img/banners/check-broker-banner-img.svg'|theme }}"
      alt="broker-expert"
      class="g-rounded-10 g-width-170 g-mr-15"
    >
  </div>

  <div class="d-flex align-items-center g-pr-30">
    <h4 class="g-font-size-20 g-font-weight-700 g-color-white g-line-height-1_3 g-mb-0">
      Бесплатный сервис<br>проверки брокеров
    </h4>
    <button class="btn g-rounded-10 g-bg-white g-font-size-16 g-color-black g-py-13 g-px-25 g-ml-15 g-hidden-lg-down">
      Проверить брокера
    </button>
  </div>
</a>