==
<!-- choose broker banner sidebar version -->
<a
  href="{{ 'landings/choose-broker'|page }}"
  class="d-flex flex-column justify-content-end align-items-center g-bg-img-hero g-height-350 g-rounded-10 g-py-50 g-px-20 u-link-v5"
  style="background-image: url({{ 'assets/build/img/banners/choose-broker-mobile-bg.svg'|theme }});"
>
  <h4 class="g-font-size-24 g-color-white g-line-height-1_4 text-center g-mb-15">
    Подбор брокера для успешного заработка
  </h4>
  <button class="btn g-rounded-10 g-bg-teal g-font-size-16 g-color-black g-py-13 g-px-35">
    Подобрать брокера
  </button>
</a>