==
<!-- choose broker banner mobile version -->
<a
  href="{{ 'landings/choose-broker'|page }}"
  class="d-flex flex-column justify-content-center align-items-center g-bg-img-hero g-height-220 g-rounded-10 g-pa-20 u-link-v5"
  style="background-image: url({{ 'assets/build/img/banners/choose-broker-mobile-bg.svg'|theme }});"
>
  <h4 class="g-font-size-18 g-color-white g-line-height-1_4 text-center g-mb-15">
    Подбор брокера для успешного заработка
  </h4>
  <button class="btn w-100 g-rounded-10 g-bg-teal g-font-size-16 g-color-black g-py-10">
    Подобрать брокера
  </button>
</a>
