==
<!-- choose broker banner -->
<a
  href="{{ 'landings/choose-broker'|page }}"
  class="d-flex justify-content-center justify-content-xl-between align-items-center g-bg-img-hero g-rounded-10 g-px-20 g-px-30--md g-py-30 u-link-v5"
  style="background-image: url({{ 'assets/build/img/banners/choose-broker-bg.jpg'|theme }});"
>
  <h4 class="g-font-size-18 g-font-size-24--md g-font-size-32--lg g-color-white g-line-height-1 g-mb-0">
    Подбор брокера для успешного заработка
  </h4>
  <button class="btn g-rounded-10 g-bg-teal g-font-size-16 g-color-black g-py-13 g-px-35 g-hidden-lg-down">
    Подобрать брокера
  </button>
</a>
