==
<!-- law aid banner mobile version -->
<a
  href="{{ 'landings/legal'|page }}"
  class="d-flex flex-column justify-content-center align-items-center g-bg-img-hero g-height-100x g-rounded-10 g-pa-20 u-link-v5"
  style="background-image:url({{ 'assets/build/img/banners/law-aid-bg-mob.svg'|theme }});"
>
  <h4 class="g-font-size-20 g-font-weight-700 g-color-white g-line-height-1_4 text-uppercase text-center g-mb-20">
    Правовая помощь в возврате средств 
  </h4>
  <button class="btn w-100 g-rounded-10 g-bg-indigo g-font-size-15 g-color-white text-uppercase g-py-13">
    Вернуть средства
  </button>
</a>