==
<!-- law aid banner sidebar version -->
<a
  href="{{ 'landings/choose-broker'|page }}"
  class="d-flex flex-column justify-content-center align-items-center g-overflow-hidden g-rounded-10 u-link-v5 g-bg-img-hero g-py-40 g-px-20"
  style="background-image: url({{ 'assets/build/img/banners/banner-blog-bg.png'|theme }});"
>
  <h4 class="g-font-size-24 g-font-weight-700 g-color-white g-line-height-1_4 text-center g-mb-25">
    Мошенников много, надежных брокеров — единицы
  </h4>
  <button class="btn d-block rounded-0 g-bg-white g-font-size-16 g-color-black text-uppercase g-py-13 g-px-30 g-mb-10 g-mb-30--lg mx-auto">
    Подобрать брокера
  </button>
</a>
