==
<section class="g-bg-gray-light-v5 g-pt-40 g-pt-70--md g-pb-20 g-pb-50--md">
  <div class="container">
    <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-20">
      Чарджбэк — способ вернуть свои деньги
    </h2>

    <div class="row g-mb-20 g-mb-40--md">
      <div class="col-12 col-lg-6">
        <p class="g-font-size-14 g-font-size-16--md g-color-gray-dark-v2 g-line-height-1_5 g-mb-15 g-mb-0--lg">
          Согласно международному праву, чарджбэком является процесс отмены нежелательных транзакций. Оформить возврат средств можно в отношении любой компании, которая взяла плату за свои услуги, но не оказала их или сделала это в ненадлежащем виде.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <p class="g-font-size-14 g-font-size-16--md g-color-gray-dark-v2 g-line-height-1_5 g-mb-0">
          Благодаря чарджбэку вы можете оформить возврат на онлайн-кошелёк, банковскую карту или свой счёт. После процедуры недобросовестную организацию ожидает ряд ограничений на осуществление деятельности.
        </p>
      </div>
    </div>

    <div class="row">
      <!-- card 1 -->
      <div class="col-12 col-sm-6 col-lg-3 g-pr-10--sm g-pr-15--lg g-pr-20--xl g-mb-20">
        <div class="d-flex flex-column align-items-center g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <img
            src="{{ 'assets/build/img/landings/landing-chargeback-2/about-icon-1.svg'|theme }}"
            class="g-mb-30"
            alt="Работают эксперты"
          >
          <h4 class="g-font-size-16 g-font-size-20--md g-font-weight-500 g-line-height-1_4 g-color-black text-center g-mb-8">
            Работают эксперты
          </h4>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Каждый пользователь получает консультацию от юриста, имеющего исчерпывающий опыт в делах оспаривания транзакций
          </p>
        </div>
      </div>
      <!-- end card 1 -->

      <!-- card 2 -->
      <div class="col-12 col-sm-6 col-lg-3 g-pr-15 g-pr-20--xl g-pl-10--sm g-pl-15--lg g-pl-20--xl g-mb-20">
        <div class="d-flex flex-column align-items-center g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <img
            src="{{ 'assets/build/img/landings/landing-chargeback-2/about-icon-2.svg'|theme }}"
            class="g-mb-30"
            alt="Консультации под ключ"
          >
          <h4 class="g-font-size-16 g-font-size-20--md g-font-weight-500 g-line-height-1_4 g-color-black text-center g-mb-8">
            Консультации «под ключ»
          </h4>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Юрист в индивидуальном порядке составляет стратегию, изучив дело, и подготавливает список документов
          </p>
        </div>
      </div>
      <!-- end card 2 -->

      <!-- card 3 -->
      <div class="col-12 col-sm-6 col-lg-3 g-pr-10--sm g-pr-15--lg g-pr-20--xl g-pl-15 g-pl-20--xl g-mb-20">
        <div class="d-flex flex-column align-items-center g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <img
            src="{{ 'assets/build/img/landings/landing-chargeback-2/about-icon-3.svg'|theme }}"
            class="g-mb-30"
            alt="Поддержка 24/7"
          >
          <h4 class="g-font-size-16 g-font-size-20--md g-font-weight-500 g-line-height-1_4 g-color-black text-center g-mb-8">
            Поддержка 24/7
          </h4>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Пользователи всегда могут рассчитывать на круглосуточную поддержку в мессенджерах и по телефону
          </p>
        </div>
      </div>
      <!-- end card 3 -->

      <!-- card 4 -->
      <div class="col-12 col-sm-6 col-lg-3 g-pl-10--sm g-pl-15--lg g-pl-20--xl g-mb-20">
        <div class="d-flex flex-column align-items-center g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <img
            src="{{ 'assets/build/img/landings/landing-chargeback-2/about-icon-4.svg'|theme }}"
            class="g-mb-30"
            alt="Соблюдение правил"
          >
          <h4 class="g-font-size-16 g-font-size-20--md g-font-weight-500 g-line-height-1_4 g-color-black text-center g-mb-8">
            Соблюдение правил
          </h4>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Вы сможете запустить чарджбэк грамотно, следуя регламенту и правилам, а также с минимальными рисками отказа
          </p>
        </div>
      </div>
      <!-- end card 4 -->
    </div>
  </div>
</section>
