==
<section class="g-bg-gray-light-v5 g-pt-40 g-pt-70--md g-pb-20 g-pb-30--md">
  <div class="container">
    <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-20 g-mb-40--md">
      Сложности при самостоятельном чарджбэке
    </h2>
    <div class="row">
      <!-- card 1 -->
      <div class="col-12 col-md-6 g-pr-20--md g-mb-20 g-mb-40--md">
        <div class="d-flex flex-column align-items-center g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <img
            src="{{ 'assets/build/img/landings/landing-chargeback-2/self-icon-1.svg'|theme }}"
            class="g-mb-30"
            alt="Неэффективный подход"
          >
          <h3 class="g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-color-black text-center g-mb-8">
            Неэффективный подход
          </h3>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Не стоит делать «зеркальных платежей», заказывать разоблачающие статьи или открывать доступ к своим финансовым данным сомнительным организациям
          </p>
        </div>
      </div>
      <!-- end card 1 -->

      <!-- card 2 -->
      <div class="col-12 col-md-6 g-pl-20--md g-mb-20 g-mb-40--md">
        <div class="d-flex flex-column align-items-center g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <img
            src="{{ 'assets/build/img/landings/landing-chargeback-2/self-icon-2.svg'|theme }}"
            class="g-mb-30"
            alt="Регламенты финансовых учреждений"
          >
          <h3 class="g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-color-black text-center g-mb-8">
            Регламенты финансовых учреждений
          </h3>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Visa и Mastercard проводят политику на английском языке; у обменников и интернет-кошельков действуют свои правила, без знания которых не обойтись
          </p>
        </div>
      </div>
      <!-- end card 2 -->

      <!-- card 3 -->
      <div class="col-12 col-md-6 g-pr-20--md g-mb-20 g-mb-40--md">
        <div class="d-flex flex-column align-items-center g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <img
            src="{{ 'assets/build/img/landings/landing-chargeback-2/self-icon-3.svg'|theme }}"
            class="g-mb-30"
            alt="Формирование заявления"
          >
          <h3 class="g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-color-black text-center g-mb-8">
            Формирование заявления
          </h3>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Все шаблоны обращений, которые можно найти в сети, не работают и зачастую приводят к отказам. Любое обращение должно быть персонализированным
          </p>
        </div>
      </div>
      <!-- end card 3 -->

      <!-- card 4 -->
      <div class="col-12 col-md-6 g-pl-20--md g-mb-20 g-mb-40--md">
        <div class="d-flex flex-column align-items-center g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <img
            src="{{ 'assets/build/img/landings/landing-chargeback-2/self-icon-4.svg'|theme }}"
            class="g-mb-30"
            alt="Неправильное взаимодействие"
          >
          <h3 class="g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-color-black text-center g-mb-8">
            Неправильное взаимодействие
          </h3>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Ни одна финансовая организация не заинтересована в возврате. Поэтому пользователь должен знать, как реагировать на вопросы и отказы
          </p>
        </div>
      </div>
      <!-- end card 4 -->

      <!-- card 5 -->
      <div class="col-12 col-md-6 g-pr-20--md g-mb-20 g-mb-40--md">
        <div class="d-flex flex-column align-items-center g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <img
            src="{{ 'assets/build/img/landings/landing-chargeback-2/self-icon-5.svg'|theme }}"
            class="g-mb-30"
            alt="Отказ в чарджбэке"
          >
          <h3 class="g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-color-black text-center g-mb-8">
            Отказ в чарджбэке
          </h3>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Банки и платёжные сервисы могут отказать в процедуре чарджбэка. На этом этапе многие сдаются, не зная, что дело можно вернуть на рассмотрение
          </p>
        </div>
      </div>
      <!-- end card 5 -->

      <!-- card 6 -->
      <div class="col-12 col-md-6 g-pl-20--md g-mb-20 g-mb-40--md">
        <div class="d-flex flex-column align-items-center g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <img
            src="{{ 'assets/build/img/landings/landing-chargeback-2/self-icon-6.svg'|theme }}"
            class="g-mb-30"
            alt="Расход множества времени"
          >
          <h3 class="g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-color-black text-center g-mb-8">
            Расход множества времени
          </h3>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Сроки процесса могут неоправданно затянуться, ведь заполнение многочисленных документов и посещение офисов занимает огромное количество времени
          </p>
        </div>
      </div>
      <!-- end card 6 -->
    </div>
  </div>
</section>
