==
<section class="g-bg-gray-light-v5 g-pb-40 g-pb-70--md">
  <div class="container">
    <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-20 g-mb-40--md">
      Ответы на популярные вопросы
    </h2>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10">
        <div>
          <div
            id="accordion-1"
            class="u-accordion"
            role="tablist"
            aria-multiselectable="true"
            itemscope itemtype="https://schema.org/FAQPage"
          >
            <!-- Card 1 -->
            <div
              class="g-bg-white rounded-0 u-shadow-v25 g-mb-25 card g-brd-none"
              itemscope
              itemtype="https://schema.org/Question"
              itemprop="mainEntity"
            >
              <div
                id="accordion-1-heading-01"
                class="u-accordion__header g-pa-0"
                role="tab"
              >
                <h5 class="mb-0" itemprop="name">
                  <a
                    class="d-flex align-items-center justify-content-between g-color-black g-font-size-16 g-font-size-24--md g-font-weight-500 g-line-height-1_2 g-text-underline--none--hover g-px-15 g-px-20--md g-py-15 g-py-35--md"
                    href="#answer-1-1"
                    data-toggle="collapse"
                    data-parent="#accordion-1"
                    aria-expanded="true"
                    aria-controls="answer-1-1"
                  >
                    Какая схема процедуры чарджбэка? Как это работает?
                    <span class="u-accordion__control-icon g-ml-10">
                      <i class="material-icons g-font-size-30">add</i>
                      <i class="material-icons g-font-size-30">clear</i>
                  </span>
                  </a>
                </h5>
              </div>
              <div
                id="answer-1-1"
                class="collapse show"
                role="tabpanel"
                aria-labelledby="accordion-1-heading-01"
                data-parent="#accordion-1"
                itemprop="acceptedAnswer"
                itemtype="https://schema.org/Answer"
                itemscope
              >
                <div class="u-accordion__body g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_5 g-pt-0 g-pb-20 g-pb-40--md g-px-15 g-px-20--md" itemprop="text">
                  <p>
                  Если говорить о банковском возврате, в таком случае в деле принимают участие 5 сторон: плательщик, банк-эмитент, платежная система, банк-получатель и, конечно, юридическое лицо. Задача плательщика заключается в подготовке специального заявления, а также в формировании пакета доказательств. При обращении в банк со всеми необходимыми документами сотрудник банка подает заявку в платежную систему. Платежная система в результате выносит свой вердикт.
                  </p>
                  <p>
                    При отмене платежа через электронный кошелек в процессе принимают участие 3 стороны: плательщик, сервис и получатель. Задача плательщика в том, чтобы следовать правилам сервиса. Нередко для решения проблемы достаточно обратиться к представителям технической поддержки.
                  </p>
                  <p class="g-mb-0">
                    Сегодня чарджбэк в разном формате существует практически во всех учреждениях финансового типа. С одной стороны это расширяет возможности клиентов, а с другой — требует осведомленности и глубокого знания всех регламентов.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Card 1 -->

            <!-- Card 2 -->
            <div
              class="g-bg-white rounded-0 u-shadow-v25 g-mb-25 card g-brd-none"
              itemscope
              itemtype="https://schema.org/Question"
              itemprop="mainEntity"
            >
              <div
                id="accordion-1-heading-02"
                class="u-accordion__header g-pa-0"
                role="tab"
              >
                <h5 class="mb-0" itemprop="name">
                  <a
                    class="d-flex align-items-center justify-content-between g-color-black g-font-size-16 g-font-size-24--md g-font-weight-500 g-line-height-1_2 g-text-underline--none--hover g-px-15 g-px-20--md g-py-15 g-py-35--md collapsed"
                    href="#answer-2-1"
                    data-toggle="collapse"
                    data-parent="#accordion-1"
                    aria-expanded="false"
                    aria-controls="answer-2-1"
                  >
                    Что эффективнее: полиция или чарджбэк?
                    <span class="u-accordion__control-icon g-font-size-22 g-ml-10">
                      <i class="material-icons g-font-size-30">add</i>
                      <i class="material-icons g-font-size-30">clear</i>
                    </span>
                  </a>
                </h5>
              </div>

              <div
                id="answer-2-1"
                class="collapse"
                role="tabpanel"
                aria-labelledby="accordion-1-heading-02"
                data-parent="#accordion-1"
                itemprop="acceptedAnswer"
                itemtype="https://schema.org/Answer"
                itemscope
              >
                <div class="u-accordion__body g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_5 g-pt-0 g-pb-20 g-pb-40--md g-px-15 g-px-20--md" itemprop="text">
                  <p>
                    Правоохранительными органами достаточно редко расследуются дела по финансовым махинациям. В качестве отказа могут прозвучать разные причины. Но наиболее популярная — отсутствие специфической среды для осуществления следственных действий.
                  </p>
                  <p class="g-mb-0">
                    В то же время, если полиция доказала вину, в таком случае к компании применяется судебное разбирательство. Здесь начинается замкнутый круг. Поэтому для большинства пользователей наилучшим решением остается все же чарджбэк.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Card 2 -->

            <!-- Card 3 -->
            <div
              class="g-bg-white rounded-0 u-shadow-v25 g-mb-25 card g-brd-none"
              itemscope
              itemtype="https://schema.org/Question"
              itemprop="mainEntity"
            >
              <div
                id="accordion-1-heading-03"
                class="u-accordion__header g-pa-0"
                role="tab"
              >
                <h5 class="mb-0" itemprop="name">
                  <a
                    class="d-flex align-items-center justify-content-between g-color-black g-font-size-16 g-font-size-24--md g-font-weight-500 g-line-height-1_2 g-text-underline--none--hover g-px-15 g-px-20--md g-py-15 g-py-35--md collapsed"
                    href="#answer-3-1"
                    data-toggle="collapse"
                    data-parent="#accordion-1"
                    aria-expanded="false"
                    aria-controls="answer-3-1"
                  >
                    Что влияет на успех процедуры?
                    <span class="u-accordion__control-icon g-font-size-22 g-ml-10">
                      <i class="material-icons g-font-size-30">add</i>
                      <i class="material-icons g-font-size-30">clear</i>
                    </span>
                  </a>
                </h5>
              </div>

              <div
                id="answer-3-1"
                class="collapse"
                role="tabpanel"
                aria-labelledby="accordion-1-heading-03"
                data-parent="#accordion-1"
                itemprop="acceptedAnswer"
                itemtype="https://schema.org/Answer"
                itemscope
              >
                <div class="u-accordion__body g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_5 g-pt-0 g-pb-20 g-pb-40--md g-px-15 g-px-20--md" itemprop="text">
                  <p>
                    Всегда стоит помнить о том, что подача заявки не всегда может увенчаться успехом. Банки могут отказать или одобрить лишь частичный возврат. Но на успех процедуры все же сильно влияют следующие факторы:
                  </p>
                  <ul>
                    <li>внутренние правила банка или электронного кошелька;</li>
                    <li>временные рамки подачи заявки;</li>
                    <li>размер транзакции;</li>
                    <li>местоположение плательщика и получателя;</li>
                    <li>тип платежной системы и т. д.</li>
                  </ul>
                  <p class="g-mb-0">
                    Для получения прогноза конкретно по вашему делу необходимо оставить заявку на сайте, после чего с вами свяжется консультант.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Card 3 -->

            <!-- Card 4 -->
            <div
              class="g-bg-white rounded-0 u-shadow-v25 g-mb-25 card g-brd-none"
              itemscope
              itemtype="https://schema.org/Question"
              itemprop="mainEntity"
            >
              <div
                id="accordion-1-heading-04"
                class="u-accordion__header g-pa-0"
                role="tab"
              >
                <h5 class="mb-0" itemprop="name">
                  <a
                    class="d-flex align-items-center justify-content-between g-color-black g-font-size-16 g-font-size-24--md g-font-weight-500 g-line-height-1_2 g-text-underline--none--hover g-px-15 g-px-20--md g-py-15 g-py-35--md collapsed"
                    href="#answer-4-1"
                    data-toggle="collapse"
                    data-parent="#accordion-1"
                    aria-expanded="false"
                    aria-controls="answer-4-1"
                  >
                    Как долго оформляется возврат?
                    <span class="u-accordion__control-icon g-font-size-22 g-ml-10">
                      <i class="material-icons g-font-size-30">add</i>
                      <i class="material-icons g-font-size-30">clear</i>
                    </span>
                  </a>
                </h5>
              </div>

              <div
                id="answer-4-1"
                class="collapse"
                role="tabpanel"
                aria-labelledby="accordion-1-heading-04"
                data-parent="#accordion-1"
                itemprop="acceptedAnswer"
                itemtype="https://schema.org/Answer"
                itemscope
              >
                <div class="u-accordion__body g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_5 g-pt-0 g-pb-20 g-pb-40--md g-px-15 g-px-20--md" itemprop="text">
                  <p>
                    Средние сроки отмены платежа и возврата денег на карту составляют 1-2 месяца. Известны крайне редкие случаи, когда возврат происходил за один день. Случается и так, что чарджбэк может затянутся до полугода.
                  </p>
                  <p class="g-mb-0">
                    Скорость возврата всегда индивидуальна. На нее влияет совокупность всех факторов, начиная от давности перевода, заканчивая суммой. Также влияет последовательность действий инициатора чарджбэка.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Card 4 -->

            <!-- Card 5 -->
            <div
              class="g-bg-white rounded-0 u-shadow-v25 card g-brd-none"
              itemscope
              itemtype="https://schema.org/Question"
              itemprop="mainEntity"
            >
              <div
                id="accordion-1-heading-05"
                class="u-accordion__header g-pa-0"
                role="tab"
              >
                <h5 class="mb-0" itemprop="name">
                  <a
                    class="d-flex align-items-center justify-content-between g-color-black g-font-size-16 g-font-size-24--md g-font-weight-500 g-line-height-1_2 g-text-underline--none--hover g-px-15 g-px-20--md g-py-15 g-py-35--md collapsed"
                    href="#answer-5-1"
                    data-toggle="collapse"
                    data-parent="#accordion-1"
                    aria-expanded="false"
                    aria-controls="answer-5-1"
                  >
                    Реально ли оформить чарджбэк своими силами?
                    <span class="u-accordion__control-icon g-font-size-22 g-ml-10">
                      <i class="material-icons g-font-size-30">add</i>
                      <i class="material-icons g-font-size-30">clear</i>
                    </span>
                  </a>
                </h5>
              </div>

              <div
                id="answer-5-1"
                class="collapse"
                role="tabpanel"
                aria-labelledby="accordion-1-heading-05"
                data-parent="#accordion-1"
                itemprop="acceptedAnswer"
                itemtype="https://schema.org/Answer"
                itemscope
              >
                <div class="u-accordion__body g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_5 g-pt-0 g-pb-20 g-pb-40--md g-px-15 g-px-20--md" itemprop="text">
                  <p class="g-mb-0">
                    Абсолютно любой пользователь в праве стать инициатором чарджбэка. Но путь возврата будет полон бюрократических препятствий и подводных камней. По этой причине наилучшим способом будет привлечение юристов, специализирующихся на оспаривании денежных переводов.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Card 5 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
