==
<section class="g-py-40 g-py-80--md">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-10">
        <h3 class="g-font-size-20 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-10 g-mb-20--md">
          Как работают наши специалисты?
        </h3>
        <p class="g-font-size-14 g-font-size-18--md g-line-height-1_4 g-color-gray-dark-v2 text-center g-mb-20 g-mb-40--md">
          Четкий алгоритм и углубленные знания в сфере брокерской деятельности помогут<br class="g-hidden-md-down">
          экспертам быстро предоставить вам все необходимые данные. Как происходит подбор?
        </p>
        <img
          data-src="{{ 'assets/build/img/landings/choose-broker/how-it-works-img.webp'|theme }}"
          alt="Как работают наши специалисты"
          class="w-100 lazyload g-mb-20 g-mb-30--md"
        >
        <div class="row">
          <!-- 01 -->
          <div class="col-12 col-md-6 d-flex g-mb-20 g-mb-50--md">
            <div class="g-font-size-18 g-font-weight-700 g-line-height-1_4 g-color-black g-mr-20">
              01
            </div>
            <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 g-mb-0">
              После того, как вы оставите заявку, специалисты обработают ее и свяжутся с вами
            </p>
          </div>
          <!-- 02 -->
          <div class="col-12 col-md-6 d-flex g-mb-20 g-mb-50--md">
            <div class="g-font-size-18 g-font-weight-700 g-line-height-1_4 g-color-black g-mr-20">
              02
            </div>
            <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 g-mb-0">
              Вы предоставляете всю необходимую информацию и пожелания по подбору брокера
            </p>
          </div>
          <!-- 03 -->
          <div class="col-12 col-md-6 d-flex g-mb-20 g-mb-50--md">
            <div class="g-font-size-18 g-font-weight-700 g-line-height-1_4 g-color-black g-mr-20">
              03
            </div>
            <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 g-mb-0">
              Специалисты начинают подбор и проверку одного или нескольких брокеров, которые соответствуют вашим пожеланиям
            </p>
          </div>
          <!-- 04 -->
          <div class="col-12 col-md-6 d-flex g-mb-20 g-mb-50--md">
            <div class="g-font-size-18 g-font-weight-700 g-line-height-1_4 g-color-black g-mr-20">
              04
            </div>
            <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 g-mb-0">
              Для вас будет предложено несколько вариантов на выбор
            </p>
          </div>
          <!-- 05 -->
          <div class="col-12 col-md-6 d-flex g-mb-20 g-mb-40--md">
            <div class="g-font-size-18 g-font-weight-700 g-line-height-1_4 g-color-black g-mr-20">
              05
            </div>
            <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 g-mb-0">
              Вы регистрируетесь на сайте специально подобранного брокера и начинаете успешно торговать
            </p>
          </div>
          <!-- 06 -->
          <div class="col-12 col-md-6 d-flex g-mb-20 g-mb-40--md">
            <div class="g-font-size-18 g-font-weight-700 g-line-height-1_4 g-color-black g-mr-20">
              06
            </div>
            <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 g-mb-0">
              В любой момент вы всегда можете вернуться и задать вопросы экспертам касательно вашего брокера
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-center g-mt-10 g-mt-0--md">
          <a
            href="#contact-form"
            data-target="#contact-form"
            class="js-go-to btn rounded-0 g-bg-aqua g-bg-gray-dark-v2--hover g-font-size-16 g-color-black g-color-aqua--hover g-letter-spacing-1 text-uppercase g-transition-0_5 g-py-15 g-px-30"
          >
            Задать вопрос
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
