==
<section class="g-bg-pos-left-center g-bg-no-repeat g-bg-size-cover g-py-50 g-py-80--md g-py-150--lg" style="background-image: url({{ 'assets/build/img/landings/choose-broker/promo-bg.webp'|theme }});">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-9">
        <h1 class="g-font-size-26 g-font-size-40--sm g-font-size-50--md g-font-size-60--lg g-font-weight-700 g-line-height-1_2 g-color-black text-uppercase g-mb-10 g-mb-20--md">
          Подбор честного и надёжного брокера
        </h1>
        <p class="g-font-size-14 g-font-size-20--md g-line-height-1_4 g-color-gray-dark-v2 g-mb-20 g-mb-40--md">
          Специалисты помогут провести полный анализ брокера, включая его репутационные и юридические данные. Такой простой шаг поможет избежать контакта с мошенниками и недобросовестными организациями. Вы можете отправить заявку и получить помощь в подборе надёжного финансового партнёра прямо сейчас!
        </p>
        <a
          href="#contact-form"
          data-target="#contact-form"
          class="js-go-to btn rounded-0 g-bg-aqua g-bg-gray-dark-v2--hover g-font-size-16 g-color-black g-color-aqua--hover g-letter-spacing-1 text-uppercase g-transition-0_5 g-py-15 g-px-30"
        >
          Подобрать брокера
        </a>
      </div>
    </div>

  </div>
</section>
