==
<section class="g-bg-white-opacity-0_05 g-py-40 g-py-70--lg">
    <div class="container">
        <h2 class="g-color-white g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-10 text-center">Этапы процедуры возврата</h2>
        <div class="g-color-white-opacity-0_8 g-font-size-16 g-line-height-1_5 g-font-weight-400 text-center g-mb-30 g-mb-60--lg">Чтобы специалисты помогли вернуть деньги, необходимо пройти через несколько простых этапов</div>
        <div class="row">
            <div class="col-12 col-md-6 g-mb-40 g-mb-60--lg">
                <div class="g-height-100x g-rounded-5 g-bg-darkblue g-pa-30 g-pa-40--lg g-mr-15--md" >
                    <div class="d-flex align-items-center g-mb-25">
                        <div class="g-font-size-60 g-font-weight-500 g-color-deeporange" >01</div>
                        <div class="g-color-white g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_5 g-ml-15">Выбор специалиста или команды специалистов</div>
                    </div>
                    <div class="g-color-white-opacity-0_8 g-font-size-16 g-font-weight-400 g-line-height-1_5">У вас имеются снимки экрана, являющиеся подтверждением деятельности на личном аккаунте площадки, через которую и осуществлялась инвестиционная или игорная активность</div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-40 g-mb-60--lg">
                <div class="g-height-100x g-rounded-5 g-bg-darkblue g-pa-30 g-pa-40--lg g-ml-15--md" >
                    <div class="d-flex align-items-center g-mb-25">
                        <div class="g-font-size-60 g-font-weight-500 g-color-deeporange" >02</div>
                        <div class="g-color-white g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_5 g-ml-15">Подписание договора о сотрудничестве</div>
                    </div>
                    <div class="g-color-white-opacity-0_8 g-font-size-16 g-font-weight-400 g-line-height-1_5">После передачи дела специалистам и составления плана по возврату денежных средств, заключается договор о предоставлении юридических услуг соответствующего характера</div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-40 g-mb-60--lg">
                <div class="g-height-100x g-rounded-5 g-bg-darkblue g-pa-30 g-pa-40--lg g-mr-15--md" >
                    <div class="d-flex align-items-center g-mb-25">
                        <div class="g-font-size-60 g-font-weight-500 g-color-deeporange" >03</div>
                        <div class="g-color-white g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_5 g-ml-15">Составление пакета документов</div>
                    </div>
                    <div class="g-color-white-opacity-0_8 g-font-size-16 g-font-weight-400 g-line-height-1_5">Доказательная база по вопросу о незаконном хищении денежных средств составляется при вашем максимальном содействии</div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-40 g-mb-60--lg">
                <div class="g-height-100x g-rounded-5 g-bg-darkblue g-pa-30 g-pa-40--lg g-ml-15--md" >
                    <div class="d-flex align-items-center g-mb-25">
                        <div class="g-font-size-60 g-font-weight-500 g-color-deeporange" >04</div>
                        <div class="g-color-white g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_5 g-ml-15">Отправка запроса в регулирующие органы</div>
                    </div>
                    <div class="g-color-white-opacity-0_8 g-font-size-16 g-font-weight-400 g-line-height-1_5">Правовая организация отправит многочисленные запросы в соответствующие органы с целью скорейшей активации процесса разбирательства по вашему делу</div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-40 g-mb-60--lg">
                <div class="g-height-100x g-rounded-5 g-bg-darkblue g-pa-30 g-pa-40--lg g-mr-15--md" >
                    <div class="d-flex align-items-center g-mb-25">
                        <div class="g-font-size-60 g-font-weight-500 g-color-deeporange" >05</div>
                        <div class="g-color-white g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_5 g-ml-15">Подтверждение факта кражи денег</div>
                    </div>
                    <div class="g-color-white-opacity-0_8 g-font-size-16 g-font-weight-400 g-line-height-1_5">Ваш персональный юрист начнет процедуру возврата денежных средств на банковский счет сразу после того, как соответствующие органы подтвердят факт хищения денежных средств</div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-40 g-mb-60--lg">
                <div class="g-height-100x g-rounded-5 g-bg-darkblue g-pa-30 g-pa-40--lg g-ml-15--md" >
                    <div class="d-flex align-items-center g-mb-25">
                        <div class="g-font-size-60 g-font-weight-500 g-color-deeporange" >06</div>
                        <div class="g-color-white g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_5 g-ml-15">Возврат</div>
                    </div>
                    <div class="g-color-white-opacity-0_8 g-font-size-16 g-font-weight-400 g-line-height-1_5">Денежные средства в полном объеме поступят на банковский счет, указанный вами в договоре. Именно этот счет будет фигурировать в запросе, отправленном регулирующим органами</div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-40 g-mb-60--lg">
                <div class="g-height-100x g-rounded-5 g-bg-darkblue g-pa-30 g-pa-40--lg g-mr-15--md">
                    <div class="d-flex align-items-center g-mb-25">
                        <div class="g-font-size-60 g-font-weight-500 g-color-deeporange">07</div>
                        <div class="g-color-white g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_5 g-ml-15">Оплата услуг юристов</div>
                    </div>
                    <div class="g-color-white-opacity-0_8 g-font-size-16 g-font-weight-400 g-line-height-1_5">Исходя из положений в договоре, вы осуществляете оплату только после оказания всех юридических услуг и поступления денежных средств на счет. Размер оплаты фиксирован. Размер суммы возврата на оплату услуг не влияет</div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-40 g-mb-60--lg">
                <div class="g-bg-size-cover g-height-100x g-rounded-5 d-flex flex-column justify-content-center align-items-center g-pa-30 g-pa-40--lg g-ml-15--md" style="background-image: url( {{ 'assets/build/img/landings/legal/bg.jpg' | theme }} )">
                    <div class="g-color-darkblue g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_5 text-center g-mb-25">Заполните заявку, чтобы с вами связались специалисты</div>
                    <a href="#legal-banner" data-toggle="modal" class="btn g-bg-darkblue g-bg-black--hover g-color-white g-font-size-16 text-uppercase g-py-15 g-px-30 g-max-width-250">Хочу консультацию</a>
                </div>
            </div>
        </div>
    </div>
</section>