==
<section class="g-py-40 g-py-70--lg">
    <div class="container" >
        <div class="g-rounded-5 g-height-600 g-bg-size-cover d-flex flex-column justify-content-end" style="background-image: url( {{ 'assets/build/img/landings/legal/pic.jpg' | theme }} )">
            <div class="row justify-content-end">
                <div class="col-12 col-lg-8 g-pt-150">
                    <div class="g-rounded-5 g-bg-white-opacity-0_9 g-pa-30 g-pa-40--lg">
                        <h2 class="g-color-black g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-25">
                        Грамотное правовое сопровождение — ключ к решению проблемы!</h2>
                    
                        <div class="g-color-gray-dark-v2 g-font-size-16 g-line-height-1_5 g-font-weight-400">
                            <p>Вы найдете для себя именно ту правовую компанию, которая позволит решить вопросы денежного возврата и возмещения убытков в самых разных финансовых ситуациях.
                            </p>
                            <p>Подбор юристов осуществляется, опираясь на индивидуальную ситуацию клиента. Специалисты обладают высоким уровнем квалификации и огромным опытом в разрешении даже самых запущенных дел.
                            </p>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</section>