==
<section class="g-py-40 g-py-70--lg">
    <div class="container">
        <h2 class="g-color-white g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-30 g-mb-60--lg text-center">Какие условия сотрудничества?</h2>
        <div class="row">
           <div class="col-12 col-md-6 text-center g-mb-40 g-mb-60--lg">
                <img class="d-block mx-auto g-mb-20 g-mb-35--lg" src="{{ 'assets/build/img/landings/legal/icon-1.svg'|theme }}">
                <div class="g-color-white g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_5 g-mb-15">У вас имеются доказательства</div>
                <div class="g-color-white-opacity-0_8 g-font-size-16 g-font-weight-400 g-line-height-1_5">Вы можете предоставлять все необходимые доказательства взаимодействия с компанией или конкретным лицом, принимающим участие в мошенничестве с целью присвоения ваших денежных средств</div>
           </div>
           <div class="col-12 col-md-6 text-center g-mb-40 g-mb-60--lg">
                <img class="d-block mx-auto g-mb-20 g-mb-35--lg" src="{{ 'assets/build/img/landings/legal/icon-2.svg'|theme }}">
                <div class="g-color-white g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_5 g-mb-15">Вы можете предоставить скриншоты</div>
                <div class="g-color-white-opacity-0_8 g-font-size-16 g-font-weight-400 g-line-height-1_5">У вас имеются снимки экрана, являющиеся подтверждением деятельности на личном аккаунте площадки, через которую и осуществлялась инвестиционная или игорная активность</div>
            </div>
            <div class="col-12 col-md-6 text-center g-mb-40 g-mb-60--lg">
                <img class="d-block mx-auto g-mb-20 g-mb-35--lg" src="{{ 'assets/build/img/landings/legal/icon-3.svg'|theme }}">
                <div class="g-color-white g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_5 g-mb-15">Вы сохранили документы</div>
                <div class="g-color-white-opacity-0_8 g-font-size-16 g-font-weight-400 g-line-height-1_5">В качестве подтверждения предшествующего партнёрства с лицами, фигурирующими в хищении денежных средств, у вас имеются все необходимые документы</div>
            </div>
            <div class="col-12 col-md-6 text-center g-mb-40 g-mb-60--lg">
                <img class="d-block mx-auto g-mb-20 g-mb-35--lg" src="{{ 'assets/build/img/landings/legal/icon-4.svg'|theme }}">
                <div class="g-color-white g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_5 g-mb-15">Итоговая сумма возврата</div>
                <div class="g-color-white-opacity-0_8 g-font-size-16 g-font-weight-400 g-line-height-1_5">Сумма, которая может подлежать возврату, составляет не менее 100 тыс. ₽ или сумму эквивалентного размера в альтернативной валюте</div>
            </div>
        </div>
    </div>
</section>