==
<section class="g-py-40 g-py-70--lg">
    <div class="container" >
        <div class="g-rounded-5 g-height-600 g-bg-size-cover" style="background-image: url( {{ 'assets/build/img/landings/legal/pic-2.jpg' | theme }} );">
            <div class="row justify-content-end align-items-end align-items-lg-center g-height-100x">
                <div class="col-12 col-lg-6 text-center text-lg-left">
                    <div class="g-rounded-5 g-bg-white-opacity-0_5 g-bg-transparent--lg g-py-30 g-px-30 g-px-0--lg g-max-width-400">
                        <h2 class="g-color-black g-font-size-24 g-font-size-30--md  g-font-weight-700 g-line-height-1_3 g-mb-20">Сомневаетесь, стоит ли попытаться?</h2>
                        <div class="g-color-gray-dark-v2 g-font-size-16 g-line-height-1_5 g-font-weight-400 g-mb-30 g-mb-40--lg">
                            Оставляйте свою заявку. Наши специалисты свяжутся с вами и предоставят бесплатную консультацию по всем интересующим вопросам
                        </div>
                        <a href="#legal-banner" data-toggle="modal"  class="btn g-bg-darkblue g-bg-black--hover g-color-white g-font-size-16 text-uppercase g-py-15 g-px-30 g-max-width-250">Хочу консультацию</a>
                    </div>
                </div>
             </div>
        </div>
    </div>
</section>