==
<section class="g-py-40 g-py-70--lg">
    <div class="container">
        <h2 class="g-color-white g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-40 g-mb-60--lg text-center">Наши главные достоинства</h2>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 text-center g-mb-40 g-mb-0--lg">
                <img class="g-mb-20 g-mb-35--lg" src="{{ 'assets/build/img/landings/legal/icon-folder-1.svg'|theme }}">
                <div class="g-color-white g-font-size-18 g-font-weight-500 g-line-height-1_5 g-mb-15">Конфиденциальность</div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center g-mb-40 g-mb-0--lg">
                <img class="g-mb-20 g-mb-35--lg" src="{{ 'assets/build/img/landings/legal/icon-clock-2.svg'|theme }}">
                <div class="g-color-white g-font-size-18 g-font-weight-500 g-line-height-1_5 g-mb-15">Доступ круглые сутки</div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center g-mb-40 g-mb-0--lg">
                <img class="g-mb-20 g-mb-35--lg" src="{{ 'assets/build/img/landings/legal/icon-forward-3.svg'|theme }}">
                <div class="g-color-white g-font-size-18 g-font-weight-500 g-line-height-1_5 g-mb-15">Вероятность успешной сделки близится к 100%</div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center g-mb-40 g-mb-0--lg">
                <img class="g-mb-20 g-mb-35--lg" src="{{ 'assets/build/img/landings/legal/icon-prize-4.svg'|theme }}">
                <div class="g-color-white g-font-size-18 g-font-weight-500 g-line-height-1_5 g-mb-15">Многочисленные партнёры в лице надёжных правовых компаний</div>
            </div>
        </div>
    </div>
</section>