==

<footer>
  <div class="g-py-40 g-py-60--sm g-py-80--md" style="background-color: #e9f7fe;">
    <div class="container">
      <div class="row g-mb-30 g-mb-40--lg">
        <div class="col-12 col-lg-4 order-2 order-lg-1 g-mb-30 g-mb-0--lg">
            <p class="g-font-size-14  g-color-gray-dark-v2 g-line-height-1_6 g-width-340 g-mb-0">
              Цель Financebar — сделать информацию доступной, распространить правду и помочь другим потребителям избежать ошибок
            </p>
        </div>

        <div class="col-12 col-lg-4 g-mb-15 g-mb-0--lg order-1 order-lg-2">
          <div class="d-flex flex-column align-items-start align-items-lg-center">
            <a href="/" class="navbar-brand g-mb-30">
              <img src="{{ 'assets/build/img/financebar-new/financebar-logo.svg' | theme }}" alt="Financebar" loading="lazy" width="260" height="43">
            </a>
          </div>
        </div>

        <div class="offset-0 offset-lg-1 col-12 col-lg-3 order-3 order-lg-3">
          <div class="d-flex flex-column">
            <div class="g-mb-15">
              <a href="tel:+7609043223456" class="g-font-size-14  g-color-gray-dark-v2">
                +760 904 322 34 56
              </a>
            </div>
            <div>
              <a href="mailto:info@financebar.net" class="g-font-size-14  g-color-gray-dark-v2">
                info@financebar.net
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 g-color-gray-dark-v2 g-font-size-14  text-left text-lg-center g-mb-15">
          © Financebar 2024 Вся информация на Financebar представлена в информационных целях и отражает частное мнение авторов проекта.
        </div>
        <div class="col-12 d-flex justify-content-start justify-content-lg-center">
          <a href="{{ 'misc/privacy'|page }}" class="d-block g-font-size-14  g-color-gray-dark-v2 g-mb-20 g-mb-0--lg g-brd-bottom--dashed g-brd-gray-dark-v5 u-link-v5 g-brd-transparent--hover">
            Политика конфиденциальности
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="g-bg-white g-py-65"></div> -->
</footer>
