{% set posts = componentCommentsPost.posts %}

{% if(componentCommentsPost.count) > 0 %}
<div id="comments-content" class="g-pt-40 g-pt-80--md">
  <h2 class="g-font-size-18 g-font-size-25--sm g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-10--md">
    Комментарии - <span id="comments-count">{{ componentCommentsPost.count }}</span>
  </h2>
</div>
{% endif %}

{% if(componentCommentsPost.count) > 0 %}
<div class="row">
  <div class="col-12 g-px-0 g-px-15--sm">
    <div class="comments">
      <ul>
        {% partial "componentCommentsPost::list" posts=posts %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
