==
<section
  class="g-bg-img-hero g-py-40 g-py-60--md g-overflow-hidden"
  style="background-image: url({{ 'assets/build/img/landings/landing-chargeback-2/promo-bg.jpg'|theme }});"
>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md-6 col-lg-7">
        <h1 class="g-font-size-26 g-font-size-35--md g-font-size-42--lg g-font-weight-700 g-line-height-1_3 g-color-white g-mb-15 g-mb-30--lg">
          Используйте чарджбэк для возврата денег на свой счет
        </h1>

        <p class="g-font-size-16 g-font-size-20--md g-line-height-1_4 g-color-white-opacity-0_8 g-mb-25 g-mb-0--md">
          Вы сотрудничали с ненадежной компанией и потеряли сбережения? Ознакомьтесь с актуальным и законным способом возврата средств. С помощью чарджбэка ваши платежи могут быть отменены уже в течение 1-2 месяцев.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="g-bg-white g-py-40 g-px-20 g-px-40--lg">
          <h3 class="g-font-size-24 g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-8 g-hidden-lg-down">
            Бесплатная консультация
          </h3>
          <h3 class="g-font-size-22 g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-8 g-hidden-xl-up">
            Бесплатная консультация
          </h3>
          <p class="g-font-size-14 g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-20 g-mb-30--md">
            Задайте все вопросы и сообщите о своей ситуации
          </p>
          <form data-request="{{genericForm}}::onFormSubmit" data-request-validate data-request-flash>
            {{ form_token() }}
            <div id="{{ genericForm}}_forms_flash"></div>
            <input type="hidden" name="url" value="{{ ''| page }}">
            <input type="hidden" name="type" value="promo-form">
            <!-- name -->
            <div class="form-group g-mb-20">
              <input
                class="form-control rounded-0 g-bg-transparent g-color-gray-dark-v2 g-font-size-16--md g-brd-around g-brd-gray-light-v3 g-brd-brown--hover g-transition-0_3 g-pa-15"
                name="name"
                id="name"
                type="text"
                placeholder="Ваше имя"
                required
              >
              <div data-validate-for="name" class="alert alert-danger"></div>
              <div data-validate-for="slug" class="alert alert-danger"></div>
            </div>
            <!-- phone -->
            <div class="form-group g-mb-20">
              <input
                name="phone"
                id="phone"
                type="tel"
                placeholder="Номер телефона"
                class="iti_phone form-control rounded-0 g-bg-transparent g-color-wgray-dark-v2 g-font-size-16--md g-brd-around g-brd-gray-light-v3 g-brd-brown--hover g-transition-0_3 g-pl-90 g-pr-15 g-py-15"
                required
              >
              <small class="iti_error-msg hide form-control-feedback"></small>
              <small class="iti_valid-msg hide form-control-feedback">✓ Правильный номер</small>
              <div data-validate-for="phone" class="alert alert-danger"></div>
            </div>
            <!-- email -->
            <div class="form-group g-mb-20">
              <input
                class="form-control rounded-0 g-bg-transparent g-color-gray-dark-v2 g-font-size-16--md g-brd-around g-brd-gray-light-v3 g-brd-brown--hover g-transition-0_3 g-pa-15"
                name="email"
                id="email"
                type="email"
                placeholder="Электронная почта"
                required
              >
              <div data-validate-for="email" class="alert alert-danger"></div>
            </div>
            <!-- checkbox -->
            <div class="form-group g-mb-20 g-mb-30--lg">
              <label for="check-2" class="form-check-inline u-check g-pl-35 mb-0 g-mr-0 d-flex flex-wrap g-line-height-1_3">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="check-2" id="check-2" type="checkbox" value="1" checked>
                <div class="u-check-icon-checkbox-v4 g-bg-beige g-brd-none g-absolute-centered--y g-left-0 g-width-25 g-height-25">
                  <i class="material-icons g-color-black g-font-size-16 g-absolute-centered g-left-0" data-check-icon="check"></i>
                </div>
                <span class="g-font-size-12 g-color-gray-dark-v2 g-mr-5">
                  Я даю согласие на
                  <a href="{{ 'misc/privacy'|page }}" class="g-color-gray-dark-v2 g-brd-gray-dark-v2 g-brd-transparent--hover g-transition-0_3 g-brd-bottom--dashed u-link-v5">обработку персональных данных</a>
                </span>
              </label>
            </div>
            <!-- button -->
            <button
              class="btn w-100 g-bg-beige g-bg-brown--hover rounded-0 g-font-size-16--md g-color-black g-transition-0_3 g-py-15"
              type="submit"
              data-attach-loading
            >
              Получить консультацию
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
