==
<section class="g-py-40 g-py-70--md">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 g-pr-20--md g-mb-20 g-mb-40--md">
        <div class="d-flex flex-column justify-content-center g-height-100x">
          <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black text-center text-md-left g-mb-20">
            Как происходит чарджбэк
          </h2>
          <p class="g-font-size-14 g-font-size-16--md g-color-gray-dark-v2 g-line-height-1_5 g-mb-0">
            Существует 5 этапов, которые нужно пройти, чтобы вернуть денежные средства. При поддержке юриста этот путь значительно упрощается
          </p>
        </div>
      </div>
      <!-- step 1 -->
      <div class="col-12 col-md-6 g-pl-20--md g-mb-20 g-mb-40--md">
        <div class="d-flex flex-column flex-lg-row align-items-center align-items-md-start g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <div class="g-mr-0 g-mr-30--lg">
            <img src="{{ 'assets/build/img/landings/landing-chargeback-2/num-1.png'|theme }}" alt="01">
          </div>
          <div>
            <h3 class="g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-color-black text-center text-md-left g-mb-8">
              Первичная консультация
            </h3>
            <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center text-md-left g-mb-0">
              Когда пользователь отправил заявку на консультацию, с ним связывается юрист по финансовым вопросам
            </p>
          </div>
        </div>
      </div>
      <!-- end step 1 -->

      <!-- step 2 -->
      <div class="col-12 col-md-6 g-pr-20--md g-mb-20 g-mb-40--md">
        <div class="d-flex flex-column flex-lg-row align-items-center align-items-md-start g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <div class="g-mr-0 g-mr-30--lg">
            <img src="{{ 'assets/build/img/landings/landing-chargeback-2/num-2.png'|theme }}" alt="02">
          </div>
          <div>
            <h3 class="g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-color-black text-center text-md-left g-mb-8">
              Анализ ситуации
            </h3>
            <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center text-md-left g-mb-0">
              Специалист детально анализирует дело, изучает нюансы, прогнозирует сроки возврата и сумму, даёт персональные рекомендации
            </p>
          </div>
        </div>
      </div>
      <!-- end step 2 -->

      <!-- step 3 -->
      <div class="col-12 col-md-6 g-pl-20--md g-mb-20 g-mb-40--md">
        <div class="d-flex flex-column flex-lg-row align-items-center align-items-md-start g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <div class="g-mr-0 g-mr-30--lg">
            <img src="{{ 'assets/build/img/landings/landing-chargeback-2/num-3.png'|theme }}" alt="03">
          </div>
          <div>
            <h3 class="g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-color-black text-center text-md-left g-mb-8">
              Запуск процедуры чарджбэка
            </h3>
            <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center text-md-left g-mb-0">
              После анализа юрист обеспечивает план для составления убедительного обращения и перечень необходимых дополнений
            </p>
          </div>
        </div>
      </div>
      <!-- end step 3 -->

      <!-- step 4 -->
      <div class="col-12 col-md-6 g-pr-20--md g-mb-20 g-mb-40--md">
        <div class="d-flex flex-column flex-lg-row align-items-center align-items-md-start g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <div class="g-mr-0 g-mr-30--lg">
            <img src="{{ 'assets/build/img/landings/landing-chargeback-2/num-4.png'|theme }}" alt="04">
          </div>
          <div>
            <h3 class="g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-color-black text-center text-md-left g-mb-8">
              Передача документов
            </h3>
            <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center text-md-left g-mb-0">
              Пользователь составляет обращение, формирует пакет с доказательствами и обращается в офис банка или электронного кошелька
            </p>
          </div>
        </div>
      </div>
      <!-- end step 4 -->

      <!-- step 5 -->
      <div class="col-12 col-md-6 g-pl-20--md g-mb-20 g-mb-40--md">
        <div class="d-flex flex-column flex-lg-row align-items-center align-items-md-start g-bg-white u-shadow-v25 g-height-100x g-px-20 g-py-30 g-py-40--md">
          <div class="g-mr-0 g-mr-30--lg">
            <img src="{{ 'assets/build/img/landings/landing-chargeback-2/num-5.png'|theme }}" alt="05">
          </div>
          <div>
            <h3 class="g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-color-black text-center text-md-left g-mb-8">
              Финальный результат
            </h3>
            <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center text-md-left g-mb-0">
              Пользователь получает решение банка или другой финансовой организации по поводу процедуры возврата
            </p>
          </div>
        </div>
      </div>
      <!-- end step 5 -->
    </div>
    <!-- button -->
    <div class="d-flex justify-content-center">
      <a
        href="#chargeback-consultation"
        data-modal-target="#chargeback-consultation"
        data-modal-effect="fadein"
        class="btn rounded-0 g-bg-beige g-bg-brown--hover g-transition-0_4 g-font-size-16 g-color-black g-py-16 g-px-30"
      >
        Получить консультацию
      </a>
    </div>
  </div>
</section>
