==
<section class="g-py-50 g-py-100--md">
  <div class="container">
    <h2 class="g-font-size-20 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black g-mb-8 g-mb-25--md">
      С помощью сервиса Financebar вы можете получить полную уверенность в брокере или отказаться от сотрудничества
    </h2>
    <p class="g-font-size-16 g-font-size-18--md g-color-gray-dark-v2 g-line-height-1_4 g-mb-16 g-mb-40--md">
      Сервис проверяет комплекс данных
    </p>
    <div class="row d-flex align-items-center">
      <div class="col-12 col-lg-6">
        <img
          data-src="{{ 'assets/build/img/landings/landing-check-broker/check-data-image.svg'|theme }}"
          class="lazyload w-100 img-fluid g-mb-50 g-mb-0--lg"
          alt="check data image"
        >
      </div>
      <div class="col-12 col-lg-6">
        <div>
          <!-- list item 1 -->
          <div class="d-flex align-items-center g-mb-20 g-mb-35--lg">
            <img data-src="{{ 'assets/build/img/landings/landing-check-broker/check-icon.svg'|theme }}" class="lazyload g-mr-15" width="32" height="32" alt="check-icon">
            <p class="g-font-size-16 g-font-size-20--md g-color-black g-line-height-1 g-mb-0">
              Лицензия на ведение деятельности
            </p>
          </div>
          <!-- list item 2 -->
          <div class="d-flex align-items-center g-mb-20 g-mb-35--lg">
            <img data-src="{{ 'assets/build/img/landings/landing-check-broker/check-icon.svg'|theme }}" class="lazyload g-mr-15" width="32" height="32" alt="check-icon">
            <p class="g-font-size-16 g-font-size-20--md g-color-black g-line-height-1 g-mb-0">
              Опыт работы на рынке
            </p>
          </div>
          <!-- list item 3 -->
          <div class="d-flex align-items-center g-mb-20 g-mb-35--lg">
            <img data-src="{{ 'assets/build/img/landings/landing-check-broker/check-icon.svg'|theme }}" class="lazyload g-mr-15" width="32" height="32" alt="check-icon">
            <p class="g-font-size-16 g-font-size-20--md g-color-black g-line-height-1 g-mb-0">
              Отзывы трейдеров
            </p>
          </div>
          <!-- list item 4 -->
          <div class="d-flex align-items-center g-mb-20 g-mb-35--lg">
            <img data-src="{{ 'assets/build/img/landings/landing-check-broker/check-icon.svg'|theme }}" class="lazyload g-mr-15" width="32" height="32" alt="check-icon">
            <p class="g-font-size-16 g-font-size-20--md g-color-black g-line-height-1 g-mb-0">
              Содержание правовых документов
            </p>
          </div>
          <!-- list-item 5 -->
          <div class="d-flex align-items-center g-mb-20 g-mb-35--lg">
            <img data-src="{{ 'assets/build/img/landings/landing-check-broker/check-icon.svg'|theme }}" class="lazyload g-mr-15" width="32" height="32" alt="check-icon">
            <p class="g-font-size-16 g-font-size-20--md g-color-black g-line-height-1 g-mb-0">
              Скорость ввода и вывода средств
            </p>
          </div>
          <!-- list item 6 -->
          <div class="d-flex align-items-center g-mb-20 g-mb-35--lg">
            <img data-src="{{ 'assets/build/img/landings/landing-check-broker/check-icon.svg'|theme }}" class="lazyload g-mr-15" width="32" height="32" alt="check-icon">
            <p class="g-font-size-16 g-font-size-20--md g-color-black g-line-height-1 g-mb-0">
              Качество сайта
            </p>
          </div>
          <!-- list item 7 -->
          <div class="d-flex align-items-center g-mb-20 g-mb-35--lg">
            <img data-src="{{ 'assets/build/img/landings/landing-check-broker/check-icon.svg'|theme }}" class="lazyload g-mr-15" width="32" height="32" alt="check-icon">
            <p class="g-font-size-16 g-font-size-20--md g-color-black g-line-height-1 g-mb-0">
              Компетентность саппорта
            </p>
          </div>
          <!-- list item 8 -->
          <div class="d-flex align-items-center">
            <img data-src="{{ 'assets/build/img/landings/landing-check-broker/check-icon.svg'|theme }}" class="lazyload g-mr-15" width="32" height="32" alt="check-icon">
            <p class="g-font-size-16 g-font-size-20--md g-color-black g-line-height-1 g-mb-0">
              Условия заключения сделок
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
