==
<section class="g-bg-lightblue g-py-50 g-py-100--md">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-lg-6 d-flex flex-column align-items-start order-2 order-lg-1">
        <h1 class="g-font-size-30 g-font-size-46--md g-font-weight-700 g-line-height-1_2 g-color-black g-mt-30 g-mt-0--lg g-mb-16 g-mb-25--md">
          Бесплатный сервис проверки брокеров
        </h1>
        <p class="g-font-size-16 g-font-size-18--md g-line-height-1_4 g-color-gray-dark-v2 g-mb-30">
          Сотрудничество с брокером-мошенником может принести потери от $1 000. В отдельных случаях идет речь о десятках тысяч долларов. Обман происходит, потому что пользователи не проверяют компании на надежность
        </p>
        <a
          href="#contact-form"
          class="js-go-to btn g-rounded-10 g-bg-indigo g-bg-gray-dark-v2--hover g-font-size-16 g-color-white g-transition-0_4 g-py-12 g-py-16--md g-px-50"
          data-target="#contact-form"
        >
          Проверить брокера
        </a>
      </div>
      <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex justify-content-center align-items-center">
        <img
          data-src="{{ 'assets/build/img/landings/landing-check-broker/promo-image.svg'|theme }}"
          class="lazyload w-100 img-fluid"
          alt="promo image"
        >
      </div>
    </div>
  </div>
</section>
