{% set items = similarItems.getItems() %}

<!-- similar companies sidebar -->
<div class="g-rounded-10 g-bg-white g-pt-40 g-pb-25 g-px-20 g-mb-30">
  <h3 class="g-font-size-18 g-font-size-20--md g-font-weight-700 g-color-black g-mb-5">
    Похожие компании
  </h3>
  {% for item in items | slice(0, 5) %}
  <div class="d-flex align-items-center g-py-15 {% if loop.last %} g-brd-none {% else %} g-brd-bottom {% endif %} g-brd-gray-light-v4">
    <div class="g-mr-15">
      <img
        src="{{ item.logo|resize(170, auto, { mode: 'portrait' }) }}"
        alt="{{ item.name }}"
        class="fb-img-contain g-width-85 g-height-30"
      >
    </div>
    <div>
      <h5 class="g-font-size-16 g-color-black g-line-height-1_4 g-mb-5">
        {{ item.name }}
      </h5>
      <div
        class="js-rating align-self-center g-color-yellow g-font-size-16 g-line-height-1 g-mb-5"
        data-rating="{{ item.display_rating }}"
      ></div>
      <a
        href="{{ 'directory/company-profile'|page({section_slug: section.slug, item_slug: item.slug}) }}"
        class="d-inline-block g-color-gray-dark-v5 g-brd-bottom--dashed g-brd-transparent--hover g-transition-0_4 g-brd-gray-dark-v5 u-link-v5"
      >
        Подробнее
      </a>
    </div>
  </div>
  {% endfor %}
</div>
