==
{% if show %}
<div class="popup" id="popup">
    <div class="popup_close" onclick="$.ocpopup_close()">
        <i class="material-icons g-color-gray-dark-v1">close</i>
    </div>
    <div class="popup_content">
        <form data-request="{{ genericForm }}::onFormSubmit" data-request-success="$.ocpopup_close();"
            data-request-validate>
            {{ form_token() }}
            <input type="hidden" name="type" value="pop-up">
            <input type="hidden" name="url" value="{{ ''| page }}">
            {% if itemDirectory.name %}
            <input type="hidden" name="broker" value="{{ itemDirectory.name}}" id="organization">
            {% endif %}
            {{ content|raw }}
            <div style="clear:both;"></div>
            <input type="hidden" name="campaign" value="{{ campaign }}">
            <input type="hidden" name="abtest" value="{{ abtest }}">
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.ocpopup({
            fadespeed: {{ speed }}, open: {{ open }}, layer: '#popup'{{ param }},
        onleave: function () {
            $.post('{{ staturl }}?campaign={{ campaign }}&abtest={{ abtest }}', function (data, status) { });
        }
        });
    });
</script>
{% endif %}