<div class="g-overflow-y-auto">
  <div id="chargeback-consultation" class="g-max-width-540" style="display: none;">
    <div class="g-bg-img-no-repeat container g-max-width-540 g-py-40 g-py-70--md g-px-20 g-px-70--md g-pos-rel" style="background-image: url({{ 'assets/build/img/landings/chargeback/form-bg.svg'|theme }});background-color:#03314B;">

      <h2 class="g-font-size-18 g-font-size-28--md g-font-weight-700 g-line-height-1_3 g-color-white text-center g-mb-40">
        Бесплатная консультация по возврату
      </h2>
      <form
        data-request="{{genericForm}}::onFormSubmit"
        data-request-validate data-request-flash
      >
        {{ form_token() }}
        <input type="hidden" name="url" value="{{ ''| page }}">
        <input type="hidden" name="type" value="chargeback-modal">
        <div id="{{ genericForm}}_forms_flash"></div>
        <!-- name -->
        <div class="form-group g-mb-20">
          <input
            class="form-control g-rounded-10 g-color-gray-dark-v3 g-font-size-16--md g-brd-around g-brd-teal--hover g-transition-0_4 g-pa-15"
            name="name"
            id="name"
            type="text"
            placeholder="Ваше имя"
            required
          >
          <div data-validate-for="name" class="alert alert-danger"></div>
          <div data-validate-for="slug" class="alert alert-danger"></div>
        </div>
        <!-- phone -->
        <div class="form-group g-color-gray-dark-v5 g-mb-20">
          <input
            name="phone"
            id="phone"
            type="tel"
            placeholder="Номер телефона"
            class="iti_phone form-control g-rounded-10 g-color-gray-dark-v3 g-font-size-16--md g-brd-around g-brd-teal--hover g-transition-0_4 g-pa-15 g-pl-80"
            required
          >
          <small class="iti_error-msg hide form-control-feedback"></small>
          <small class="iti_valid-msg hide form-control-feedback">✓ Правильный номер</small>
          <div data-validate-for="phone" class="alert alert-danger"></div>
        </div>
        <!-- email -->
        <div class="form-group g-mb-20">
          <input
            class="form-control g-rounded-10 g-color-gray-dark-v3 g-font-size-16--md g-brd-around g-brd-teal--hover g-transition-0_4 g-pa-15"
            name="email"
            id="email"
            type="email"
            placeholder="Электронная почта"
            required
          >
          <div data-validate-for="email" class="alert alert-danger"></div>
        </div>
        <!-- checkbox -->
      <div class="form-group d-flex justify-content-center g-mb-20 g-mb-40--lg">
        <label for="check-modal" class="form-check-inline u-check g-pl-35 mb-0 g-mr-0 d-flex flex-wrap g-line-height-1_3">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="check-modal" id="check-modal" type="checkbox" value="1" checked>
          <div class="u-check-icon-checkbox-v4 g-rounded-10 g-brd-teal g-bg-teal g-color-white g-absolute-centered--y g-left-0 g-width-25 g-height-25">
            <i class="fa g-font-size-14" data-check-icon=""></i>
          </div>
          <span class="g-color-white-opacity-0_8 g-mr-5">
            Я даю согласие на хранение и обработку моих 
            <a href="{{ 'misc/privacy'|page }}" class="g-color-white-opacity-0_8 g-brd-white-opacity-0_8 g-brd-bottom--dashed u-link-v5">обработку персональных данных</a>
          </span>
        </label>
      </div>
      <!-- button -->
        <button
          class="d-block btn g-brd-around g-brd-teal g-bg-teal g-bg-transparent--hover g-rounded-10 g-font-size-16--md g-color-white g-color-teal--hover g-transition-0_4 text-uppercase g-py-15 g-px-50 w-100"
          type="submit"
          role="button"
          data-attach-loading
        >
        Получить консультацию
        </button>
      </form>
    </div>
  </div>
</div>
