<div class="g-overflow-y-auto">
  <div id="return-money" class="g-max-width-540" style="display: none;">
    <div class="container g-bg-darkblue-v1 g-max-width-540 g-bg-img-hero g-py-40 g-py-60--md g-px-20 g-px-60--md g-rounded-10 g-pos-rel">
      <button
        type="button"
        class="close g-pos-abs g-ma-20 g-top-0 g-right-0 g-color-white g-opacity-1"
        onclick="Custombox.modal.close();"
      >
      <i class="material-icons g-color-white">close</i>
      </button>

      <h2 class="g-font-size-20 g-font-size-24--md g-font-weight-700 g-line-height-1_3 g-color-white text-center g-mb-5">
        Каждый случай обмана уникален
      </h2>
      <p class="g-font-size-16 g-font-size-18--md g-color-white-opacity-0_8 text-center g-mb-30">
        Отправьте заявку на бесплатную консультацию, чтобы узнать, какая стратегия приведет к полному возврату средств
      </p>

      <form
        data-request="{{genericForm}}::onFormSubmit"
        data-request-validate data-request-flash
      >
        {{ form_token() }}
        <input type="hidden" name="url" value="{{ ''| page }}">
        <input type="hidden" name="type" value="law-aid-modal">
        {% if itemDirectory.name is defined %}
        <input type="hidden" name="broker" value="{{ itemDirectory.name }}" id="organization">
        {% endif %}
        {% if post.itemDirectory.name is defined %}
        <input type="hidden" name="broker" value="{{ post.itemDirectory.name }}" id="organization">
        {% endif %}
        <div id="{{ genericForm}}_forms_flash"></div>
        <!-- name -->
        <div class="form-group g-mb-15">
          <input
            class="form-control g-font-size-16--md g-brd-around g-brd-indigo--hover g-rounded-5 g-color-gray-dark-v3 g-px-15 g-py-15 g-mb-0"
            id="name"
            name="name"
            type="text"
            placeholder="Ваше имя"
            required
          >
          <div data-validate-for="name" class="alert alert-danger"></div>
        </div>
        <!-- email -->
        <div class="form-group g-mb-15">
          <input
            class="form-control g-font-size-16--md g-brd-around g-brd-indigo--hover g-rounded-5 g-color-gray-dark-v3 g-px-15 g-py-15 g-mb-0"
            name="email"
            id="email"
            type="email"
            placeholder="Электронная почта"
            required
          >
          <div data-validate-for="email" class="alert alert-danger"></div>
        </div>
        <!-- phone -->
        <div class="form-group g-mb-15">
          <input
              class="iti_phone form-control g-font-size-16--md g-brd-around g-brd-indigo--hover g-rounded-5 g-color-gray-dark-v3 g-pl-90 g-pr-15 g-py-15 g-mb-0"
              name="iti_phone"
              id="iti_phone_popup"
              type="tel"
              placeholder="Номер телефона"
              required
          >
          <small id="iti_error-msg_popup" class="hide form-control-feedback"></small>
          <small id="iti_valid-msg_popup" class="hide form-control-feedback">✓ Правильный номер</small>
          <div data-validate-for="phone" class="alert alert-danger"></div>
        </div>
        <!-- checkbox -->
        <div class="form-group g-mb-30">
          <label for="check-1" class="form-check-inline u-check g-pl-35 mb-0 g-mr-0 d-flex flex-wrap g-line-height-1_3">
            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="check" id="check-1" type="checkbox" value="1" checked>
            <div class="u-check-icon-checkbox-v4 g-rounded-5 g-brd-aqua g-bg-aqua g-color-black g-absolute-centered--y g-left-0 g-width-25 g-height-25">
              <i class="fa g-font-size-14" data-check-icon=""></i>
            </div>
            <span class="g-color-white-opacity-0_8 g-mr-5">
              Я даю согласие на
              <a href="{{ 'misc/privacy'|page }}" class="g-color-white-opacity-0_8 g-brd-white-opacity-0_8 g-brd-bottom--dashed u-link-v5">обработку персональных данных</a>
            </span>
          </label>
        </div>
        <!-- button -->
        <button
          class="btn w-100 g-rounded-10 g-bg-aqua g-bg-white--hover g-transition-0_3 g-color-black g-py-13"
          type="submit"
          role="button"
          data-attach-loading
        >
        Отправить заявку
        </button>
      </form>
    </div>
  </div>
</div>
