==
{% set posts = blogPosts.posts %}

<!-- pagination -->
<div>
  {% set postsperpage = posts.perPage %}
  {% set totalposts = posts.total %}
  {% set round = totalposts/postsperpage %}
  
  {% if posts.lastPage > 1 %}
  <nav id="stickyblock-end-1" aria-label="Page Navigation">
    <ul class="list-inline text-center mb-0 d-flex justify-content-center flex-wrap flex-md-nowrap flex-lg-nowrap">
      {% if posts.currentPage > 1 %}
      <li class="list-inline-item g-mr-20 g-mb-20">
        <a
          href="{{ this.page.baseFileName|page()}}?page={{(posts.currentPage-1)}}"
          class="d-flex align-items-center justify-content-center u-pagination-v1__item g-px-10 g-height-40 g-min-width-40 g-brd-around g-brd-gray-light-v4 g-brd-blue--hover g-rounded-5"
          aria-label="Prev"
        >
          <i class="fa fa-angle-left g-color-blue"></i>
          <span class="g-ml-5 g-color-blue g-line-height-1 g-hidden-xs-down">Предыдущая</span>
        </a>
      </li>
      {% endif %}
  
      {% if posts.currentPage > 4 %}
      <li class="list-inline-item g-mr-20 g-mb-20">
        <a
          class="d-flex align-items-center justify-content-center g-brd-around g-brd-gray-light-v4 g-brd-blue--hover g-rounded-5 g-color-black u-pagination-v1__item g-width-40 g-height-40"
          href="{{ this.page.baseFileName|page()}}?page=1"
        >
          1
        </a>
      </li>
      <li class="list-inline-item g-rounded-5 g-brd-around g-brd-gray-light-v4 g-mr-20 g-mb-20">
        <p class="g-color-black g-width-40 g-height-40 g-mb-0 d-flex align-items-center justify-content-center">...</p>
      </li>
      {% endif %}
  
      {% if (posts.currentPage - 1) > 0 %}
      <li class="list-inline-item g-mr-20 g-mb-20">
        <a
          class="g-brd-around g-rounded-5 g-brd-gray-light-v4 g-brd-blue--hover g-color-black u-pagination-v1__item g-width-40 g-height-40 d-flex align-items-center justify-content-center"
          href="{{ this.page.baseFileName|page()}}?page={{(posts.currentPage-1)}}"
        >
          {{ posts.currentPage-1 }}
        </a>
      </li>
      {% endif %}
  
      <li class="list-inline-item g-mr-20 g-mb-20">
        <button class="active g-brd-around g-rounded-5 g-color-white g-color-black--hover g-bg-blue g-brd-blue--active g-bg-blue--active g-bg-transparent--hover u-pagination-v1__item g-width-40 g-height-40 d-flex align-items-center justify-content-center">
          {{posts.currentPage}}
        </button>
      </li>
  
      {% if (posts.currentPage + 1) < round|round + 1 %}
      <li class="list-inline-item g-mr-20 g-mb-20">
        <a
          class="g-brd-around g-brd-gray-light-v4 g-brd-blue--hover g-color-black g-rounded-5 u-pagination-v1__item g-width-40 g-height-40 d-flex align-items-center justify-content-center"
          href="{{ this.page.baseFileName|page()}}?page={{(posts.currentPage+1)}}"
        >
          {{ posts.currentPage+1 }}
        </a>
      </li>
      {% endif %}
  
      {% if (posts.currentPage) < round|round - 2 %}
      <li class="list-inline-item g-rounded-5 g-brd-around g-brd-gray-light-v4 g-mr-20 g-mb-20">
        <p class="g-color-black g-width-40 g-height-40 g-mb-0 d-flex align-items-center justify-content-center">...</p>
      </li>

      <li class="list-inline-item g-mr-20 g-mb-20">
        <a
          class="g-brd-around g-rounded-5 g-brd-gray-light-v4 g-brd-blue--hover g-color-black u-pagination-v1__item g-width-40 g-height-40 d-flex align-items-center justify-content-center"
          href="{{ this.page.baseFileName|page()}}?page={{(posts.lastPage-5)}}"
        >
          {{posts.lastPage-5}}
        </a>
      </li>

      <li class="list-inline-item g-mr-20 g-mb-20">
        <a
          class="g-brd-around g-rounded-5 g-brd-gray-light-v4 g-brd-blue--hover g-color-black u-pagination-v1__item g-width-40 g-height-40 d-flex align-items-center justify-content-center"
          href="{{ this.page.baseFileName|page()}}?page={{(posts.lastPage)}}"
        >
          {{posts.lastPage}}
        </a>
      </li>
      {% endif %}
  
      {% if posts.lastPage > posts.currentPage %}
      <li class="list-inline-item g-mb-20">
        <a
          href="{{ this.page.baseFileName|page()}}?page={{(posts.currentPage+1)}}"
          class="d-flex align-items-center justify-content-center u-pagination-v1__item g-brd-around g-rounded-5 g-brd-gray-light-v4 g-px-10 g-height-40 g-min-width-40 g-brd-blue--hover"
          aria-label="Next"
        >
          <span class="g-mr-5 g-line-height-1 g-color-blue g-hidden-xs-down">Следующая</span>
          <i class="fa fa-angle-right g-color-blue"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
<!-- end pagination -->
