==
<!-- about section-->
<section class="g-py-110--md g-py-50 g-bg-bluegray-lineargradient" id="go-to-content">
    <div class="container">
        <h2
            class="g-color-white text-center text-uppercase g-mb-40 g-font-size-32--md g-font-size-25 g-font-weight-600">
            {{ h2Chargeback | raw }}</h2>
        <div class="row">
            <div class="col-lg-8 align-self-center text-lg-left text-center g-mb-30 g-mb-0--lg g-pr-50--lg">
                <p class="g-font-size-18 g-color-white g-mb-0">
                    {{ pChargebackFirst | raw }}
                </p>
                <p class="g-font-size-18 g-color-white">
                    {{ pChargebackSecond | raw }}
                </p>
            </div>
            <div class="col-lg-4 align-self-center">
                <img class="w-100" src="{{ 'assets/build/img/landings/chargeback/debit-card.png' | theme }}">
            </div>
        </div>
    </div>
</section>
