==
<!--CAUTION-->
<section class="g-pb-130--md g-pt-110--md g-pb-50">
    <div class="container">
        <h2
            class="col-lg-10 g-color-gray-dark-v3 text-center text-uppercase g-mb-50 g-font-size-32--md g-font-size-25 g-font-weight-600 mx-auto">
            {{ h2Caution | raw }}
        </h2>
        <div class="row justify-content-center">
            <div class="col-md-5 align-self-center g-mb-0--md g-mb-30">
                <div class="media g-mb-20 ">
                    <div class="media-body g-brd-left g-brd-4 g-brd-teal g-pl-10">
                        <h3 class="g-color-gray-dark-v3 g-font-weight-600 g-font-size-17"> {{ h3FirstCaution | raw }}
                        </h3>
                        <p class="g-color-gray-dark-v3 g-font-size-16 g-mb-0 g-line-height-1_4">
                            {{ pFirstCautionOne | raw }}</p>
                        <p class="g-color-gray-dark-v3 g-font-size-16 g-mb-0 g-line-height-1_4">
                            {{ pFirstCautionTwo | raw }}</p>
                    </div>
                </div>
                <div class="media g-mb-20">
                    <div class="media-body g-brd-left g-brd-4 g-brd-teal g-pl-10">
                        <h3 class="g-color-gray-dark-v3 g-font-weight-600 g-font-size-17"> {{ h3SecondCaution | raw }}
                        </h3>
                        <p class="g-color-gray-dark-v3 g-font-size-16 g-mb-0 g-line-height-1_4">
                            {{ pSecondCautionOne | raw }}</p>
                        <p class="g-color-gray-dark-v3 g-font-size-16 g-mb-0 g-line-height-1_4">
                            {{ pSecondCautionTwo | raw }}</p>
                    </div>
                </div>
                <div class="media g-mb-20 ">
                    <div class="media-body g-brd-left g-brd-4 g-brd-teal g-pl-10">
                        <h3 class="g-color-gray-dark-v3 g-font-weight-600 g-font-size-17"> {{ h3ThirdCaution | raw }}
                        </h3>
                        <p class="g-color-gray-dark-v3 g-font-size-16 g-mb-0 g-line-height-1_4">
                            {{ pThirdCautionOne | raw }}</p>
                        <p class="g-color-gray-dark-v3 g-font-size-16 g-mb-0 g-line-height-1_4">
                            {{ pThirdCautionTwo | raw }}</p>
                        <p class="g-color-gray-dark-v3 g-font-size-16 g-mb-0--md g-line-height-1_4">
                            {{ pThirdCautionThree | raw }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7 align-self-center">
                <img class="w-100" src="{{ 'assets/build/img/landings/chargeback/caution.jpg' | theme }}">
            </div>
        </div>
    </div>
</section>
