==
<!--footer section-->

<section class="g-py-10 g-bg-black g-min-height-70">
  <div
    class="container d-flex flex-column flex-sm-row justify-content-between align-items-center"
  >
    <img
      class="g-width-250"
      src="{{ 'assets/build/img/landings/chargeback/logo.svg' | theme }}"
      alt="logotype"
      class="g-width-250 g-ml-100--lg d-block"
    />
    <div
      class="g-color-white g-font-weight-700 g-font-size-15 g-mt-20 g-mt-0--sm"
    >
      © 2020 Financebar
    </div>
  </div>
</section>
