[viewBag]
==
<!--LEGAL ANALYSIS-->
<section class="g-py-80--md g-py-50" id="go-to-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <img class="w-100" src="{{ 'assets/build/img/landings/chargeback/analys.jpg' | theme }}">
            </div>
            <div class="col-md-6 align-self-center text-md-right text-center g-mt-30 g-mt-0--md">
                <h2 class="g-color-gray-dark-v3 text-md-right text-uppercase g-mb-0 g-font-size-32--md g-font-size-25 g-font-weight-500">
                    {{ h2AnalysisFirst | raw }}</h2>
                <h2 class="g-color-gray-dark-v3 text-md-right text-uppercase g-font-size-32--md g-font-size-25 g-font-weight-500 g-mb-20">
                    {{ h2AnalysisSecond | raw }}</h2>
                <h5 class="g-color-gray-dark-v3 g-font-size-22 text-md-right g-mb-40">{{ h5AnalysisSecond | raw }}</h5>
                <div class="text-md-right">
                    <a class="g-font-weight-600 btn btn-xl u-btn-teal g-rounded-5 text-uppercase g-px-55" data-modal-target="#modal1" data-modal-effect="fadein"
                       href="#modal1">
                        {{ btnAnalysisSecond | raw }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>