==
<!-- Opportunities section -->
<section class="g-py-90--md g-py-50 g-bg-gray-light-v4">
    <div class="container">
        <h2
            class="g-color-gray-dark-v3 text-center text-uppercase g-mb-10 g-font-size-32--md g-font-size-25 g-font-weight-600">
            {{ h2Opportunities | raw }}
        </h2>
        <h5 class="g-color-gray-dark-v3 g-font-size-22 text-center g-mb-50">{{ h5Opportunities | raw }}</h5>
        <div class="row justify-content-lg-between">
            <div class="col-lg-3 align-self-start text-center g-mb-30 g-mb-0--lg g-hidden-md-down">
                <img class="g-max-width-100x u-shadow-v1-5"
                    src="{{ 'assets/build/img/landings/chargeback/dollar.jpg' | theme }}">
            </div>
            <div class="col">
                <article class="g-flex-middle g-brd-left g-brd-4 g-brd-teal g-pl-15 g-mb-30">
                    <div class="g-flex-middle-item">
                        <h4 class=" g-color-gray-dark-v3 g-font-weight-700 g-font-size-23 g-line-height-1 g-mb-10">
                            {{ h4OpportunitiesFirst | raw }}</h4>
                        <p class="mb-0 g-color-gray-dark-v3 g-line-height-1_4 g-font-size-18--md g-font-size-14 ">
                            {{ pOpportunitiesFirst | raw }}</p>
                    </div>
                </article>
                <article class="g-flex-middle g-brd-left g-brd-4 g-brd-teal g-pl-15 g-mb-30">
                    <div class="g-flex-middle-item">
                        <h4 class=" g-color-gray-dark-v3 g-font-weight-700 g-font-size-23 g-line-height-1 g-mb-10">
                            {{ h4OpportunitiesSecond | raw }}</h4>
                        <p class="mb-0 g-color-gray-dark-v3 g-line-height-1_4 g-font-size-18--md g-font-size-14 ">
                            {{ p4OpportunitiesSecond | raw }}</p>
                    </div>
                </article>
                <article class="g-flex-middle g-brd-left g-brd-4 g-brd-teal g-pl-15 g-mb-30">
                    <div class="g-flex-middle-item">
                        <h4 class=" g-color-gray-dark-v3 g-font-weight-700 g-font-size-23 g-line-height-1 g-mb-10">
                            {{ h4OpportunitiesThird | raw }}</h4>
                        <p class="mb-0 g-color-gray-dark-v3 g-line-height-1_4 g-font-size-18--md g-font-size-14 ">
                            {{ p4OpportunitiesThird | raw }}</p>
                    </div>
                </article>
                <article class="g-flex-middle g-brd-left g-brd-4 g-brd-teal g-pl-15 g-mb-30">
                    <div class="g-flex-middle-item">
                        <h4 class=" g-color-gray-dark-v3 g-font-weight-700 g-font-size-23 g-line-height-1 g-mb-10">
                            {{ h4OpportunitiesFourth | raw }}</h4>
                        <p class="mb-0 g-color-gray-dark-v3 g-line-height-1_4 g-font-size-18--md g-font-size-14 ">
                            {{ p4OpportunitiesFourth | raw }}</p>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="g-flex-middle g-brd-left g-brd-4 g-brd-teal g-pl-15 g-mb-30">
                    <div class="g-flex-middle-item">
                        <h4 class=" g-color-gray-dark-v3 g-font-weight-700 g-font-size-23 g-line-height-1 g-mb-10">
                            {{ h4OpportunitiesFifth | raw }}</h4>
                        <p class="mb-0 g-color-gray-dark-v3 g-line-height-1_4 g-font-size-18--md g-font-size-14 ">
                            {{ p4OpportunitiesFifth | raw }}</p>
                    </div>
                </article>
                <article class="g-flex-middle g-brd-left g-brd-4 g-brd-teal g-pl-15 g-mb-30">
                    <div class="g-flex-middle-item">
                        <h4 class=" g-color-gray-dark-v3 g-font-weight-700 g-font-size-23 g-line-height-1 g-mb-10">
                            {{ h4OpportunitiesSixth | raw }}</h4>
                        <p class="mb-0 g-color-gray-dark-v3 g-line-height-1_4 g-font-size-18--md g-font-size-14 ">
                            {{ p4OpportunitiesSixth | raw }}</p>
                    </div>
                </article>
                <article class="g-flex-middle g-brd-left g-brd-4 g-brd-teal g-pl-15 g-mb-30">
                    <div class="g-flex-middle-item">
                        <h4 class=" g-color-gray-dark-v3 g-font-weight-700 g-font-size-23 g-line-height-1 g-mb-10">
                            {{ h4OpportunitiesSeventh | raw }}</h4>
                        <p class="mb-0 g-color-gray-dark-v3 g-line-height-1_4 g-font-size-18--md g-font-size-14 ">
                            {{ p4OpportunitiesSeventh | raw }}</p>
                    </div>
                </article>
                <article class="g-flex-middle g-brd-left g-brd-4 g-brd-teal g-pl-15">
                    <div class="g-flex-middle-item">
                        <h4 class=" g-color-gray-dark-v3 g-font-weight-700 g-font-size-23 g-line-height-1 g-mb-10">
                            {{ h4OpportunitiesEighth | raw }}</h4>
                        <p class="mb-0 g-color-gray-dark-v3 g-line-height-1_4 g-font-size-18--md g-font-size-14 ">
                            {{ p4OpportunitiesEighth | raw }}</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
