==
<!-- Return section -->
<section class="g-pt-110--md g-py-50">
    <div class="container">
        <h2
            class="g-color-gray-dark-v3 text-center text-uppercase g-mb-50--md g-font-size-32--md g-font-size-25 g-font-weight-600">
            {{ h2Return | raw }}
        </h2>
    </div>
    <div class="js-carousel g-pb-40" data-autoplay="true" data-slides-show="7" data-slides-scroll="5"
        data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x text-center g-bottom-20 " data-responsive='[{
     "breakpoint": 1200,
     "settings": {
       "slidesToShow": 4
     }
   }, {
     "breakpoint": 992,
     "settings": {
       "slidesToShow": 3
     }
   }, {
     "breakpoint": 768,
     "settings": {
       "slidesToShow": 2
     }
   }, {
     "breakpoint": 576,
     "settings": {
       "slidesToShow": 1
     }
   }]'>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/promfx.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/turboo.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/tor.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto"
                        src="{{ 'assets/build/img/landings/chargeback/partner-groupe.png' | theme }}" alt="">
                </div>
            </div>
        </div>
        <div class="js-slide g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/cfx.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/yard.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/btt.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/finmax.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto"
                        src="{{ 'assets/build/img/landings/chargeback/partner-groupe.png' | theme }}" alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/glob.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/bin.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/crypto.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/trade.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto"
                        src="{{ 'assets/build/img/landings/chargeback/partner-groupe.png' | theme }}" alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/dloy.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/fto.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/swis.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto" src="{{ 'assets/build/img/landings/chargeback/hbc.png' | theme }}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="js-slide  g-px-20 g-py-40 g-mx-10">
            <div class="d-flex  g-flex-centered u-shadow-v1-3">
                <div class="g-flex-centered d-flex g-height-120">
                    <img class="img-fluid mx-auto"
                        src="{{ 'assets/build/img/landings/chargeback/umarkets.png' | theme }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
