==
<!-- works section -->
<section class="g-py-200--md g-pb-140--md g-py-50">
    <div class="container">
        <h2
            class="g-color-gray-dark-v3 text-center text-uppercase g-mb-30 g-mb-100--md g-font-size-30--md g-font-size-25 g-font-weight-600 g-max-width-800 mx-auto">
            {{ h2Works | raw}}</h2>

        <div class="row justify-content-center">
            <div class="col-lg-4 g-mb-30 g-mb-60--lg g-pa-15">
                <div class="d-flex justify-content--start justify-content--lg-center align-items-center">
                    <div class="g-bg-gray-light-v5 g-pa-15">
                        <img class="img-fluid" src="{{ 'assets/build/img/landings/chargeback/mail.png' | theme }}"
                            alt="icon" />
                    </div>

                    <div class="d-block g-pl-10 ">
                        <div class="g-mb-10">
                            <h4 class="g-mb-0 g-font-weight-700 g-color-gray-dark-v3 g-font-size-16--md g-font-size-14">
                                {{ h4WorksFirst | raw}}
                            </h4>
                        </div>
                        <p class="g-color-gray-dark-v3 g-font-size-16--md g-font-size-14 g-mb-0">
                            {{ pWorksFirst | raw}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 g-mb-30 g-mb-60--lg g-pa-15">
                <div class="d-flex justify-content--start justify-content--lg-center align-items-center">
                    <div class="g-bg-gray-light-v5 g-pa-15">
                        <img class="img-fluid" src="{{ 'assets/build/img/landings/chargeback/feedback.png' | theme }}"
                            alt="icon" />
                    </div>

                    <div class="d-block g-pl-10 ">
                        <div class="g-mb-10">
                            <h4 class="g-mb-0 g-font-weight-700 g-color-gray-dark-v3 g-font-size-16--md g-font-size-14">
                                {{ h4WorksSecond | raw}}
                            </h4>
                        </div>
                        <p class="g-color-gray-dark-v3 g-font-size-16--md g-font-size-14 g-mb-0">
                            {{ pWorksSecond | raw}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 g-mb-30 g-mb-60--lg g-pa-15">
                <div class="d-flex justify-content--start justify-content--lg-center align-items-center">
                    <div class="g-bg-gray-light-v5 g-pa-15">
                        <img class="img-fluid" src="{{ 'assets/build/img/landings/chargeback/planning.png' | theme }}"
                            alt="icon" />
                    </div>

                    <div class="d-block g-pl-10 ">
                        <div class="g-mb-10">
                            <h4 class="g-mb-0 g-font-weight-700 g-color-gray-dark-v3 g-font-size-16--md g-font-size-14">
                                {{ h4WorksThird | raw}}
                            </h4>
                        </div>
                        <p class="g-color-gray-dark-v3 g-font-size-16--md g-font-size-14 g-mb-0">
                            {{ pWorksThird | raw}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 g-mb-30 g-mb-60--lgg-pa-15">
                <div class="d-flex justify-content--start justify-content--lg-center align-items-center">
                    <div class="g-bg-gray-light-v5 g-pa-15">
                        <img class="img-fluid" src="{{ 'assets/build/img/landings/chargeback/message.png' | theme }}"
                            alt="icon" />
                    </div>

                    <div class="d-block g-pl-10 ">
                        <div class="g-mb-10">
                            <h4 class="g-mb-0 g-font-weight-700 g-color-gray-dark-v3 g-font-size-16--md g-font-size-14">
                                {{ h4WorksFourth | raw}}
                            </h4>
                        </div>
                        <p class="g-color-gray-dark-v3 g-font-size-16--md g-font-size-14 g-mb-0">
                            {{ pWorksFourth | raw}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 g-mb-30 g-mb-60--lg g-pa-15">
                <div class="d-flex justify-content--start justify-content--lg-center align-items-center">
                    <div class="g-bg-gray-light-v5 g-pa-15">
                        <img class="img-fluid" src="{{ 'assets/build/img/landings/chargeback/chat.png' | theme }}"
                            alt="icon" />
                    </div>

                    <div class="d-block g-pl-10 ">
                        <div class="g-mb-10">
                            <h4 class="g-mb-0 g-font-weight-700 g-color-gray-dark-v3 g-font-size-16--md g-font-size-14">
                                {{ h4WorksFifth | raw}}
                            </h4>
                        </div>
                        <p class="g-color-gray-dark-v3 g-font-size-16--md g-font-size-14 g-mb-0">
                            {{ pWorksFifth | raw}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
