==
<!--about section-->

<section class="g-bg-size-cover g-py-60 g-pt-130--lg g-pb-200--lg" style="background-image: url(' {{ 'assets/build/img/financebar-new/category.png' | theme }}');">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-5">
        <h2 class="g-font-size-55--md g-font-size-22 g-font-size-25--sm g-font-weight-700 g-line-height-1_1 g-color-black text-center text-lg-left g-mb-30">
          Чем мы занимаемся
        </h2>
        <div class="g-font-size-18--md g-color-gray-dark-v2 g-line-height-1_4 text-center text-lg-left">
          Мы формируем прозрачную среду для поиска надежных финансовых посредников и сервисов на базе опыта
          пользователей и клиентов. Мы создаем саморегулирующуюся экосистему, где множество независимых мнений
          отражают реальный образ той или иной компании.
        </div>
      </div>

      <div class="col-lg-5 text-center g-mt-50 g-mt-0--lg">
        <img
          class="img-fluid"
          src="{{ 'assets/build/img/financebar-new/star-share.png' | theme }}"
          alt="user experience"
          loading="lazy"
        >
      </div>
    </div>
  </div>
</section>
