==
<!--counter section-->

<section class="g-pt-60 g-pb-60 g-pb-120--lg g-pos-rel--lg">
    <div class="container">
        <div class="container row justify-content-center justify-content-lg-between g-pos-abs--lg g-top-minus-120 g-mx-0 g-px-0">
            <div class="col-lg-4 g-pl-10 g-pl-0--lg g-pr-10 g-my-15 g-my-0--lg">
                <div class="g-bg-blue g-px-20 g-pt-35 g-pb-30 g-min-height-100x g-rounded-10">
                    <img class="g-mb-20 g-mb-35--sm g-ml-20" src="{{ 'assets/build/img/financebar-new/count1.svg' | theme }}"
                        alt="icon">
                    <div class="g-color-white text-center text-md-left">
                        <div class="g-font-size-25 g-font-weight-400 g-line-height-1 g-mb-10 d-flex align-items-center justify-content-center justify-content-md-start"> 
                            <i class="fa fa-angle-right d-inline-block mr-3"></i>
                            <span class="g-font-size-30 d-inline-block g-font-size-50--md g-font-weight-700">
                                20 000</span>
                        </div>
                        <h4 class="g-font-size-18--md g-mb-0">Компаний получили отзыв</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 g-px-10 g-my-15 g-my-0--lg">
                <div class="g-bg-blue g-px-20 g-pt-35 g-pb-30 g-min-height-100x g-rounded-10">
                    <img class="g-mb-20 g-mb-40--sm g-ml-20" src="{{ 'assets/build/img/financebar-new/count2.svg' | theme }}"
                        alt="icon">
                    <div class="g-color-white text-center text-md-left">
                        <div class=" g-mb-10 g-font-size-25 g-font-weight-400 g-line-height-1 d-flex align-items-center justify-content-center justify-content-md-start">
                            <i class="fa fa-angle-right d-inline-block mr-3"></i>
                            <span class="g-font-size-30 d-inline-block g-font-size-50--md g-font-weight-700">430 000</span>
                        </div>
                        <h4 class="g-font-size-18--md g-mb-0">Клиентов оставили отзыв</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 g-pl-10 g-pr-10 g-pr-0--lg g-my-15 g-my-0--lg">
                <div class="g-bg-blue g-px-20 g-pt-35 g-pb-30 g-min-height-100x g-rounded-10">
                    <img class="g-mb-20 g-mb-40--sm g-ml-20" src="{{ 'assets/build/img/financebar-new/count3.svg' | theme }}"
                        alt="icon">
                    <div class="g-color-white text-center text-md-left">
                        <div class="g-font-size-25 g-font-weight-400 g-line-height-1 g-mb-10 d-flex align-items-center justify-content-center justify-content-md-start">
                            <i class="fa fa-angle-right d-inline-block mr-3"></i>
                            <span class="g-font-size-30 d-inline-block g-font-size-50--md g-font-weight-700">1 200 000</span>
                        </div>
                        <h4 class="g-font-size-18--md g-mb-0">Пользователей нас читают
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<hr class="g-hidden-md-down w-75 g-mb-0 g-mt-0">
