==
<!--leave-testimonal section-->

<section
  class="g-bg-size-cover g-py-100"
  style="background-image: url(' {{ 'assets/build/img/financebar-new/category.png' | theme }}');"
>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6 d-flex justify-content-center justify-content-lg-start">
        <img
          class="mx-auto img-fluid g-pos-rel--lg g-left-minus-50 g-mb-50 g-mb-0--lg"
          src="{{ 'assets/build/img/financebar-new/lave-review-img.png' | theme }}"
          loading="lazy"
        >
      </div>

      <div class="col-lg-5 align-self-center">
        <div class="g-font-size-16 g-line-height-1 g-color-blue text-center text-lg-left g-mb-25">
          Больше 101 000 000 отзывов
        </div>

        <h2 class="g-font-size-55--md g-font-size-22 g-font-size-25--sm g-font-weight-700 g-line-height-1_1 g-color-black text-center text-lg-left g-mb-12">
          Оставьте свой отзыв
        </h2>

        <div class="g-font-size-18--md g-line-height-1_4 g-color-gray-dark-v2 g-line-height-1_4 text-center text-lg-left g-mb-30 g-mb-60--md">
          Поделитесь своим опытом, помогите другим узнать правду прямо сейчас. Больше 15 000 пользователей
          уже поделились своим опытом.
        </div>

        <div class="input-group g-bg-color-white">
          <input
            class="form-control pl-0 u-form-control g-color-gray-dark-v2 g-font-size-14 g-brd-none g-rounded-left-10 g-mr-0 g-pa-20 g-pa-30--md"
            type="text"
            placeholder="Название компании"
          >

          <div class="input-group-append">
            <button class="btn u-btn-blue g-width-100x g-rounded-right-10 g-rounded-left-0 g-font-size-16--md g-color-white g-px-15 g-px-25--md">
                Оставить отзыв
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
