==
<!--platform section-->
<section class="g-pt-40 g-pt-80--md g-pb-20 g-pb-60--md">
  <div class="container">
    <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-20 g-mb-40--md">
      О платформе
    </h2>
    <div class="row g-mb-40">
      <div class="col-12 col-md-6">
        <div class="g-height-100x">
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 g-mb-20 g-mb-0--md">
            Financebar — полностью бесплатная независимая площадка, где каждый может оставить свой отзыв о любой финансовой компании, представленной сегодня на рынке. Здесь собраны мнения и оценки обычных людей, которые поделились своим реальным опытом сотрудничества с банком, брокером, инвестпроектом, кредитным союзом или любой другой организацией, которая специализируется на предоставлении определённых финансовых услуг.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="g-height-100x">
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 g-mb-0">
            Цель Financebar — заслужить доверие пользователей и положить конец заказным отзывам. Мы развиваемся для вас, чтобы сделать мир финансов безопасным и открытым. Формируем прозрачную среду для поиска надёжных финансовых посредников и сервисов на базе опыта пользователей и клиентов. Мы создаём саморегулирующуюся экосистему, где множество независимых мнений отражают реальный образ той или иной компании.
          </p>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <!-- counter 1 -->
      <div class="col-12 col-md-6 col-lg-4 g-mb-20">
        <div>
          <div class="g-font-size-36 g-font-size-48--md g-font-weight-900 g-line-height-1 g-color-darkblue g-mb-15">
            > <span class="js-counter">10000</span>
          </div>
          <div class="g-font-size-16 g-font-size-20--md g-line-height-1_4 g-color-gray-dark-v2">
            Компаний получили отзывы
          </div>
        </div>
      </div>
      <!-- end counter 1 -->
      <!-- counter 2 -->
      <div class="col-12 col-md-6 col-lg-4 g-pr-0--lg g-mb-20">
        <div>
          <div class="g-font-size-36 g-font-size-48--md g-font-weight-900 g-line-height-1 g-color-darkblue g-mb-15">
            > <span class="js-counter">108000</span>
          </div>
          <div class="g-font-size-16 g-font-size-20--md g-line-height-1_4 g-color-gray-dark-v2">
            Отзывов за последний месяц
          </div>
        </div>
      </div>
      <!-- end counter 2 -->
      <!-- counter 3 -->
      <div class="col-12 col-md-6 col-lg-4 g-mb-20">
        <div class="d-flex flex-column align-items-md-center align-items-lg-start">
          <div class="g-font-size-36 g-font-size-48--md g-font-weight-900 g-line-height-1 g-color-darkblue g-mb-15">
            > <span class="js-counter">1120000</span>
          </div>
          <div class="g-font-size-16 g-font-size-20--md g-line-height-1_4 g-color-gray-dark-v2">
            Отзывов на площадке
          </div>
        </div>
      </div>
      <!-- end counter 3 -->
    </div>
  </div>
</section>
