==
<!--advantages section-->
<section class="g-pt-40 g-pt-80--md g-pb-10 g-pb-40--md">
  <div class="container">
    <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-20 g-mb-50--md">
      Наши преимущества
    </h2>
    
    <div class="row d-flex justify-content-center">
      <!-- advantage 1 -->
      <div class="col-12 col-sm-6 col-lg-4 g-pr-30--md g-mb-30 g-mb-40--md">
        <div class="d-flex flex-column align-items-center g-height-100x">
          <img
            src="{{ 'assets/build/img/financebar-new/advantage-1.svg'|theme }}"
            alt="Отзывы со всего мира"
            class="g-width-120 g-width-155--md g-mb-20 g-mb-50--md"
            width="155"
            height="155"
          >
          <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-black text-center g-mb-15">
            Отзывы со всего мира
          </h4>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Доступ к площадке открыт из любой точки мира, где есть интернет. Оставлять отзывы можно о компании, вне зависимости от того, где она зарегистрирована.
          </p>
        </div>
      </div>
      <!-- end advantage 1 -->
      <!-- advantage 2 -->
      <div class="col-12 col-sm-6 col-lg-4 g-pr-30--md g-pl-30--md g-mb-30 g-mb-40--md">
        <div class="d-flex flex-column align-items-center g-height-100x">
          <img
            src="{{ 'assets/build/img/financebar-new/advantage-2.svg'|theme }}"
            alt="Каждое мнение ценно"
            class="g-width-120 g-width-155--md g-mb-20 g-mb-50--md"
            width="155"
            height="155"
          >
          <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-black text-center g-mb-15">
            Каждое мнение ценно
          </h4>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Наша миссия — добиться справедливости и правды. Написать комментарий может каждый. Отзывы публикуются моментально, без цензуры и блокировок.
          </p>
        </div>
      </div>
      <!-- end advantage 2 -->
      <!-- advantage 3 -->
      <div class="col-12 col-sm-6 col-lg-4 g-pl-30--md g-mb-30 g-mb-40--md">
        <div class="d-flex flex-column align-items-center g-height-100x">
          <img
            src="{{ 'assets/build/img/financebar-new/advantage-3.svg'|theme }}"
            alt="Нет заказным отзывам"
            class="g-width-120 g-width-155--md g-mb-20 g-mb-50--md"
            width="155"
            height="155"
          >
          <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-black text-center g-mb-15">
            Нет заказным отзывам
          </h4>
          <p class="g-font-size-14 g-font-size-16--md g-line-height-1_5 g-color-gray-dark-v2 text-center g-mb-0">
            Мы проводим тщательную верификацию пользователей перед каждой публикацией отзыва. Алгоритмы площадки отсеивают ботов, спам, фальшивые отзывы и отзывы, содержащие рекламу.
          </p>
        </div>
      </div>
      <!-- end advantage 3 -->
    </div>



    <!-- <div class="row flex-column flex-md-row flex-wrap text-left">
      <div class="col-lg-4 g-mb-40">
        <div class="d-flex justify-content-center justify-content-lg-start">
          <img class="img-fluid" src="{{ 'assets/build/img/financebar-new/advantage1.png' | theme }}"
              loading="lazy">
          <img class="img-fluid g-hidden-lg-down g-pos-abs g-top-65 g-right-minus-25"
              src="{{ 'assets/build/img/financebar-new/arrow.png' | theme }}" loading="lazy">
        </div>

        <div class="media g-mt-minus-30 g-mt-0--lg">
            <div class="media-body g-ml-45--lg">
              <div class="g-font-size-18 g-font-size-24--md g-color-black g-letter-spacing-0_5 text-center text-lg-left">
                Отзывы со всего мира
              </div>
              <blockquote class="lead g-font-size-16--md g-color-gray-dark-v2 g-line-height-1_8 text-center text-lg-left g-mt-15">
                Доступ к площадке открыт из любой точки мира, где есть интернет. Оставлять отзывы можно о
                компании, вне зависимости от того, где она зарегистрирована.
              </blockquote>
            </div>
        </div>
      </div>

      <div class="col-lg-4 g-mt-70--lg g-mb-40">
        <div class="d-flex justify-content-center justify-content-lg-start">
          <img class="img-fluid" src="{{ 'assets/build/img/financebar-new/advantage2.png' | theme }}"
              loading="lazy">
          <img class="img-fluid g-hidden-lg-down g-pos-abs g-top-15 g-right-minus-25"
              src="{{ 'assets/build/img/financebar-new/arrow2.png' | theme }}" loading="lazy">
        </div>
          <div class="media g-mt-minus-30 g-mt-0--lg">
            <div class="media-body g-ml-45--lg">
              <div class="g-font-size-18 g-font-size-24--md g-color-black g-letter-spacing-0_5 text-center text-lg-left">
                Каждое мнение ценно
              </div>
              <blockquote class="lead g-font-size-16--md g-color-gray-dark-v2 g-line-height-1_8 text-center text-lg-left g-mt-15">
                Наша миссия — добиться справедливости и правды. Написать комментарий может каждый. Отзывы
                публикуются моментально, без цензуры и блокировок.
              </blockquote>
            </div>
          </div>
      </div>

      <div class="col-lg-4 g-mt-140--lg">
        <div class="d-flex justify-content-center justify-content-lg-start">
          <img class="img-fluid" src="{{ 'assets/build/img/financebar-new/advantage3.png' | theme }}"
              loading="lazy">
        </div>
        <div class="media g-mt-minus-30 g-mt-0--lg">
          <div class="media-body g-ml-45--lg">
            <div class="g-font-size-18 g-font-size-24--md g-color-black g-letter-spacing-0_5 text-center text-lg-left">
              "Нет" заказным отзывам!
            </div>

            <blockquote class="lead g-font-size-16--md g-color-gray-dark-v2 g-line-height-1_8 text-center text-lg-left g-mt-15">
              Мы проводим тщательную верификацию пользователей перед каждой публикацией отзыва. Алгоритмы
              площадки отсеивают ботов, спам, фальшивые отзывы и отзывы, содержащие рекламу.
            </blockquote>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>

