==
<section class="g-bg-blue-lineargradient-v2 g-pt-40 g-pt-80--md">
  <div class="container g-pb-80 g-pb-110--md g-pos-rel">
    <div>
      <p class="g-font-size-16 g-font-size-24--md g-color-white-opacity-0_6 g-line-height-1_5 text-center g-mb-10 g-mb-20--md">
        Более <span class="g-color-white-opacity-0_9">108 000</span> отзывов за последний месяц
      </p>
      <h1 class="g-font-size-26 g-font-size-40--sm g-font-size-50--md g-font-weight-700 g-line-height-1_3 g-color-white text-center g-mb-10 g-mb-20--md">
        Все мнения о <br class="g-hidden-sm-up">любых финансовых компаниях на одной площадке
      </h1>
      <p class="g-font-size-16 g-font-size-24--md g-color-white-opacity-0_6 g-line-height-1_5 text-center g-mb-0">
        Мы собираем опыт, который важен
      </p>

      <!-- Search Form -->
      {% component 'dynamicSearch' %}
      <!-- End Search Form -->
    </div>
  </div>
</section>
