==
<section class="g-py-50 g-py-70--lg g-pb-80--lg g-bg-secondary">
    <div class="container"> 
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
                <h2 class="g-color-black g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-40">Получите свои деньги на карту</h2>
                <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5 g-mb-30">
                    <p>Возврат денежных средств по принципу чарджбэка возможен только на ту карту, которая фигурировала при внесении депозита на сайте брокера {{ itemDirectory.name }}</p>
                    <p>Средний срок ведения дел по возврату составляет от 4 до 6 месяцев. Все зависит от суммы и платежного сервиса, а также от индивидуальных особенностей каждого конкретного дела</p>
                </div>
            </div>
            <div class="offset-lg-1 col-12 col-lg-5">
                <img class="img-fluid" src="{{ 'assets/build/img/dinamic-landings/chargeback-broker/cards.webp'|theme }}" alt="">
            </div>
        </div>   
    </div>
</section>