==
<section class="g-bg-img-hero  g-py-60 g-py-80--lg" style="background-image: url({{ 'assets/build/img/dinamic-landings/chargeback-cryptocurrency/bg.webp'|theme }});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="g-color-white g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-8 text-center">
                    Узнайте, как вернуть свои деньги со счета {{ itemDirectory.name }} благодаря чарджбэку
                </div>
                <div class="g-color-white g-font-size-14 g-font-size-16--md g-font-weight-400 g-line-height-1_5 text-center g-mb-40">Воспользуйтесь услугами профессионалом и <br>
                    <strong>получите бесплатную консультацию уже сегодня!</strong></div>
                <a href="#bottom"
                    class="d-block btn g-font-size-14 g-font-size-16--md g-font-weight-400 rounded-0 u-btn-teal g-line-height-1 g-color-white g-py-18 g-px-25 mx-auto g-max-width-250"> Получить консультацию
                </a>
            </div>
        </div>
    </div>
</section>
