==
<section>
    <div class="container g-py-80 g-py-100--lg" style="background-image: url({{ 'assets/build/img/dinamic-landings/chargeback-broker/bg2.webp'|theme }});">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
                <h2 class="g-color-white g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-10 text-center">Откройте для себе решение вопроса вывода денег со счета {{ itemDirectory.name }} с помощью чарджбэка</h2>
                <div class="g-color-white-opacity-0_8 g-font-size-18--md g-font-size-16 g-font-weight-400 g-line-height-1_4 g-mb-30">
                    Закажите бесплатную консультацию прямо сейчас!
                </div>
                <a href="#legal-banner" data-toggle="modal" class="btn w-100 g-font-size-16 g-font-weight-400 rounded-0 u-btn-blue g-line-height-1 g-color-white g-py-18 g-max-width-250">Получить консультацию</a>
            </div>
        </div>
    </div>
</section>