==
{% set itemDirectory = dynamicLanding.getItem %}

<section class="g-pt-60 g-pt-80--md g-pb-30 g-pb-50--md">
  <div class="container">
    
    <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-16">
      Вы можете вернуть деньги из {{ itemDirectory.name }}
    </h2>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
          <div class="g-color-gray-dark-v2 g-font-size-18--md g-line-height-1_4 text-center g-mb-40">Чем быстрее будет запущен возврат, тем больше шансов получить полную сумму</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 g-mb-20 g-mb-30--lg">
        <div class="d-flex g-brd-around g-brd-gray-light-v4 g-rounded-10 g-pa-20 g-py-40--lg g-height-100x">
          <img data-src="{{ 'assets/build/img/landings/chargeback/invest-icon-5.svg'|theme }}" class="lazyload g-width-40 g-height-40 g-width-60--md g-height-60--md g-mb-8" alt="">
          <div class="g-ml-10 g-ml-25--lg">
            <div class="g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8">Используйте законные механизмы</div>
            <div class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">
              Международные финансовые правила регламентируют процедуру оспаривания и возвращения сделанных платежей
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 g-mb-20 g-mb-30--lg">
        <div class="d-flex g-brd-around g-brd-gray-light-v4 g-rounded-10 g-pa-20 g-py-40--lg g-height-100x">
          <img data-src="{{ 'assets/build/img/landings/chargeback/invest-icon-6.svg'|theme }}" class="lazyload g-width-40 g-height-40 g-width-60--md g-height-60--md g-mb-8" alt="">
          <div class="g-ml-10 g-ml-25--lg">
            <div class="g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8">Получите пошаговый план</div>
            <div class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">
              В процедуре оспаривания есть много нюансов и подводных камней. Учесть их все без опыта и глубокого погружения малореально
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 g-mb-20 g-mb-30--lg">
        <div class="d-flex g-brd-around g-brd-gray-light-v4 g-rounded-10 g-pa-20 g-py-40--lg g-height-100x">
          <img data-src="{{ 'assets/build/img/landings/chargeback/invest-icon-7.svg'|theme }}" class="lazyload g-width-40 g-height-40 g-width-60--md g-height-60--md g-mb-8" alt="">
          <div class="g-ml-10 g-ml-25--lg">
            <div class="g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8">Защититесь от ошибок</div>
            <div class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">
              Процедуру chargeback можно инициировать только 1 раз по каждому переводу. При малейших проблемах с пакетом документов заявление отклонят без права доработки
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 g-mb-20 g-mb-30--lg">
        <div class="d-flex g-brd-around g-brd-gray-light-v4 g-rounded-10 g-pa-20 g-py-40--lg g-height-100x">
          <img data-src="{{ 'assets/build/img/landings/chargeback/invest-icon-8.svg'|theme }}" class="lazyload g-width-40 g-height-40 g-width-60--md g-height-60--md g-mb-8" alt="">
          <div class="g-ml-10 g-ml-25--lg">
            <div class="g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8">Добейтесь возврата с экспертной помощью</div>
            <div class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">
              Грамотный запуск международного регламента оспаривания транзакций позволяет вернуть деньги за 2-3 месяца
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
