==
<section class="g-py-60 g-py-90--lg g-pb-100--lg">
    <div class="container">  
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h2 class="g-color-black g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-8 text-center">Что может стать причиной проблем с выводом денег на сайте кошелька {{ itemDirectory.name }}? </h2>
                <div class="g-color-gray-dark-v3 g-font-size-14 g-font-size-16--md g-font-weight-400 g-line-height-1_5 text-center g-mb-30">Наиболее очевидной причиной в таком случае может быть тот факт, что компании {{ itemDirectory.name }} является мошенническим проектом и она изначально не предполагает опции снятия средств со счета</div>
            </div>
        </div>     
        
    </h2>
        <div class="row">
            <div class="col-12 g-mb-30">
                <div class="u-shadow-v39 d-flex g-brd-around g-brd-gray-light-v5">
                    <div class="g-font-size-40 g-font-weight-700 g-color-white g-bg-pink d-flex align-items-center justify-content-center g-width-80 flex-shrink-0">1</div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-16 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">Отсутствие реальных документов</div>
                        <div class="g-color-gray-dark-v3 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            По причине не проработанного законодательства криптовалютные компании не всегда могут получить лицензию и вести свою деятельность легально. При этом добросовестные посредники всегда демонстрируют настоящие документы и адреса, если такие имеются
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 g-mb-30">
                <div class="u-shadow-v39 d-flex g-brd-around g-brd-gray-light-v5">
                    <div class="g-font-size-40 g-font-weight-700 g-color-white g-bg-pink d-flex align-items-center justify-content-center g-width-80 flex-shrink-0">2</div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-16 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">
                            Отсутствующий стаж
                        </div>
                        <div class="g-color-gray-dark-v3 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Платформа {{ itemDirectory.name }} работает на свежем домене, что характеризует ее как новую компанию. Никакого опыта, партнерских связей и многочисленных реальных отзывов. Ложная легенда
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 g-mb-30">
                <div class="u-shadow-v39 d-flex g-brd-around g-brd-gray-light-v5">
                    <div class="g-font-size-40 g-font-weight-700 g-color-white g-bg-pink d-flex align-items-center justify-content-center g-width-80 flex-shrink-0">3</div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-16 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">
                            Вольное поведение в отношении клиентов
                        </div>
                        <div class="g-color-gray-dark-v3 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Компания {{ itemDirectory.name }} и ее сотрудники могут проявлять свою некомпетентность, игнорировать правила собственного Пользовательского договора, блокировать торговые аккаунты без реальных на то причин
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 g-mb-30">
                <div class="u-shadow-v39 d-flex g-brd-around g-brd-gray-light-v5">
                    <div class="g-font-size-40 g-font-weight-700 g-color-white g-bg-pink d-flex align-items-center justify-content-center g-width-80 flex-shrink-0">4</div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-16 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">
                            Негативные отзывы о {{ itemDirectory.name }}
                        </div>
                        <div class="g-color-gray-dark-v3 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Критические отзывы со стороны жертв подтверждают истинную цель работы компании {{ itemDirectory.name }}. Также стоит понимать, что как только количество негатива в сети достигнет определенного порога, мошеннический проект поспешит закрыться
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>