==
<section class="g-bg-brown-v1 g-py-50 g-py-70--lg g-pb-80--lg">
    <div class="container">  
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h2 class="g-color-black g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-40 text-center">Доверьтесь профессионалам!</h2>
            </div>
        </div>     
        
    </h2>
        <div class="row">
            <div class="col-12 col-md-6 g-mb-30">
                <div class="u-shadow-v39 g-height-100x g-brd-gray-light-v4 g-brd-around g-brd-2 g-rounded-10 g-py-30 g-px-20 d-flex align-items-start g-bg-white">
                    <div class="g-width-60 g-height-60 d-flex align-items-center justify-content-center g-mb-15 g-bg-orange flex-shrink-0 g-rounded-10">
                        <img src="{{ 'assets/build/img/dinamic-landings/chargeback-investment/icon-1.svg'|theme }}" alt="" width="32" height="32">
                    </div>
                    <div class="g-ml-25">
                        <div class="g-color-black g-font-size-16 g-font-weight-700 g-line-height-1_4 g-mb-5">
                            Цените собственное время и силы
                        </div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Юристы сделают свою работу гораздо быстрее и эффективнее, ведь имеют многолетний опыт в решении подобных задач
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-30">
                <div class="u-shadow-v39 g-height-100x g-brd-gray-light-v4 g-brd-around g-brd-2 g-rounded-10 g-py-30 g-px-20 d-flex align-items-start g-bg-white">
                    <div class="g-width-60 g-height-60 d-flex align-items-center justify-content-center g-mb-15 g-bg-orange flex-shrink-0 g-rounded-10">
                        <img src="{{ 'assets/build/img/dinamic-landings/chargeback-investment/icon-2.svg'|theme }}" alt="" width="32" height="32">
                    </div>
                    <div class="g-ml-25">
                        <div class="g-color-black g-font-size-16 g-font-weight-700 g-line-height-1_4 g-mb-5">
                            Закон на вашей стороне
                        </div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Специалисты действуют в соответствии с законом, оперируя нормативными актами. Юристы способны сразу найти слабые места и пробелы в договоре инвестиционной компании и обернуть это против мошенников
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-30">
                <div class="u-shadow-v39 g-height-100x g-brd-gray-light-v4 g-brd-around g-brd-2 g-rounded-10 g-py-30 g-px-20 d-flex align-items-start g-bg-white">
                    <div class="g-width-60 g-height-60 d-flex align-items-center justify-content-center g-mb-15 g-bg-orange flex-shrink-0 g-rounded-10">
                        <img src="{{ 'assets/build/img/dinamic-landings/chargeback-investment/icon-3.svg'|theme }}" alt="" width="32" height="32">
                    </div>
                    <div class="g-ml-25">
                        <div class="g-color-black g-font-size-16 g-font-weight-700 g-line-height-1_4 g-mb-5">
                            Пакет доказательств
                        </div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Чарджбэк-специалисты четко знают, какой пакет документов и доказательств необходимо собрать клиенту, чтобы отстоять свою позицию и подтвердить вину мошенников
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-30">
                <div class="u-shadow-v39 g-height-100x g-brd-gray-light-v4 g-brd-around g-brd-2 g-rounded-10 g-py-30 g-px-20 d-flex align-items-start g-bg-white">
                    <div class="g-width-60 g-height-60 d-flex align-items-center justify-content-center g-mb-15 g-bg-orange flex-shrink-0 g-rounded-10">
                        <img src="{{ 'assets/build/img/dinamic-landings/chargeback-investment/icon-4.svg'|theme }}" alt="" width="32" height="32">
                    </div>
                    <div class="g-ml-25">
                        <div class="g-color-black g-font-size-16 g-font-weight-700 g-line-height-1_4 g-mb-5">
                            Работа на результат
                        </div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Юристы максимально заинтересованы в том, чтобы наказать аферистов и помочь вернуть клиентам их вложения. Поэтому эффективность их работы подтверждается высоким процентом успешно завершенных дел
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>