==
<section class="g-bg-darkblue-v3 g-py-80 g-py-100--lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
                <h2 class="g-color-white g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-10 text-center">Получите <span class="g-color-orange">эффективное решение вопроса возврата денежных средств</span> с проекта {{ itemDirectory.name }} с помощью чарджбэка </h2>
                <div class="g-color-white-opacity-0_8 g-font-size-18--md g-font-size-16 g-font-weight-400 g-line-height-1_4 g-mb-30">
                    Цените свое время, получите быструю и содержательную консультацию <span class="d-block g-font-weight-700 g-color-orange">всего через минуту!</span>
                </div>
                <a href="#legal-banner" data-toggle="modal" class="btn g-font-size-16 g-font-weight-400 g-rounded-10 u-btn-orange g-line-height-1 g-color-white g-py-15 g-px-30">Хочу персональную консультацию</a>
            </div>
        </div>
    </div>
</section>