==
{% set itemDirectory = dynamicLanding.getItem %}

<section class="g-bg-lightblue-v1 g-pt-60 g-pt-80--md g-pb-30 g-pb-50--md">
  <div class="container">
    
    <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-16">
      Почему {{ itemDirectory.name }} прекратил выплаты?
    </h2>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
          <div class="g-color-gray-dark-v2 g-font-size-18--md g-line-height-1_4 text-center g-mb-40">Все ложные инвесткомпании, хайпы и пирамиды обязательно прекращают платить. Это заложено в самой архитектуре скам-проектов. Ускорить неизбежное закрытие могут следующие причины</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 g-mb-20 g-mb-30--lg">
        <div class="d-flex g-bg-white g-rounded-10 g-pa-20 g-height-100x">
          <img data-src="{{ 'assets/build/img/landings/chargeback/invest-icon.svg'|theme }}" class="lazyload g-width-40 g-height-40 g-width-60--md g-height-60--md g-mb-8" alt="">
          <div class="g-ml-10 g-ml-25--lg">
            <div class="g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8">Сокращение притока средств</div>
            <div class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">
              При классическом строении проекта по схеме Понци он схлопывается, когда иссякает приток новых депозитов
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 g-mb-20 g-mb-30--lg">
        <div class="d-flex g-bg-white g-rounded-10 g-pa-20 g-height-100x">
          <img data-src="{{ 'assets/build/img/landings/chargeback/invest-icon-2.svg'|theme }}" class="lazyload g-width-40 g-height-40 g-width-60--md g-height-60--md g-mb-8" alt="">
          <div class="g-ml-10 g-ml-25--lg">
            <div class="g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8">Алчность администрации</div>
            <div class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">
              Псевдоинвестиционные компании в любом случае создают с целью наживы их менеджмента. Повышенная жадность может существенно приблизить неизбежный скам
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 g-mb-20 g-mb-30--lg">
        <div class="d-flex g-bg-white g-rounded-10 g-pa-20 g-height-100x">
          <img data-src="{{ 'assets/build/img/landings/chargeback/invest-icon-3.svg'|theme }}" class="lazyload g-width-40 g-height-40 g-width-60--md g-height-60--md g-mb-8" alt="">
          <div class="g-ml-10 g-ml-25--lg">
            <div class="g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8">Технические проблемы и блокировки</div>
            <div class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">
              В рамках борьбы с мошенничеством платежные системы и банки могут заморозить подозрительные счета, что ставит крест на проекте. Технические поломки и затруднения также ускоряют закрытие.
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 g-mb-20 g-mb-30--lg">
        <div class="d-flex g-bg-white g-rounded-10 g-pa-20 g-height-100x">
          <img data-src="{{ 'assets/build/img/landings/chargeback/invest-icon-4.svg'|theme }}" class="lazyload g-width-40 g-height-40 g-width-60--md g-height-60--md g-mb-8" alt="">
          <div class="g-ml-10 g-ml-25--lg">
            <div class="g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8">Накопление негатива</div>
            <div class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">
              Если проект вовремя распознают как мошеннический в экспертных обзорах, будет опубликовано много предостережений и плохих отзывов, админы могут закрыть проект раньше намеченного и запустить новый под свежей вывеской.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
