==
{% set itemDirectory = dynamicLanding.getItem %}

<section class="g-bg-img-her g-bg-darkblue-v2 g-py-60 g-py-80--md g-overflow-x-hidden" style="background-image: url({{ 'assets/build/img/landings/chargeback/form-bg-top.svg'|theme }});">
  <div class="container">
    <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-color-white text-center g-mb-16">
      {{ itemDirectory.name }} прекратил выплаты? Запустите возврат средств!
    </h2>
    <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center g-mb-40">
      Закажите бесплатную консультацию по возврату
    </p>
    <!-- form -->
    <form data-request="{{genericForm}}::onFormSubmit" data-request-validate data-request-flash>
      {{ form_token() }}
      <div id="{{ genericForm}}_forms_flash"></div>
      <input type="hidden" name="url" value="{{ ''| page }}">
      <input type="hidden" name="type" value="get-instruction-form">
      {% if itemDirectory.name is defined %}
      <input type="hidden" name="broker" value="{{ itemDirectory.name }}" id="organization">
      {% endif %}
      <div class="row">
        <div class="col-12 col-lg-4">
          <!-- name -->
          <div class="form-group g-mb-20">
            <input
              class="form-control g-rounded-5 g-color-gray-dark-v3 g-font-size-16--md g-brd-around g-brd-teal--hover g-transition-0_4 g-pa-15"
              name="name"
              id="name"
              type="text"
              placeholder="Ваше имя"
              required
            >
            <div data-validate-for="name" class="alert alert-danger"></div>
            <div data-validate-for="slug" class="alert alert-danger"></div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <!-- phone -->
          <div class="form-group g-mb-20">
            <input
              name="phone"
              id="phone"
              type="tel"
              placeholder="Номер телефона"
              class="iti_phone form-control g-rounded-5 g-color-gray-dark-v3 g-font-size-16--md g-brd-around g-brd-teal--hover g-transition-0_4 g-pl-90 g-pr-15 g-py-15"
              required
            >
            <small class="iti_error-msg hide form-control-feedback"></small>
            <small class="iti_valid-msg hide form-control-feedback">✓ Правильный номер</small>
            <div data-validate-for="phone" class="alert alert-danger"></div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <!-- email -->
          <div class="form-group g-mb-20">
            <input
              name="email"
              id="email"
              type="email"
              placeholder="Электронная почта"
              class="form-control g-rounded-5 g-color-gray-dark-v3 g-font-size-16--md g-brd-around g-brd-teal--hover g-transition-0_4 g-pa-15"
              required
            >
            <div data-validate-for="email" class="alert alert-danger"></div>
          </div>
        </div>
      </div>

      <!-- checkbox -->
      <div class="form-group d-flex justify-content-center g-mb-20 g-mb-40--lg">
        <label for="check-top" class="form-check-inline u-check g-pl-35 mb-0 g-mr-0 d-flex flex-wrap g-line-height-1_3">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="check-top" id="check-top" type="checkbox" value="1" checked>
          <div class="u-check-icon-checkbox-v4 g-rounded-5 g-brd-teal g-bg-teal g-color-white g-absolute-centered--y g-left-0 g-width-25 g-height-25">
            <i class="fa g-font-size-14" data-check-icon=""></i>
          </div>
          <span class="g-color-white-opacity-0_8 g-mr-5">
            Я даю согласие на
            <a href="{{ 'misc/privacy'|page }}" class="g-color-white-opacity-0_8 g-brd-white-opacity-0_8 g-brd-bottom--dashed u-link-v5">обработку персональных данных</a>
          </span>
        </label>
      </div>
      <!-- button -->
      <button
        class="d-block btn g-brd-around g-brd-teal g-bg-teal g-bg-transparent--hover g-rounded-10 g-font-size-16--md g-color-white g-color-teal--hover g-transition-0_4 text-uppercase g-py-15 g-px-50 mx-auto"
        type="submit"
        data-attach-loading
      > Получить консультацию </button>
    </form>
    <!-- end form -->
  </div>
</section>
