==
<section class="g-py-60 g-py-80--lg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="g-color-gray-dark-v1 g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-8">Обращение к экспертам по возврату средств — решение проблемы</div>
                <div class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-font-weight-400 g-line-height-1_5 g-mb-30">Представители юридической компании имеют большой опыт и насмотренность, умеют выстраивать индивидуальные стратегии под каждого клиента, а также владеют всеми инструментами, которые позволят довести дело возврат криптовалют или фиатных активов до благополучного завершения</div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="d-flex align-items-center g-pa-15 g-brd-top g-brd-gray-light-v4 g-font-size-16 g-line-height-1_5 g-font-weight-400 g-color-gray-dark-v2">
                    <svg class="g-mr-10 flex-shrink-0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="20" rx="3" fill="#18BA9B" />
                        <path d="M5.41797 9.84832L8.7513 13.0301L15.418 6.6665" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Большой опыт работы
                </div>
                <div class="d-flex align-items-center g-pa-15 g-brd-top g-brd-gray-light-v4 g-font-size-16 g-line-height-1_5 g-font-weight-400 g-color-gray-dark-v2">
                    <svg class="g-mr-10 flex-shrink-0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="20" rx="3" fill="#18BA9B" />
                        <path d="M5.41797 9.84832L8.7513 13.0301L15.418 6.6665" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Прозрачное взаимодействие с клиентами
                </div>
                <div class="d-flex align-items-center g-pa-15 g-brd-top g-brd-gray-light-v4 g-font-size-16 g-line-height-1_5 g-font-weight-400 g-color-gray-dark-v2">
                    <svg class="g-mr-10 flex-shrink-0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="20" rx="3" fill="#18BA9B" />
                        <path d="M5.41797 9.84832L8.7513 13.0301L15.418 6.6665" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Знание, как работать с аферистами
                </div>
                <div class="d-flex align-items-center g-pa-15 g-brd-top g-brd-gray-light-v4 g-font-size-16 g-line-height-1_5 g-font-weight-400 g-color-gray-dark-v2">
                    <svg class="g-mr-10 flex-shrink-0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="20" rx="3" fill="#18BA9B" />
                        <path d="M5.41797 9.84832L8.7513 13.0301L15.418 6.6665" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Опыт судебных разбирательств
                </div>
                <div class="d-flex align-items-center g-pa-15 g-brd-top g-brd-gray-light-v4 g-font-size-16 g-line-height-1_5 g-font-weight-400 g-color-gray-dark-v2">
                    <svg class="g-mr-10 flex-shrink-0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="20" rx="3" fill="#18BA9B" />
                        <path d="M5.41797 9.84832L8.7513 13.0301L15.418 6.6665" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Оптимальные сроки возврата
                </div>
                <div class="d-flex align-items-center g-pa-15 g-brd-bottom g-brd-top g-brd-gray-light-v4 g-font-size-16 g-line-height-1_5 g-font-weight-400 g-color-gray-dark-v2">
                    <svg class="g-mr-10 flex-shrink-0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="20" rx="3" fill="#18BA9B" />
                        <path d="M5.41797 9.84832L8.7513 13.0301L15.418 6.6665" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Никаких предоплат
                </div>
            </div>
        </div>
    </div>
</section>
