==
<section class="g-py-60 g-py-80--lg">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-6 g-mb-40 g-mb-0--lg">
                <img class="w-100" src="{{ 'assets/build/img/dinamic-landings/chargeback-cryptocurrency/bottom-banner.webp'|theme }}" alt="Верните свои деньги быстро и прямо на карту">
            </div>
            <div class="col-12 col-lg-6 g-px-55--lg">
                <div class="g-color-gray-dark-v1 g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-8">Верните свои деньги быстро и прямо на карту</div>
                <div class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-font-weight-400 g-line-height-1_5 g-mb-30">
                    <p>Процедура чарджбэка позволяет получить возврат средств только на ту карту, через которую был совершен депозит на платформе {{ itemDirectory.name }}</p>
                    <p class="g-mb-0">На продолжительность процедуры возврата влияет размер утраченной суммы, тип платежной системы и сложность каждого конкретного случая. В среднем на чарджбэк может уйти от 3 недель до нескольких месяцев</p>
                </div>
            </div>
        </div>
    </div>
</section>
