==
<section class="g-py-60 g-py-80--lg" style="background:#09182c;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="g-color-white g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-8 text-center">Вы являетесь клиентом биржи {{ itemDirectory.name }} и не можете вернуть деньги?</div>
                <div class="g-color-white g-font-size-14 g-font-size-16--md g-font-weight-400 g-line-height-1_5 text-center g-mb-30">Имеются неоспоримые доказательства того, что торговля на платформе {{ itemDirectory.name }} может быть убыточной. За данным проектом стоят аферисты, цель которых — лишить клиентов денежных средств любыми способами</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="g-rounded-10 g-bg-white d-flex flex-column align-items-center g-brd-gray-light-v4 g-brd-around g-py-30 g-px-20 g-height-100x" style="box-shadow:2px 12px 32px 0 rgba(0, 0, 0, 0.06);">
                    <div class="d-flex align-items-center justify-content-center g-height-60 g-width-60 g-rounded-50x g-bg-teal g-color-white g-font-size-24 g-line-height-1 g-font-weight-700 g-mb-15">1</div>
                    <div class="g-color-gray-dark-v1 g-font-size-16 g-font-weight-700 g-line-height-1_4 text-center g-mb-8">Отсутствие лицензии</div>
                    <div class="g-color-gray-dark-v2 g-font-size-14 text-center g-line-height-1_4">Биржа не имеет реальных документов, дающих статус легального участника рынка ценных бумаг</div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="g-rounded-10 g-bg-white d-flex flex-column align-items-center g-brd-gray-light-v4 g-brd-around g-py-30 g-px-20 g-height-100x" style="box-shadow:2px 12px 32px 0 rgba(0, 0, 0, 0.06);">
                    <div class="d-flex align-items-center justify-content-center g-height-60 g-width-60 g-rounded-50x g-bg-teal g-color-white g-font-size-24 g-line-height-1 g-font-weight-700 g-mb-15">2</div>
                    <div class="g-color-gray-dark-v1 g-font-size-16 g-font-weight-700 g-line-height-1_4 text-center g-mb-8">Поддельные контакты</div>
                    <div class="g-color-gray-dark-v2 g-font-size-14 text-center g-line-height-1_4">Вся контактная информация о компании не соответствует действительности</div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="g-rounded-10 g-bg-white d-flex flex-column align-items-center g-brd-gray-light-v4 g-brd-around g-py-30 g-px-20 g-height-100x" style="box-shadow:2px 12px 32px 0 rgba(0, 0, 0, 0.06);">
                    <div class="d-flex align-items-center justify-content-center g-height-60 g-width-60 g-rounded-50x g-bg-teal g-color-white g-font-size-24 g-line-height-1 g-font-weight-700 g-mb-15">3</div>
                    <div class="g-color-gray-dark-v1 g-font-size-16 g-font-weight-700 g-line-height-1_4 text-center g-mb-8">Фейковый терминал</div>
                    <div class="g-color-gray-dark-v2 g-font-size-14 text-center g-line-height-1_4">Все торговые операции не выводятся на межбанк, а котировки контролируются операторами платформы</div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="g-rounded-10 g-bg-white d-flex flex-column align-items-center g-brd-gray-light-v4 g-brd-around g-py-30 g-px-20 g-height-100x" style="box-shadow:2px 12px 32px 0 rgba(0, 0, 0, 0.06);">
                    <div class="d-flex align-items-center justify-content-center g-height-60 g-width-60 g-rounded-50x g-bg-teal g-color-white g-font-size-24 g-line-height-1 g-font-weight-700 g-mb-15">4</div>
                    <div class="g-color-gray-dark-v1 g-font-size-16 g-font-weight-700 g-line-height-1_4 text-center g-mb-8">Сомнительные условия сотрудничества</div>
                    <div class="g-color-gray-dark-v2 g-font-size-14 text-center g-line-height-1_4">Пользовательское соглашение скрывает в себе слишком много спорных моментов и подводных камней</div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="g-rounded-10 g-bg-white d-flex flex-column align-items-center g-brd-gray-light-v4 g-brd-around g-py-30 g-px-20 g-height-100x" style="box-shadow:2px 12px 32px 0 rgba(0, 0, 0, 0.06);">
                    <div class="d-flex align-items-center justify-content-center g-height-60 g-width-60 g-rounded-50x g-bg-teal g-color-white g-font-size-24 g-line-height-1 g-font-weight-700 g-mb-15">5</div>
                    <div class="g-color-gray-dark-v1 g-font-size-16 g-font-weight-700 g-line-height-1_4 text-center g-mb-8">Скрытые платежи</div>
                    <div class="g-color-gray-dark-v2 g-font-size-14 text-center g-line-height-1_4">Скрытые платежи
                        От клиента постоянно будут требовать оплатить комиссии, сервисные и страховые сборы, о которых ранее ничего не было известно</div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30--lg">
                <div class="g-rounded-10 g-bg-white d-flex flex-column align-items-center g-brd-gray-light-v4 g-brd-around g-py-30 g-px-20 g-height-100x" style="box-shadow:2px 12px 32px 0 rgba(0, 0, 0, 0.06);">
                    <div class="d-flex align-items-center justify-content-center g-height-60 g-width-60 g-rounded-50x g-bg-teal g-color-white g-font-size-24 g-line-height-1 g-font-weight-700 g-mb-15">6</div>
                    <div class="g-color-gray-dark-v1 g-font-size-16 g-font-weight-700 g-line-height-1_4 text-center g-mb-8">Плохая репутация</div>
                    <div class="g-color-gray-dark-v2 g-font-size-14 text-center g-line-height-1_4">Пользовательские отзывы раскрывают новые нюансы мошеннической схемы на сайте биржи {{ itemDirectory.name }}</div>
                </div>
            </div>
        </div>
    </div>
</section>
