==
<section class="g-py-60 g-py-90--lg g-pb-100--lg">
    <div class="container">  
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2 class="g-color-black g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-40 text-center">Решение вопроса вывода денег с {{ itemDirectory.name }}</h2>
                <div class="g-color-gray-dark-v3 g-font-size-14 g-font-size-16--md g-font-weight-400 g-line-height-1_5 text-center g-mb-30">
                    Весь план возврата клиентских средств будет выстроен в зависимости от того, какой метод депозита был использован клиентом изначально
                </div>
            </div>
        </div>   
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 g-mb-30">
                <div class="u-shadow-v39 d-flex g-brd-around g-brd-gray-light-v5 g-height-100x">
                    <div class="g-bg-pink d-flex align-items-center justify-content-center g-width-80 flex-shrink-0">
                        <img src="{{ 'assets/build/img/dinamic-landings/chargeback-cryptocurrency/icon-1.svg'|theme }}" alt="" width="40" height="40">
                    </div>
                    <div class="g-pa-30">
                        <div class="g-color-gray-dark-v3 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            В случае, когда клиент отдал предпочтение транзакции при помощи фиатных средств, юристы могут инициировать процедуру чарджбэка. Она базируется на внутреннем регламенте платежных сервисов, позволяющем оспорить ту или иную транзакцию, и в ряде случае вернуть средства отправителю
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 g-mb-30">
                <div class="u-shadow-v39 d-flex g-brd-around g-brd-gray-light-v5 g-height-100x">
                    <div class="g-bg-pink d-flex align-items-center justify-content-center g-width-80 flex-shrink-0">
                        <img src="{{ 'assets/build/img/dinamic-landings/chargeback-cryptocurrency/icon-2.svg'|theme }}" alt="" width="40" height="40">
                    </div>
                    <div class="g-pa-30">
                        <div class="g-color-gray-dark-v3 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            В случае, когда в деле фигурируют криптовалютные активы, решением может стать опция бэкапа. Инициировать ее может непосредственно сам отправитель
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-10">
                <div class="g-color-gray-dark-v3 g-font-size-16 g-font-size-20--md g-font-weight-400 g-line-height-1_4 text-center g-mb-30 g-font-style-italic">
                    Стоит понимать, что каждый из путей характеризуется множеством особенностей и нюансов. Поэтому наиболее разумным решением будет поручить задачу вывода экспертам, которые специализируются именно на подобных вопросах
                </div>
                <a class="d-block btn g-font-size-14 g-font-size-16--md g-font-weight-400 rounded-0 u-btn-pink g-line-height-1 g-color-white text-uppercase g-py-18 g-px-30 mx-auto g-max-width-400--md" href="#form-bottom">Получить юридическую поддержку</a>
            </div>
        </div>
    </div>
</section>