==
<section class="g-py-50 g-py-70--lg g-pb-80--lg" id="more">
    <div class="container">  
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h2 class="g-color-black g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-8 text-center">Факторы, указывающие на то, что нужно воспользоваться услугами юристов для возврата средств с сайта {{ itemDirectory.name }}</h2>
                <div class="g-color-gray-dark-v2 g-font-size-16 g-font-weight-400 g-line-height-1_5 text-center g-mb-40">Лучше не терять времени и сразу обратиться в чарджбэк-компанию при малейших признаках мошенничества и манипуляций со стороны инвестиционной платформы</div>
            </div>
        </div>     
        
    </h2>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="u-shadow-v39 g-height-100x g-brd-gray-light-v4 g-brd-around g-brd-2 g-rounded-10 g-py-30 g-px-20">
                    <div class="g-font-size-24 g-font-weight-700 g-color-orange g-mb-15">/01</div>
                    <div class="g-color-black g-font-size-16 g-font-weight-700 g-line-height-1_3 g-mb-5">Непредвиденные комиссии и скрытые налоги</div>
                    <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">Клиент узнает о дополнительных сборах, о которых нет упоминаний в Пользовательском соглашении, в самый непредвиденный момент</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="u-shadow-v39 g-height-100x g-brd-gray-light-v4 g-brd-around g-brd-2 g-rounded-10 g-py-30 g-px-20">
                    <div class="g-font-size-24 g-font-weight-700 g-color-orange g-mb-15">/02</div>
                    <div class="g-color-black g-font-size-16 g-font-weight-700 g-line-height-1_3 g-mb-5">
                        Отказ при возврате средств
                    </div>
                    <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                        Менеджеры тянут время и удерживают клиента, систематически отклоняя его заявку на снятие активов с баланса
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="u-shadow-v39 g-height-100x g-brd-gray-light-v4 g-brd-around g-brd-2 g-rounded-10 g-py-30 g-px-20">
                    <div class="g-font-size-24 g-font-weight-700 g-color-orange g-mb-15">/03</div>
                    <div class="g-color-black g-font-size-16 g-font-weight-700 g-line-height-1_3 g-mb-5">
                        Постоянные технические сбои
                    </div>
                    <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                        Платформа регулярно подвисает и в момент подачи заявки на возврат выдает отказ под предлогом технических неполадок
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="u-shadow-v39 g-height-100x g-brd-gray-light-v4 g-brd-around g-brd-2 g-rounded-10 g-py-30 g-px-20">
                    <div class="g-font-size-24 g-font-weight-700 g-color-orange g-mb-15">/04</div>
                    <div class="g-color-black g-font-size-16 g-font-weight-700 g-line-height-1_3 g-mb-5">
                        Жесткие лимиты на возврат
                    </div>
                    <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                        Пользователю предлагают снять сумму, которая не превышает тело депозита, при этом о снятии заработка речи не идет
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="u-shadow-v39 g-height-100x g-brd-gray-light-v4 g-brd-around g-brd-2 g-rounded-10 g-py-30 g-px-20">
                    <div class="g-font-size-24 g-font-weight-700 g-color-orange g-mb-15">/05</div>
                    <div class="g-color-black g-font-size-16 g-font-weight-700 g-line-height-1_3 g-mb-5">
                        Закрыт доступ к услугам
                    </div>
                    <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                        Учетная запись инвестора внезапно оказалась заблокированной без каких-либо на то причин
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="u-shadow-v39 g-height-100x g-brd-gray-light-v4 g-brd-around g-brd-2 g-rounded-10 g-py-30 g-px-20">
                    <div class="g-font-size-24 g-font-weight-700 g-color-orange g-mb-15">/06</div>
                    <div class="g-color-black g-font-size-16 g-font-weight-700 g-line-height-1_3 g-mb-5">
                        Отсутствие информации о компании
                    </div>
                    <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                        Контактные данные не работают, а юридическая информация не подтверждается на сайтах регуляторов
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>