==
{% set itemDirectory = dynamicLanding.getItem %}

<section class="g-pt-60 g-pt-80--md g-pb-30 g-pb-50--md g-bg-white">
  <div class="container">
    
    <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-16">
      В чем инвестпроект {{ itemDirectory.name }} врет вкладчикам?
    </h2>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
          <div class="g-color-gray-dark-v2 g-font-size-18--md g-line-height-1_4 text-center g-mb-40">Во всем. Цель создания компании не инвестиции, а сбор денег с участников в пользу администрации. В арсенале подобных мошенников следующие приемы привлечения внимания и вложений инвесторов</div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td class="g-py-30" style="width:10%">
              <span class="g-color-teal g-font-weight-700 g-font-size-40 g-font-size-60--md g-line-height-1">01</span>
            </td>
            <td class="g-py-30 g-pl-0 g-pl-10--lg" style="width:40%">
              <span class="d-block g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8 g-mb-0--lg">Обещание высокой доходности</span>
              <span class="g-hidden-lg-up g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4">Инвесткомпания {{ itemDirectory.name }}, как и ее коллеги-мошенники, привлекала процентами в разы выше, чем можно получить по банковскому вкладу.</span>
            </td>
            <td class="g-py-30 g-hidden-md-down" style="width:50%">
              <span class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">Инвесткомпания , как и ее коллеги-мошенники, привлекала процентами в разы выше, чем можно получить по банковскому вкладу.</span>
            </td>
          </tr>
          <tr>
            <td class="g-py-30" style="width:10%">
              <span class="g-color-teal g-font-weight-700 g-font-size-40 g-font-size-60--md g-line-height-1">02</span>
            </td>
            <td class="g-py-30 g-pl-0 g-pl-10--lg" style="width:40%">
              <span class="d-block g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8 g-mb-0--lg">Быстрое получение прибыли</span>
              <span class="g-hidden-lg-up g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">Если банки оперируют процентами годовых начислений, то инвестпроекты и хайпы считают периоды вложения месяцами, неделями и отдельными днями.</span>
            </td>
            <td class="g-py-30 g-hidden-md-down" style="width:50%">
              <span class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">Если банки оперируют процентами годовых начислений, то инвестпроекты и хайпы считают периоды вложения месяцами, неделями и отдельными днями.</span>
            </td>
          </tr>
          <tr>
            <td class="g-py-30" style="width:10%">
              <span class="g-color-teal g-font-weight-700 g-font-size-40 g-font-size-60--md g-line-height-1">03</span>
            </td>
            <td class="g-py-30 g-pl-0 g-pl-10--lg" style="width:40%">
              <span class="d-block g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8 g-mb-0--lg">Гарантированная доходность</span>
              <span class="g-hidden-lg-up g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">Инвестирование — это всегда риск. Все, кто обещают исключительно прибыльные инвестиции, да еще в конкретных процентах — лгут.</span>
            </td>
            <td class="g-py-30 g-hidden-md-down" style="width:50%">
              <span class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">Инвестирование — это всегда риск. Все, кто обещают исключительно прибыльные инвестиции, да еще в конкретных процентах — лгут.</span>
            </td>
          </tr>
          <tr>
            <td class="g-py-30" style="width:10%">
              <span class="g-color-teal g-font-weight-700 g-font-size-40 g-font-size-60--md g-line-height-1">04</span>
            </td>
            <td class="g-py-30 g-pl-0 g-pl-10--lg" style="width:40%">
              <span class="d-block g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8 g-mb-0--lg">Вымышленная безопасность</span>
              <span class="g-hidden-lg-up g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">Мошенники научились рассказывать про сегрегацию счетов, защитные протоколы шифрования и т.п. Все это ложь. Главную угрозу в инвестпроекте Х представляет сама его администрация, которая присваивает деньги.</span>
            </td>
            <td class="g-py-30 g-hidden-md-down" style="width:50%">
              <span class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">Мошенники научились рассказывать про сегрегацию счетов, защитные протоколы шифрования и т.п. Все это ложь. Главную угрозу в инвестпроекте Х представляет сама его администрация, которая присваивает деньги.</span>
            </td>
          </tr>
          <tr>
            <td class="g-py-30" style="width:10%">
              <span class="g-color-teal g-font-weight-700 g-font-size-40 g-font-size-60--md g-line-height-1">05</span>
            </td>
            <td class="g-py-30 g-pl-0 g-pl-10--lg" style="width:40%">
              <span class="d-block g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8 g-mb-0--lg">Призывы наращивать инвестиции</span>
              <span class="g-hidden-lg-up g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">Ложные инвестпроекты, пирамиды и хайпы стимулируют вкладчиков наращивать вложения в погоне за увеличением прибыли. Предлагают заметно более выгодные условия для вложивших крупные суммы.</span>
            </td>
            <td class="g-py-30 g-hidden-md-down" style="width:50%">
              <span class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">Ложные инвестпроекты, пирамиды и хайпы стимулируют вкладчиков наращивать вложения в погоне за увеличением прибыли. Предлагают заметно более выгодные условия для вложивших крупные суммы.</span>
            </td>
          </tr>
          <tr>
            <td class="g-py-30" style="width:10%">
              <span class="g-color-teal g-font-weight-700 g-font-size-40 g-font-size-60--md g-line-height-1">06</span>
            </td>
            <td class="g-py-30 g-pl-0 g-pl-10--lg" style="width:40%">
              <span class="d-block g-color-black g-font-weight-500 g-font-size-16 g-font-size-24--md g-mb-8 g-mb-0--lg">Активная реферальная программа</span>
              <span class="g-hidden-lg-up g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">Идея заимствована у MLM-маркетинга. Участников поощряют приводить и регистрировать новых клиентов, перекладывая на них задачи по продвижению проекта. Рефераловодов с обещанными выплатами также рано или поздно обманут.</span>
            </td>
            <td class="g-py-30 g-hidden-md-down" style="width:50%">
              <span class="g-color-gray-dark-v2 g-font-size-14 g-font-size-16--md g-line-height-1_4 ">Идея заимствована у MLM-маркетинга. Участников поощряют приводить и регистрировать новых клиентов, перекладывая на них задачи по продвижению проекта. Рефераловодов с обещанными выплатами также рано или поздно обманут.</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
