==
{% set itemDirectory = dynamicLanding.getItem %}

<section class="g-pt-60 g-pt-80--md g-pb-30 g-pb-50--md" style="background:#EBEFF2;">
  <div class="container">
    <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-black text-center g-mb-25 g-mb-40--md">
      Как мы поможем в возвращении средств
    </h2>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 g-mb-20 g-mb-30--lg">
        <div class="g-bg-white text-center g-rounded-10 g-pa-20">
          <img data-src="{{ 'assets/build/img/landings/chargeback/chargeback-investments-check.svg'|theme }}" class="lazyload g-width-30 g-height-30 g-mb-8" alt="">
          <p class="g-font-size-16--md g-line-height-1_4 g-color-gray-dark-v2 text-center g-mb-0">
            многолетний опыт экспертов
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 g-mb-20 g-mb-30--lg">
        <div class="g-bg-white text-center g-rounded-10 g-pa-20">
          <img data-src="{{ 'assets/build/img/landings/chargeback/chargeback-investments-check.svg'|theme }}" class="lazyload g-width-30 g-height-30 g-mb-8" alt="">
          <p class="g-font-size-16--md g-line-height-1_4 g-color-gray-dark-v2 text-center g-mb-0">
            создание рабочей стратегии
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 g-mb-20 g-mb-30--lg">
        <div class="g-bg-white text-center g-rounded-10 g-pa-20">
          <img data-src="{{ 'assets/build/img/landings/chargeback/chargeback-investments-check.svg'|theme }}" class="lazyload g-width-30 g-height-30 g-mb-8" alt="">
          <p class="g-font-size-16--md g-line-height-1_4 g-color-gray-dark-v2 text-center g-mb-0">
            только законные методы
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 g-mb-20 g-mb-30--lg">
        <div class="g-bg-white text-center g-rounded-10 g-pa-20">
          <img data-src="{{ 'assets/build/img/landings/chargeback/chargeback-investments-check.svg'|theme }}" class="lazyload g-width-30 g-height-30 g-mb-8" alt="">
          <p class="g-font-size-16--md g-line-height-1_4 g-color-gray-dark-v2 text-center g-mb-0">
            приоритет внесудебным методам
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 g-mb-20 g-mb-30--lg">
        <div class="g-bg-white text-center g-rounded-10 g-pa-20">
          <img data-src="{{ 'assets/build/img/landings/chargeback/chargeback-investments-check.svg'|theme }}" class="lazyload g-width-30 g-height-30 g-mb-8" alt="">
          <p class="g-font-size-16--md g-line-height-1_4 g-color-gray-dark-v2 text-center g-mb-0">
            индивидуальный подход
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 g-mb-20 g-mb-30--lg">
        <div class="g-bg-white text-center g-rounded-10 g-pa-20">
          <img data-src="{{ 'assets/build/img/landings/chargeback/chargeback-investments-check.svg'|theme }}" class="lazyload g-width-30 g-height-30 g-mb-8" alt="">
          <p class="g-font-size-16--md g-line-height-1_4 g-color-gray-dark-v2 text-center g-mb-0">
            высокий показатель возвратов
          </p>
        </div>
      </div>
      
    </div>
  </div>
</section>
