==
<section class="g-py-50 g-py-70--lg g-pb-80--lg">
    <div class="container">       
        <h2 class="g-color-black g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-40 text-center">Преимущества работы с финансовыми экспертами</h2>
    </h2>
        <div class="row">
            <div class="col-12 col-md-6 g-mb-30">
                <div class="g-height-100x g-bg-secondary d-flex align-items-start">
                    <div class="g-font-weight-700 g-bg-darkblue g-width-80 g-height-80 flex-shrink-0 d-flex align-items-center justify-content-center">
                        <img src="{{ 'assets/build/img/dinamic-landings/chargeback-broker/shield-tick.svg'|theme }}" alt="">
                    </div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">Большой практический опыт в вопросе возвратов</div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Эксперты владеют всеми необходимыми навыками общения с брокерами и банками, которые помогут достигнуть успеха в вопросе возврата денежных средств
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-30">
                <div class="g-height-100x g-bg-secondary d-flex align-items-start">
                    <div class="g-font-weight-700 g-bg-darkblue g-width-80 g-height-80 flex-shrink-0 d-flex align-items-center justify-content-center">
                        <img src="{{ 'assets/build/img/dinamic-landings/chargeback-broker/book.svg'|theme }}" alt="">
                    </div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">Правовой анализ</div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Случай каждого клиента проходит тщательный анализ юристами, которые выявляют все правонарушения и формируют стратегию дальнейших действий, основываясь на законодательство
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-30">
                <div class="g-height-100x g-bg-secondary d-flex align-items-start">
                    <div class="g-font-weight-700 g-bg-darkblue g-width-80 g-height-80 flex-shrink-0 d-flex align-items-center justify-content-center">
                        <img src="{{ 'assets/build/img/dinamic-landings/chargeback-broker/task-square.svg'|theme }}" alt="">
                    </div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">Перечень необходимых доказательств</div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Юристы помогут клиенту собрать все доказательства по факту мошенничества, что безусловно ускорит процесс обработка заявки на возврат со стороны банка или платежного сервиса
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-30">
                <div class="g-height-100x g-bg-secondary d-flex align-items-start">
                    <div class="g-font-weight-700 g-bg-darkblue g-width-80 g-height-80 flex-shrink-0 d-flex align-items-center justify-content-center">
                        <img src="{{ 'assets/build/img/dinamic-landings/chargeback-broker/status-up.svg'|theme }}" alt="">
                    </div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">Отличная статистика</div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Клиент действительно может рассчитывать на благополучный исход своего дела, поскольку специалисты доводят до положительного финала большинство обращений
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>