==
<section class="g-py-50 g-py-70--lg g-pb-80--lg">
    <div class="container">       
        <h2 class="g-color-black g-font-size-24 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-mb-40 text-center">Этапы процедуры возврата</h2>
    </h2>
        <div class="row">
            <div class="col-12 col-md-6 g-mb-30">
                <div class="g-height-100x g-bg-secondary g-px-30 g-py-30 g-py-55--lg g-brd-left g-brd-blue g-brd-4 d-flex align-items-center">
                    <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_6">Хотим обратить ваше внимание на основные признаки, которые свидетельствуют об обмане. Если брокер проявляет хотя бы один из них, не стоит терять времени. Скорее обращайтесь к специалистам!</div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-30">
                <div class="g-height-100x g-bg-secondary d-flex align-items-start">
                    <div class="g-font-size-40 g-font-weight-700 g-color-white g-bg-darkblue g-width-80 g-height-80 flex-shrink-0 d-flex align-items-center justify-content-center">01</div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">Проблемная верификация</div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">Финансовая компания предпринимает все возможные меры, чтобы помешать трейдеру успешно пройти верификацию. Отклоняет документы, запрашивает новые данные, просит пройти процедуру по второму или третьему кругу</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-30">
                <div class="g-height-100x g-bg-secondary d-flex align-items-start">
                    <div class="g-font-size-40 g-font-weight-700 g-color-white g-bg-darkblue g-width-80 g-height-80 flex-shrink-0 d-flex align-items-center justify-content-center">02</div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">Скрытые комиссии</div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">С клиента требуют сервисные сборы, страховые взносы или комиссии, о которых не прописано во внутренней документации компании</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-30">
                <div class="g-height-100x g-bg-secondary d-flex align-items-start">
                    <div class="g-font-size-40 g-font-weight-700 g-color-white g-bg-darkblue g-width-80 g-height-80 flex-shrink-0 d-flex align-items-center justify-content-center">03</div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">Брокер тянет время</div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">Представители компании находят десятки причин для того, чтобы отсрочить момент одобрения заявки на вывод денежных средств, аргументируя свое решение разными обстоятельствами</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-30">
                <div class="g-height-100x g-bg-secondary d-flex align-items-start">
                    <div class="g-font-size-40 g-font-weight-700 g-color-white g-bg-darkblue g-width-80 g-height-80 flex-shrink-0 d-flex align-items-center justify-content-center">04</div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">Затягивание с закрытием сделок</div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">Финансовые аналитики умышленно держат сделку максимально долго открытой, поскольку в таком случае можно отказать в выводе средств</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 g-mb-30">
                <div class="g-height-100x g-bg-secondary d-flex align-items-start">
                    <div class="g-font-size-40 g-font-weight-700 g-color-white g-bg-darkblue g-width-80 g-height-80 flex-shrink-0 d-flex align-items-center justify-content-center">05</div>
                    <div class="g-pa-30">
                        <div class="g-color-black g-font-size-18 g-font-size-24--md g-font-weight-500 g-line-height-1_3 g-mb-5">Блокировка аккаунта</div>
                        <div class="g-color-gray-dark-v2 g-font-size-14 g-font-weight-400 g-line-height-1_5">Брокер может беспричинно ограничить клиенту доступ к его учетной записи без возможности его восстановления</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>