==
{% set itemDirectory = dynamicLanding.getItem %}

<section class="g-bg-dark-v1 g-py-60 g-py-80--md g-overflow-x-hidden">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-lg-6 g-mb-50 g-mb-0--lg">
        <div class="d-flex flex-column align-items-start">
          <div class="g-rounded-10 g-bg-white g-pa-10 g-mb-25">
            <img
              src="{{ itemDirectory.logo | resize(200, auto) }}"
              alt="company-logo"
            >
          </div>

          <h1 class="g-font-size-28 g-font-size-40--md g-font-weight-700 g-line-height-1_3 g-color-white g-mb-25">
            Как вернуть деньги от брокера {{ itemDirectory.name }}
          </h1>
          <p class="g-font-size-16 g-font-size-20--md g-color-white g-line-height-1_4 g-mb-25">
            В интернете растёт количество негативных отзывов о компании {{ itemDirectory.name }}. Люди сообщают об обмане. Вы можете свободно вернуть все свои деньги от этого брокера, применив инструкцию Financebar
          </p>
          <div class="d-flex align-items-center g-mb-15">
            <img data-src="{{ 'assets/build/img/organic-landings/refund/check-icon.svg'|theme }}" class="lazyload g-mr-15" width="30" height="30" alt="check-icon">
            <p class="g-font-size-16--md g-color-white g-line-height-1 g-mb-0">
              Технология принудительного возврата
            </p>
          </div>
          <div class="d-flex align-items-center g-mb-15">
            <img data-src="{{ 'assets/build/img/organic-landings/refund/check-icon.svg'|theme }}" class="lazyload g-mr-15" width="30" height="30" alt="check-icon">
            <p class="g-font-size-16--md g-color-white g-line-height-1 g-mb-0">
              Вывод на карту или счет любого банка
            </p>
          </div>
          <div class="d-flex align-items-center g-mb-25">
            <img data-src="{{ 'assets/build/img/organic-landings/refund/check-icon.svg'|theme }}" class="lazyload g-mr-15" width="30" height="30" alt="check-icon">
            <p class="g-font-size-16--md g-color-white g-line-height-1 g-mb-0">
              Зачисление в течение 14-30 дней
            </p>
          </div>
          <a
            href="#contact-form"
            data-target="#contact-form"
            class="js-go-to btn g-brd-around g-brd-yellow g-bg-transparent g-bg-yellow--hover g-rounded-10 g-color-yellow g-color-black--hover g-transition-0_4 g-font-size-16 g-px-50 g-py-16"
          >
            Узнать больше &#8594;
          </a>
        </div>

      </div>
      <div class="col-12 col-lg-6">
        <div class="g-bg-white-opacity-0_1 g-rounded-10 g-px-20 g-px-40--md g-py-40 g-pos-rel">
          <!-- blur -->
          <div class="g-pos-abs g-top-minus-70 g-right-minus-50 g-width-200 g-height-200 fb-bg-gradient-v2"></div>
          <!-- blur end -->
          <h2 class="g-font-size-18 g-font-size-20--md g-font-weight-700 g-color-white text-center g-mb-8">
            Бесплатная пошаговая инструкция
          </h2>
          <p class="g-font-size-16--md g-color-white text-center g-mb-25">
            Сформируйте свою заявку прямо сейчас
          </p>
          <!-- form -->
          <form data-request="{{genericForm}}::onFormSubmit" data-request-validate data-request-flash>
            {{ form_token() }}
            <div id="{{ genericForm}}_forms_flash"></div>
            <input type="hidden" name="url" value="{{ ''| page }}">
            <input type="hidden" name="type" value="form-promo">
            {% if itemDirectory.name is defined %}
            <input type="hidden" name="broker" value="{{ itemDirectory.name }}" id="organization">
            {% endif %}
            <!-- name -->
            <div class="form-group g-mb-25">
              <input
                class="form-control g-rounded-5 g-color-gray-dark-v3 g-font-size-16--md g-brd-around g-brd-yellow--hover g-transition-0_4 g-pa-15"
                name="name"
                id="name"
                type="text"
                placeholder="Ваше имя"
                required
              >
              <div data-validate-for="name" class="alert alert-danger"></div>
              <div data-validate-for="slug" class="alert alert-danger"></div>
            </div>
            <!-- email -->
            <div class="form-group g-mb-25">
              <input
                name="email"
                id="email"
                type="email"
                placeholder="Электронная почта"
                class="form-control g-rounded-5 g-color-gray-dark-v3 g-font-size-16--md g-brd-around g-brd-yellow--hover g-transition-0_4 g-pa-15"
                required
              >
              <div data-validate-for="email" class="alert alert-danger"></div>
            </div>
            <!-- phone -->
            <div class="form-group g-mb-25">
              <input
                name="phone"
                id="phone"
                type="tel"
                placeholder="Номер телефона"
                class="iti_phone form-control g-rounded-5 g-color-gray-dark-v3 g-font-size-16--md g-brd-around g-brd-yellow--hover g-transition-0_4 g-pl-90 g-pr-15 g-py-15"
                required
              >
              <small class="iti_error-msg hide form-control-feedback"></small>
              <small class="iti_valid-msg hide form-control-feedback">✓ Правильный номер</small>
              <div data-validate-for="phone" class="alert alert-danger"></div>
            </div>
            <!-- checkbox -->
            <div class="form-group g-mb-25">
              <label for="check" class="form-check-inline u-check g-pl-35 mb-0 g-mr-0 d-flex flex-wrap g-line-height-1_3">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="check" id="check" type="checkbox" value="1" checked>
                <div class="u-check-icon-checkbox-v4 g-rounded-5 g-brd-yellow g-color-yellow g-absolute-centered--y g-left-0 g-width-25 g-height-25">
                  <i class="fa g-font-size-14" data-check-icon=""></i>
                </div>
                <span class="g-color-white-opacity-0_8 g-mr-5">
                  Я даю согласие на
                  <a href="#" class="g-color-white-opacity-0_8 g-brd-white-opacity-0_8 g-brd-bottom--dashed u-link-v5">обработку персональных данных</a>
                </span>
              </label>
            </div>
            <!-- button -->
            <button
              class="btn w-100 g-brd-around g-brd-yellow g-bg-yellow g-bg-transparent--hover g-rounded-10 g-font-size-16--md g-color-black g-color-yellow--hover g-transition-0_4 g-py-15"
              type="submit"
              data-attach-loading
            >
              Получить инструкцию
            </button>
          </form>
          <!-- end form -->
         </div>
      </div>
    </div>
  </div>
</section>
