==
{% set itemDirectory = dynamicLanding.getItem %}

<section class="g-py-60 g-py-80--md" style="background-color: #000633;">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8">
        <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-white text-center g-mb-40 g-mb-60--md">
          Брокер {{ itemDirectory.name }} может использовать против своих клиентов разные манипуляции
        </h2>
      </div>
    </div>
    <div class="row">
      <!-- card 1 -->
      <div class="col-12 col-md-6 g-pr-0--md">
        <div class="d-flex flex-column align-items-center align-items-md-start g-brd-top g-brd-right--md g-brd-white-opacity-0_2 g-height-100x g-pr-40--md g-py-30 g-py-50--md g-pos-rel">
          <!-- blur -->
          <div
          class="g-pos-abs g-top-minus-120 g-left-minus-50 g-width-200 g-height-200"
          style="background: linear-gradient(174.74deg, #50E7B7 61.67%, #323992 189.61%); opacity: 0.5; filter: blur(120px);"
        ></div>
        <!-- blur end -->
          <img data-src="{{ 'assets/build/img/organic-landings/refund/icon-1.svg'|theme }}" class="lazyload g-width-64 g-height-64 g-mb-25 g-mb-40--md" alt="icon">
          <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-md-left g-mb-15">
            Вмешиваться в работу терминала
          </h4>
          <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-md-left g-mb-0">
            Недобросовестные поставщики услуг изменяют котировки, мешают ходу торговли, нарушают функционал ПО
          </p>
        </div>
      </div>
      <!-- card 2 -->
      <div class="col-12 col-md-6 g-pl-0--md">
        <div class="d-flex flex-column align-items-center align-items-md-start g-brd-top g-brd-white-opacity-0_2 g-height-100x g-pl-40--md g-py-30 g-py-50--md">
          <img data-src="{{ 'assets/build/img/organic-landings/refund/icon-2.svg'|theme }}" class="lazyload g-width-64 g-height-64 g-mb-25 g-mb-40--md" alt="icon">
          <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-md-left g-mb-15">
            Игнорировать заявки на вывод
          </h4>
          <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-md-left g-mb-0">
            Брокеры отказываются выводить средства, применяя кабальное клиентское соглашение или вовсе без объяснения причин
          </p>
        </div>
      </div>
      <!-- card 3 -->
      <div class="col-12 col-md-6 g-pr-0--md">
        <div class="d-flex flex-column align-items-center align-items-md-start g-brd-top g-brd-right--md g-brd-white-opacity-0_2 g-height-100x g-pr-40--md g-py-30 g-py-50--md">
          <img data-src="{{ 'assets/build/img/organic-landings/refund/icon-3.svg'|theme }}" class="lazyload g-width-64 g-height-64 g-mb-25 g-mb-40--md" alt="icon">
          <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-md-left g-mb-15">
            Мотивировать увеличить счет
          </h4>
          <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-md-left g-mb-0">
            Обещая сверхприбыль, брокеры отказывают в выводе средств и убеждают увеличить сумму на балансе
          </p>
        </div>
      </div>
      <!-- card 4 -->
      <div class="col-12 col-md-6 g-pl-0--md">
        <div class="d-flex flex-column align-items-center align-items-md-start g-brd-top g-brd-white-opacity-0_2 g-height-100x g-pl-40--md g-py-30 g-py-50--md">
          <img data-src="{{ 'assets/build/img/organic-landings/refund/icon-4.svg'|theme }}" class="lazyload g-width-64 g-height-64 g-mb-25 g-mb-40--md" alt="icon">
          <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-md-left g-mb-15">
            Требовать оплату комиссии и налога
          </h4>
          <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-md-left g-mb-0">
            Мошенники устанавливают незаконные сборы: комиссии, налоги, оформление страховки, взятки регуляторам и т. д.
          </p>
        </div>
      </div>
      <!-- card 5 -->
      <div class="col-12 col-md-6 g-pr-0--md">
        <div class="d-flex flex-column align-items-center align-items-md-start g-brd-top g-brd-bottom g-brd-right--md g-brd-white-opacity-0_2 g-height-100x g-pr-40--md g-py-30 g-py-50--md">
          <img data-src="{{ 'assets/build/img/organic-landings/refund/icon-5.svg'|theme }}" class="lazyload g-width-64 g-height-64 g-mb-25 g-mb-40--md" alt="icon">
          <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-md-left g-mb-15">
            Обнулить баланс клиентского счета
          </h4>
          <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-md-left g-mb-0">
            Компании устанавливают 0 на балансе. Они активируют убыточных роботов, дают некачественные сигналы или просто отнимают деньги
          </p>
        </div>
      </div>
      <!-- card 6 -->
      <div class="col-12 col-md-6 g-pl-0--md">
        <div class="d-flex flex-column align-items-center align-items-md-start g-brd-top g-brd-bottom g-brd-white-opacity-0_2 g-height-100x g-pl-40--md g-py-30 g-py-50--md">
          <img data-src="{{ 'assets/build/img/organic-landings/refund/icon-6.svg'|theme }}" class="lazyload g-width-64 g-height-64 g-mb-25 g-mb-40--md" alt="icon">
          <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-md-left g-mb-15">
            Добавлять клиентов в “черный” список
          </h4>
          <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-md-left g-mb-0">
            Недобросовестные брокеры отказывают в верификации, обвиняют в мошенничестве, блокируют кабинеты и звонки клиентов
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
