==
<section class="g-py-60 g-py-80--md" style="background-color: #000633;">
  <div class="container">
    <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-white text-center g-mb-40 g-mb-60--md">
      Используйте все преимущества, которые вам предоставляются
    </h2>
    <div class="row">
      <!-- card 1 -->
      <div class="col-12 col-lg-6 g-pr-0--lg">
        <div class="d-flex flex-column flex-sm-row align-items-center align-items-sm-start g-brd-top g-brd-right--lg g-brd-white-opacity-0_2 g-height-100x g-pr-40--lg g-py-40 g-pos-rel">
          <!-- blur -->
          <div
            class="g-pos-abs g-top-minus-120 g-left-minus-50 g-width-200 g-height-200"
            style="background: linear-gradient(174.74deg, #50E7B7 61.67%, #323992 189.61%); opacity: 0.5; filter: blur(120px);"
          ></div>
          <!-- blur end -->
          <img data-src="{{ 'assets/build/img/organic-landings/refund/benefit-1.svg'|theme }}" class="lazyload g-width-64 g-height-64 g-mb-25 g-mb-0--sm g-mr-0 g-mr-30--sm" alt="icon">
          <div>
            <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-sm-left g-mb-15">
              Банковская технология возврата
            </h4>
            <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-sm-left g-mb-0">
              Банк принудительно списывает сумму платежей со счета поставщика услуг
            </p>
          </div>
        </div>
      </div>
      <!-- card 2 -->
      <div class="col-12 col-lg-6 g-pl-0--lg">
        <div class="d-flex flex-column flex-sm-row align-items-center align-items-sm-start g-brd-top g-brd-white-opacity-0_2 g-height-100x g-pl-40--lg g-py-40">
          <img data-src="{{ 'assets/build/img/organic-landings/refund/benefit-2.svg'|theme }}" class="lazyload g-width-64 g-height-64 g-mb-25 g-mb-0--sm g-mr-0 g-mr-30--sm" alt="icon">
          <div>
            <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-sm-left g-mb-15">
              Доступность процедуры
            </h4>
            <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-sm-left g-mb-0">
              Клиент любого банка может сделать возврат своих денежных переводов
            </p>
          </div>
        </div>
      </div>
      <!-- card 3 -->
      <div class="col-12 col-lg-6 g-pr-0--lg">
        <div class="d-flex flex-column flex-sm-row align-items-center align-items-sm-start g-brd-top g-brd-right--lg g-brd-bottom g-brd-white-opacity-0_2 g-height-100x g-pr-40--lg g-py-40">
          <img data-src="{{ 'assets/build/img/organic-landings/refund/benefit-3.svg'|theme }}" class="lazyload g-width-64 g-height-64 g-mb-25 g-mb-0--sm g-mr-0 g-mr-30--sm" alt="icon">
          <div>
            <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-sm-left g-mb-15">
              Скорость процедуры
            </h4>
            <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-sm-left g-mb-0">
              Согласно нашей статистике, зачисление происходит в течение 14-30 дней
            </p>
          </div>
        </div>
      </div>
      <!-- card 4 -->
      <div class="col-12 col-lg-6 g-pl-0--lg">
        <div class="d-flex flex-column flex-sm-row align-items-center align-items-sm-start g-brd-top g-brd-bottom g-brd-white-opacity-0_2 g-height-100x g-pl-40--lg g-py-40">
          <img data-src="{{ 'assets/build/img/organic-landings/refund/benefit-4.svg'|theme }}" class="lazyload g-width-64 g-height-64 g-mb-25 g-mb-0--sm g-mr-0 g-mr-30--sm" alt="icon">
          <div>
            <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-sm-left g-mb-15">
              Высокие шансы успеха
            </h4>
            <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-sm-left g-mb-0">
              Шансы возврата составляют 97% в течение 30 дней с последнего платежа брокеру
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
