==
<section class="g-bg-dark-v1 g-py-60 g-py-80--md">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-7">
        <h2 class="g-font-size-22 g-font-size-30--md g-font-weight-700 g-line-height-1_3 g-color-white text-center g-mb-40 g-mb-60--md">
          Вы можете применить против мошенников инструкцию Financebar
        </h2>
      </div>
    </div>
    <!-- line 1 -->
    <div class="row g-brd-top g-brd-white-opacity-0_2 g-py-30 g-mx-15 g-mx-0--md">
      <div class="col-12 col-md-6 g-px-0">
        <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-md-left g-mb-15 g-mb-0--md">
          Живое общение с профессионалом
        </h4>
      </div>
      <div class="col-12 col-md-6 g-px-0">
        <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-md-left g-mb-0">
          Эксперты Financebar опрашивают трейдера и анализируют ситуацию, сравнивая ее с имеющимися кейсами
        </p>
      </div>
    </div>
    <!-- line 2 -->
    <div class="row g-brd-top g-brd-white-opacity-0_2 g-py-30 g-mx-15 g-mx-0--md">
      <div class="col-12 col-md-6 g-px-0">
        <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-md-left g-mb-15 g-mb-0--md">
          Информационная поддержка
        </h4>
      </div>
      <div class="col-12 col-md-6 g-px-0">
        <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-md-left g-mb-0">
          Вы получаете доступ к правилам и регламентам платежных систем, а также к нормативно-правовой базе
        </p>
      </div>
    </div>
    <!-- line 3 -->
    <div class="row g-brd-top g-brd-white-opacity-0_2 g-py-30 g-mx-15 g-mx-0--md">
      <div class="col-12 col-md-6 g-px-0">
        <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-md-left g-mb-15 g-mb-0--md">
          Рекомендации в понятном формате
        </h4>
      </div>
      <div class="col-12 col-md-6 g-px-0">
        <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-md-left g-mb-0">
          Вы получаете шаблоны документов и контрольные списки в формате PDF, которые можете сразу использовать
        </p>
      </div>
    </div>
    <!-- line 4 -->
    <div class="row g-brd-top g-brd-bottom g-brd-white-opacity-0_2 g-py-30 g-mx-15 g-mx-0--md">
      <div class="col-12 col-md-6 g-px-0">
        <h4 class="g-font-size-18 g-font-size-24--md g-line-height-1_4 g-color-white text-center text-md-left g-mb-15 g-mb-0--md">
          Достижение желаемого результата
        </h4>
      </div>
      <div class="col-12 col-md-6 g-px-0">
        <p class="g-font-size-18--md g-line-height-1_4 g-color-white-opacity-0_8 text-center text-md-left g-mb-0">
          Трейдеры применяют пошаговую инструкцию и возвращают деньги в полном объеме (реже — только часть суммы)
        </p>
      </div>
    </div>
  </div>
</section>
