==

<section class=" g-bg-gray-light-v5 g-py-60 g-py-70--lg g-pb-30 g-pb-40--lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="text-center g-font-size-20 g-font-size-30--md g-line-height-1_2 g-color-gray-dark-v1 g-font-weight-700 g-mb-30">
                    Плюсы проверки {{ itemDirectory.name }} через специализированный сервис
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-30 g-px-40 g-bg-white g-rounded-10 g-height-100x">
                    <img class="g-mb-20" src="{{ 'assets/build/img/dinamic-landings/verify/exc-1.svg'|theme }}" alt="">
                    <div class="g-font-size-14 g-line-height-1_4 g-font-weight-400 text-center">
                        Максимально достоверная информация
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-30 g-px-40 g-bg-white g-rounded-10 g-height-100x">
                    <img class="g-mb-20" src="{{ 'assets/build/img/dinamic-landings/verify/exc-2.svg'|theme }}" alt="">
                    <div class="g-font-size-14 g-line-height-1_4 g-font-weight-400 text-center">
                        Доступ абсолютно ко всем данным о бирже
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-30 g-px-40 g-bg-white g-rounded-10 g-height-100x">
                    <img class="g-mb-20" src="{{ 'assets/build/img/dinamic-landings/verify/exc-3.svg'|theme }}" alt="">
                    <div class="g-font-size-14 g-line-height-1_4 g-font-weight-400 text-center">
                        Подробный обзор уже через несколько часов
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-30 g-px-40 g-bg-white g-rounded-10 g-height-100x">
                    <img class="g-mb-20" src="{{ 'assets/build/img/dinamic-landings/verify/exc-4.svg'|theme }}" alt="">
                    <div class="g-font-size-14 g-line-height-1_4 g-font-weight-400 text-center">
                        Никаких предоплат за услуги проверки
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-30 g-px-40 g-bg-white g-rounded-10 g-height-100x">
                    <img class="g-mb-20" src="{{ 'assets/build/img/dinamic-landings/verify/exc-5.svg'|theme }}" alt="">
                    <div class="g-font-size-14 g-line-height-1_4 g-font-weight-400 text-center">
                        Максимальная экономия времени при делегировании задачи проверки профессионалам
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-30 g-px-40 g-bg-white g-rounded-10 g-height-100x">
                    <img class="g-mb-20" src="{{ 'assets/build/img/dinamic-landings/verify/exc-6.svg'|theme }}" alt="">
                    <div class="g-font-size-14 g-line-height-1_4 g-font-weight-400 text-center">
                        Возможность получить данные с закрытых баз и реестров
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>