==

<!--PROMO-->
<section class="g-bg-gray-light-v5 g-py-60 g-py-70--lg" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h2 class="text-center g-font-size-20 g-font-size-30--md g-line-height-1_3 g-color-gray-dark-v1 g-font-weight-700 g-mb-30">
                    Как это работает?
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-20 g-px-30 g-rounded-10 g-brd-around g-bg-white g-height-100x">
                    <div class="d-flex align-items-center justify-content-center g-rounded-50x g-height-60 g-width-60 g-color-white g-font-size-24 g-font-weight-700 g-bg-green-v1">1</div>
                    <div class="g-font-size-14 g-color-green-v1 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3 text-center g-mt-15">Вы оставляете <a class="g-font-weight-700" href="#form-top">заявку на сайте</a></div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-20 g-px-30 g-rounded-10 g-brd-around g-bg-white g-height-100x">
                    <div class="d-flex align-items-center justify-content-center g-rounded-50x g-height-60 g-width-60 g-color-white g-font-size-24 g-font-weight-700 g-bg-green-v1">2</div>
                    <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3 text-center g-mt-15">С вами связывается представитель сервиса проверки</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-20 g-px-30 g-rounded-10 g-brd-around g-bg-white g-height-100x">
                    <div class="d-flex align-items-center justify-content-center g-rounded-50x g-height-60 g-width-60 g-color-white g-font-size-24 g-font-weight-700 g-bg-green-v1">3</div>
                    <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3 text-center g-mt-15">Эксперт собирает все данные об интересующей вас компании</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-20 g-px-30 g-rounded-10 g-brd-around g-bg-white g-height-100x">
                    <div class="d-flex align-items-center justify-content-center g-rounded-50x g-height-60 g-width-60 g-color-white g-font-size-24 g-font-weight-700 g-bg-green-v1">4</div>
                    <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3 text-center g-mt-15">Вы получаете детальный отчет по брокеру уже через несколько часов</div>
                </div>
            </div>
        </div>
          
    </div>
</section>