==

<!--PROMO-->
<section class="g-py-60 g-py-70--lg">
    <div class="container g-rounded-10 g-py-60 g-py-70--lg" style="background: #f8f6f4;">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 g-px-50--lg">
                <h2 class="text-center g-font-size-20 g-font-size-30--md g-line-height-1_3 g-color-gray-dark-v1 g-font-weight-700 g-mb-8">
                    Закажите услугу сервиса проверки брокера на надежность {{ itemDirectory.name }} уже сегодня. Проверьте репутацию компании
                </h2>
                <div class="text-center g-color-gray-dark-v2 g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_4 g-mb-40">
                    Самостоятельный мониторинг работы брокера может не дать подробных результатов. Для более глубокого анализа деятельности финансового посредника закажите его обзор у специалистов совершенно бесплатно
                </div>
                <div class="d-flex justify-content-center w-100">
                    <a href="#legal-banner" data-toggle="modal"
                        class="btn w-100 g-font-size-16 g-font-weight-400 rounded-0 g-line-height-1 g-color-white g-py-18 g-max-width-200" style="background: #1fa84f;"> 
                        Заказать проверку
                    </a>
                </div>
            </div>
        </div> 
    </div>
</section>