==

<!--PROMO-->
<section class="g-py-60 g-py-80--lg" style="background-color:#f8f6f4;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 g-mb-0--lg g-mb-30 d-flex flex-column justify-content-center g-pr-70--lg">
                <h1 class="g-font-size-24 g-font-size-45--md g-line-height-1_2 g-color-gray-dark-v1 g-font-weight-700 g-mb-20">
                    Нуждаетесь в проверке брокера <span itemprop="name">{{ itemDirectory.name }}</span> на мошенничество? </h1>
                <div class="g-color-gray-dark-v2 g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_4 g-mb-20">
                    <p>Специализированный сервис готов предоставить вам всю информацию о финансовом посреднике. Используя полученные данные, вы сможете защитить себя от мошенников и обратить внимание на факторы, которые указывают на развод.</p>
                    <p>Ежедневно огромное количество людей сталкиваются с финансовыми схемами, теряя собственный капитал. Не позвольте аферистам распоряжаться вашими деньгами!</p>
                </div>
            </div>
            <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center justify-content-lg-start">
               <img src="{{ 'assets/build/img/dinamic-landings/verify/ill.svg'|theme }}" alt="{{ itemDirectory.name }}">
            </div>
        </div>
    </div>
</section>