==

<!--PROMO-->
<section class="g-py-60 g-py-80--lg" style="background:#172849;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 g-mb-0--lg g-mb-30 d-flex flex-column justify-content-center">
                <h1 class="g-font-size-24 g-font-size-36--md g-line-height-1_2 g-color-white g-font-weight-700 g-mb-20">
                    Инвестпроект <span itemprop="name">{{ itemDirectory.name }}</span> не вызывает 100% доверия? <br> Проверьте компанию на мошенничество!
                </h1>
                <div class="g-color-white-opacity-0_8 g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_4 g-mb-20">
                    <p>Получите профессиональное мнение экспертов по поводу деятельности и репутации инвестиционной платформы, оцените потенциальные риски и примите верное решение о сотрудничестве.</p>
                    <p class="g-mb-0">Закажите проверку {{ itemDirectory.name }} уже сегодня, чтобы завтра ваши инвестиции были в максимальной безопасности</p>
                </div>
                <a href="#form-top" class="u-link-v5 d-flex align-items-center g-color-aqua g-color-aqua--hover g-opacity-0_8--hover g-font-size-16--md text-uppercase g-mb-20 g-mb-0--lg">Воспользоваться услугой
                    <svg class="g-ml-10" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M43.502 24C43.502 34.7699 34.7718 43.5 24.002 43.5C13.2321 43.5 4.50195 34.7699 4.50195 24C4.50195 13.2301 13.2321 4.5 24.002 4.5C34.7718 4.5 43.502 13.2301 43.502 24Z" stroke="#29D6E6" stroke-linejoin="round" />
                        <path d="M20.5 24H28.5M28.5 24L24.5 20M28.5 24L24.5 28" stroke="#29D6E6" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start">
               <img class="w-100" src="{{ 'assets/build/img/dinamic-landings/verify/promo-invest.svg'|theme }}" alt="{{ itemDirectory.name }}">
            </div>
        </div>
    </div>
</section>