==

<!--PROMO-->
<section class="g-py-60 g-py-80--lg">
    <div class="container">
        <div class="g-overflow-hidden g-rounded-10"  style="background-image: url({{ 'assets/build/img/dinamic-landings/verify/exchange-bg.svg'|theme }});">
            <div class="container g-pt-70--lg g-py-60 g-pb-80--lg">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="text-center g-font-size-20 g-font-size-30--md g-line-height-1_2 g-color-gray-dark-v1 g-font-weight-700 g-mb-15">
                            Проконсультируйтесь с экспертами по вопросу надежности сайта {{ itemDirectory.name }}
                        </div>
                        <div class="text-center g-color-gray-dark-v1 g-font-size-14 g-font-size-16--md g-font-weight-400 g-line-height-1_4 g-mb-40 g-px-30--lg">
                            Позаботьтесь о качестве биржи сегодня, чтобы завтра ваши торговые операции были прибыльными, а партнерство — крепким и прозрачным
                        </div>
                        <div class="d-flex justify-content-center w-100">
                            <a href="#legal-banner" data-toggle="modal" class="u-link-v5 d-flex align-items-center justify-content-center g-color-white g-bg-blue g-opacity-0_8--hover g-font-size-16--md g-py-15 g-px-25 g-width-220">Проверить биржу</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>