==

<section class="g-bg-darkblue-v5 g-py-60 g-py-70--lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2 class="text-center g-font-size-20 g-font-size-30--md g-line-height-1_3 g-color-white g-font-weight-700 g-mb-8">
                    Факторы, указывающие на то, что нужно воспользоваться услугами юристов для вывода средств с сайта {{ itemDirectory.name }}
                </h2>
                <div class="text-center g-color-white-opacity-0_8 g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_4 g-mb-30">
                    Лучше не терять времени и сразу обратиться в чарджбэк-компанию при малейших признаках мошенничества и манипуляций со стороны инвестиционной платформы
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-20 g-px-30 g-rounded-10 g-brd-around g-brd-gray-light-v4 g-height-100x g-bg-white">
                    <img src="{{ 'assets/build/img/dinamic-landings/verify/inv-1.svg'|theme }}" alt="" lazy="load" width="48" height="48">
                    <div class="g-mt-20">
                        <div class="g-font-size-18--md g-font-weight-700 g-line-height-1_2 g-color-gray-dark-v1 text-center g-mb-8">Лицензии</div>
                        <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3 text-center">Полный разбор юридической информации с ее дальнейшей проверкой на подлинность и актуальность</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-20 g-px-30 g-rounded-10 g-brd-around g-brd-gray-light-v4 g-height-100x g-bg-white">
                    <img src="{{ 'assets/build/img/dinamic-landings/verify/inv-2.svg'|theme }}" alt="" lazy="load" width="48" height="48">
                    <div class="g-mt-20">
                        <div class="g-font-size-18--md g-font-weight-700 g-line-height-1_2 g-color-gray-dark-v1 text-center g-mb-8">Домен</div>
                        <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3 text-center">Проверка даты создания, владельцев, регистрации и так далее</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-20 g-px-30 g-rounded-10 g-brd-around g-brd-gray-light-v4 g-height-100x g-bg-white">
                    <img src="{{ 'assets/build/img/dinamic-landings/verify/inv-3.svg'|theme }}" alt="" lazy="load" width="48" height="48">
                    <div class="g-mt-20">
                        <div class="g-font-size-18--md g-font-weight-700 g-line-height-1_2 g-color-gray-dark-v1 text-center g-mb-8">Контакты</div>
                        <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3 text-center">Проверка контактных данных на работоспособность</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-20 g-px-30 g-rounded-10 g-brd-around g-brd-gray-light-v4 g-height-100x g-bg-white">
                    <img src="{{ 'assets/build/img/dinamic-landings/verify/inv-4.svg'|theme }}" alt="" lazy="load" width="48" height="48">
                    <div class="g-mt-20">
                        <div class="g-font-size-18--md g-font-weight-700 g-line-height-1_2 g-color-gray-dark-v1 text-center g-mb-8">Техподдержка</div>
                        <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3 text-center">Мониторинг качества клиентского обслуживания</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-20 g-px-30 g-rounded-10 g-brd-around g-brd-gray-light-v4 g-height-100x g-bg-white">
                    <img src="{{ 'assets/build/img/dinamic-landings/verify/inv-5.svg'|theme }}" alt="" lazy="load" width="48" height="48">
                    <div class="g-mt-20">
                        <div class="g-font-size-18--md g-font-weight-700 g-line-height-1_2 g-color-gray-dark-v1 text-center g-mb-8">Инвестиционные предложения</div>
                        <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3 text-center">Разбор инвестиционных пакетов и условий сотрудничества, сравнение со средними показателями рынка</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-20 g-px-30 g-rounded-10 g-brd-around g-brd-gray-light-v4 g-height-100x g-bg-white">
                    <img src="{{ 'assets/build/img/dinamic-landings/verify/inv-6.svg'|theme }}" alt="" lazy="load" width="48" height="48">
                    <div class="g-mt-20">
                        <div class="g-font-size-18--md g-font-weight-700 g-line-height-1_2 g-color-gray-dark-v1 text-center g-mb-8">Платежные методы</div>
                        <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3 text-center">Детальный разбор доступных методов платежей, проверка на наличие официальных банковских реквизитов</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-20 g-px-30 g-rounded-10 g-brd-around g-brd-gray-light-v4 g-height-100x g-bg-white">
                    <img src="{{ 'assets/build/img/dinamic-landings/verify/inv-7.svg'|theme }}" alt="" lazy="load" width="48" height="48">
                    <div class="g-mt-20">
                        <div class="g-font-size-18--md g-font-weight-700 g-line-height-1_2 g-color-gray-dark-v1 text-center g-mb-8">Легенда компании</div>
                        <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3 text-center">Проверка истории создания, репутации ключевых фигур организации и так далее</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 g-mb-30">
                <div class="d-flex flex-column align-items-center justify-content-center g-py-20 g-px-30 g-rounded-10 g-brd-around g-brd-gray-light-v4 g-height-100x g-bg-white">
                    <img src="{{ 'assets/build/img/dinamic-landings/verify/inv-8.svg'|theme }}" alt="" lazy="load" width="48" height="48">
                    <div class="g-mt-20">
                        <div class="g-font-size-18--md g-font-weight-700 g-line-height-1_2 g-color-gray-dark-v1 text-center g-mb-8">Отзывы</div>
                        <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3 text-center">Мониторинг отзывов в сети, проверка на наличие разоблачающего материала и судебных дел</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>