==
<section class="g-pb-30 g-pb-50--lg g-pt-60 g-pt-80--lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="text-center g-font-size-20 g-font-size-30--md g-line-height-1_2 g-color-gray-dark-v1 g-font-weight-700 g-mb-30">
                    Когда стоит немедленно обращаться к специалистам?
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="d-flex align-items-center g-py-30 g-px-20 g-brd-around g-brd-gray-light-v4 g-rounded-10 g-height-100x" style="background:#fafafa;box-shadow:2px 12px 32px 0 rgba(0, 0, 0, 0.06);">
                    <div class="flex-shrink-0 g-mr-10">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="20" height="20" rx="3" fill="#F3C600" />
                            <path d="M5.5 10L8.83333 13L15.5 7" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="g-font-size-14 g-color-gray-dark-v2 g-line-height-1_4">
                        Если вы столкнулись с большим количество мнегативных отзывов о платформе
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="d-flex align-items-center g-py-30 g-px-20 g-brd-around g-brd-gray-light-v4 g-rounded-10 g-height-100x" style="background:#fafafa;box-shadow:2px 12px 32px 0 rgba(0, 0, 0, 0.06);">
                    <div class="flex-shrink-0 g-mr-10">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="20" height="20" rx="3" fill="#F3C600" />
                            <path d="M5.5 10L8.83333 13L15.5 7" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="g-font-size-14 g-color-gray-dark-v2 g-line-height-1_4">
                        Если на кошельке стали проводиться подозрительные операции без вашего ведома
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="d-flex align-items-center g-py-30 g-px-20 g-brd-around g-brd-gray-light-v4 g-rounded-10 g-height-100x" style="background:#fafafa;box-shadow:2px 12px 32px 0 rgba(0, 0, 0, 0.06);">
                    <div class="flex-shrink-0 g-mr-10">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="20" height="20" rx="3" fill="#F3C600" />
                            <path d="M5.5 10L8.83333 13L15.5 7" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="g-font-size-14 g-color-gray-dark-v2 g-line-height-1_4">
                        Если служба поддержки кошелька не компетентна или не выходит на связь
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="d-flex align-items-center g-py-30 g-px-20 g-brd-around g-brd-gray-light-v4 g-rounded-10 g-height-100x" style="background:#fafafa;box-shadow:2px 12px 32px 0 rgba(0, 0, 0, 0.06);">
                    <div class="flex-shrink-0 g-mr-10">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="20" height="20" rx="3" fill="#F3C600" />
                            <path d="M5.5 10L8.83333 13L15.5 7" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="g-font-size-14 g-color-gray-dark-v2 g-line-height-1_4">
                        Если вы потеряли доступ к кошельку, имея при этом рабочие ключи
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="d-flex align-items-center g-py-30 g-px-20 g-brd-around g-brd-gray-light-v4 g-rounded-10 g-height-100x" style="background:#fafafa;box-shadow:2px 12px 32px 0 rgba(0, 0, 0, 0.06);">
                    <div class="flex-shrink-0 g-mr-10">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="20" height="20" rx="3" fill="#F3C600" />
                            <path d="M5.5 10L8.83333 13L15.5 7" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="g-font-size-14 g-color-gray-dark-v2 g-line-height-1_4">
                        Если вам начислили непонятные комиссии
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="d-flex align-items-center g-py-30 g-px-20 g-brd-around g-brd-gray-light-v4 g-rounded-10 g-height-100x" style="background:#fafafa;box-shadow:2px 12px 32px 0 rgba(0, 0, 0, 0.06);">
                    <div class="flex-shrink-0 g-mr-10">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="20" height="20" rx="3" fill="#F3C600" />
                            <path d="M5.5 10L8.83333 13L15.5 7" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="g-font-size-14 g-color-gray-dark-v2 g-line-height-1_4">
                        Если вы просто хотите углубиться в изучение вопроса репутации сервиса
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>