==

<!--PROMO-->
<section class="g-py-60 g-py-70--lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h2 class="text-center g-font-size-20 g-font-size-30--md g-line-height-1_3 g-color-gray-dark-v1 g-font-weight-700 g-mb-8">
                    Проверка через специалистов — оптимальное решение!
                </h2>
                <div class="text-center g-color-gray-dark-v2 g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_4 g-mb-40">
                    Сервис по проверке брокера {{ itemDirectory.name }} на репутацию и факторы мошенничества позволит клиентам сэкономить время и получить максимально обширную информацию о посреднике
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 g-mb-30">
                <div class="d-flex align-items-start g-py-20 g-px-30 g-rounded-10 g-brd-around g-brd-gray-light-v4 g-height-100x">
                    <img src="{{ 'assets/build/img/dinamic-landings/verify/1.svg'|theme }}" alt="">
                    <div class="g-ml-25">
                        <div class="g-font-size-18--md g-font-weight-700 g-line-height-1_2 g-color-gray-dark-v1 g-mb-8">Достоверность всех данных</div>
                        <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3">Специалисты осуществляют проверку только наиболее актуальной информации о брокерской компании. Поэтому клиент получит самый свежий отчет по брокеру</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 g-mb-30">
                <div class="d-flex align-items-start g-py-20 g-px-30 g-rounded-10 g-brd-around g-brd-gray-light-v4 g-height-100x">
                    <img src="{{ 'assets/build/img/dinamic-landings/verify/2.svg'|theme }}" alt="">
                    <div class="g-ml-25">
                        <div class="g-font-size-18--md g-font-weight-700 g-line-height-1_2 g-color-gray-dark-v1 g-mb-8">Проверка до малейших деталей</div>
                        <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3">Сервис имеет доступ к инструментам, позволяющим проанализировать работу брокера во всех подробностях. Простому обывателю подобные опции могут быть просто недоступны</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 g-mb-30">
                <div class="d-flex align-items-start g-py-20 g-px-30 g-rounded-10 g-brd-around g-brd-gray-light-v4 g-height-100x">
                    <img src="{{ 'assets/build/img/dinamic-landings/verify/3.svg'|theme }}" alt="">
                    <div class="g-ml-25">
                        <div class="g-font-size-18--md g-font-weight-700 g-line-height-1_2 g-color-gray-dark-v1 g-mb-8">Высокая скорость исполнения проверки</div>
                        <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3">Вы получите досье на компанию буквально через несколько часов, и сразу же сможете вынести свой вердикт в отношении брокера</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 g-mb-30">
                <div class="d-flex align-items-start g-py-20 g-px-30 g-rounded-10 g-brd-around g-brd-gray-light-v4 g-height-100x">
                    <img src="{{ 'assets/build/img/dinamic-landings/verify/4.svg'|theme }}" alt="">
                    <div class="g-ml-25">
                        <div class="g-font-size-18--md g-font-weight-700 g-line-height-1_2 g-color-gray-dark-v1 g-mb-8">Никаких предоплат</div>
                        <div class="g-font-size-14 g-font-weight-400 g-line-height-1_4 g-color-gray-dark-v3">Сервис работает без предоплат и скрытых платежей. Консультация со специалистами совершенно бесплатная</div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center w-100">
                <a href="#legal-banner" data-toggle="modal"
                    class="btn w-100 g-font-size-16 g-font-weight-400 rounded-0 g-line-height-1 g-color-white g-py-18 g-max-width-200" style="background: #1fa84f;"> 
                    Заказать проверку
                </a>
            </div>
        </div>
          
    </div>
</section>