==

<!--PROMO-->
<section class="g-py-60 g-py-80--lg" style="background-image: url({{ 'assets/build/img/dinamic-landings/verify/exchange-bg.svg'|theme }});">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 g-mb-0--lg g-mb-30 d-flex flex-column justify-content-center">
                <h1 class="g-font-size-24 g-font-size-36--md g-line-height-1_2 g-color-black g-font-weight-700 g-mb-20 ">
                    Хотите быть на 100% уверены в бирже <span itemprop="name">{{ itemDirectory.name }}</span>? <br> Проверьте ее на мошенничество
                </h1>
                <div class="g-color-gray-dark-v1 g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_4 g-mb-40 g-pr-50--lg">
                    <p class="g-mb-0">Узнайте мнение экспертов относительно репутации компании и качества услуг. Позаботьтесь о безопасности собственных вложений заранее и закажите проверку сайта {{ itemDirectory.name }} у профессионалов</p>
                </div>
                <a href="#legal-banner" data-toggle="modal" class="u-link-v5 d-flex align-items-center justify-content-center g-color-white g-bg-blue g-opacity-0_8--hover g-font-size-16--md g-mb-20 g-mb-0--lg g-py-15 g-px-25 g-width-250">Заказать проверку 
                    <svg class="g-ml-10" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.8346 16C28.8346 23.0879 23.0892 28.8334 16.0013 28.8334C8.91344 28.8334 3.16797 23.0879 3.16797 16C3.16797 8.91216 8.91344 3.16669 16.0013 3.16669C23.0892 3.16669 28.8346 8.91216 28.8346 16Z" stroke="white" stroke-linejoin="round" />
                        <path d="M12.5 16H20.5M20.5 16L16.5 12M20.5 16L16.5 20" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center justify-content-lg-end">
                <div class="g-pa-40 g-bg-white g-rounded-10 g-brd-around g-brd-gray-light-v4 u-shadow-v25" style="width: 360px;">
                    <div class="g-mb-20 d-flex align-items-start">
                        <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="4" fill="#2480FE" />
                            <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Полный обзор торговой платформы
                        </p>
                    </div>
                    <div class="g-mb-20 d-flex align-items-start">
                        <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="4" fill="#2480FE" />
                            <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Минимальные сроки выполнения услуг
                        </p>
                    </div>
                    <div class="g-mb-20 d-flex align-items-start">
                        <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="4" fill="#2480FE" />
                            <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Комфортное сотрудничество с сервисом
                        </p>
                    </div>
                    <div class="g-mb-0 d-flex align-items-start">
                        <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="4" fill="#2480FE" />
                            <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                            Персонализированный подход к каждому клиенту
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>