==

<!--PROMO-->
<section class="g-pt-60 g-pt-60--lg" style="background:linear-gradient(135deg, #394a5a 0%, #1a2835 100%);">
    <div class="container">
        <div class="g-brd-around g-brd-4 g-brd-white-opacity-0_2 g-pa-30 g-pa-60--lg">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <h1 class="g-font-size-24 g-font-size-36--md g-line-height-1_2 g-color-white g-font-weight-700 g-mb-20 text-center">
                        Кошелек <span itemprop="name">{{ itemDirectory.name }}</span> нуждается в проверке репутации и качества услуг?
                    </h1>
                    <div class="g-color-white-opacity-0_8 g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_4 g-mb-40 g-pr-50--lg text-center">
                        <p class="g-mb-0">Узнайте мнение экспертов относительно репутации компании и качества услуг. Позаботьтесь о безопасности собственных вложений заранее и закажите проверку сайта {{ itemDirectory.name }} у профессионалов</p>
                    </div>
                </div>
            </div>
            <div class="d-lg-flex align-items-center justify-content-between g-mb-40">
                <div class="d-flex align-items-center w-100 g-width-auto--lg g-color-white g-font-size-14 g-font-weight-400 g-line-height-1_4 g-pr-20--lg g-brd-right--lg g-brd-gray-light-v4 g-mb-30 g-mb-0--lg g-height-100x">
                    <svg class="g-mr-10 flex-shrink-0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="20" rx="3" fill="#F3C600" />
                        <path d="M5.5 10L8.83333 13L15.5 7" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="g-width-185--md">Детальный обзор от специалистов</span>
                </div>
                <div class="d-flex align-items-center w-100 g-width-auto--lg g-color-white g-font-size-14 g-font-weight-400 g-line-height-1_4 g-pr-20--lg g-brd-right--lg g-brd-gray-light-v4 g-ml-20--lg g-mb-30 g-mb-0--lg g-height-100x">
                    <svg class="g-mr-10 flex-shrink-0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="20" rx="3" fill="#F3C600" />
                        <path d="M5.5 10L8.83333 13L15.5 7" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="g-width-185--md">Высокая скорость выполнения услуг</span>
                </div>
                <div class="d-flex align-items-center w-100 g-width-auto--lg g-color-white g-font-size-14 g-font-weight-400 g-line-height-1_4 g-pr-20--lg g-brd-right--lg g-brd-gray-light-v4 g-ml-20--lg g-mb-30 g-mb-0--lg g-height-100x">
                    <svg class="g-mr-10 flex-shrink-0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="20" rx="3" fill="#F3C600" />
                        <path d="M5.5 10L8.83333 13L15.5 7" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="g-width-185--md">Безопасный, персонализированный подход к каждому клиенту</span>
                </div>
                <div class="d-flex align-items-center w-100 g-width-auto--lg g-color-white g-font-size-14 g-font-weight-400 g-line-height-1_4 g-pl-20--lg g-height-100x">
                    <svg class="g-mr-10 flex-shrink-0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="20" rx="3" fill="#F3C600" />
                        <path d="M5.5 10L8.83333 13L15.5 7" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="g-width-185--md">Надежное и прозрачное сотрудничество</span>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a href="#legal-banner" data-toggle="modal" class="u-link-v5 d-flex align-items-center justify-content-center g-color-gray-dark-v2 g-bg-yellow g-opacity-0_8--hover g-font-size-16--md g-py-15 g-px-25 g-width-220">Заказать проверку</a>
            </div>
        </div>
    </div>
    <div class="container g-pb-30 g-pb-50--lg g-pt-40 g-pt-70--lg">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="text-center g-font-size-20 g-font-size-30--md g-line-height-1_2 g-color-white g-font-weight-700 g-mb-30">
                    Что даст проверка криптокошелька {{ itemDirectory.name }}?
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="d-flex align-items-center g-py-30 g-px-20 g-bg-white g-rounded-10">
                    <div class="d-flex align-items-center justify-content-center g-width-40 g-height-40 flex-shrink-0 g-font-size-20 g-color-gray-dark-v2 g-bg-yellow">01</div>
                    <div class="g-font-size-14 g-color-gray-dark-v2 g-line-height-1_4 g-ml-15">Проверку происхождения средств, что позволит исключить контакт с “грязными” активами</div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="d-flex align-items-center g-py-30 g-px-20 g-bg-white g-rounded-10">
                    <div class="d-flex align-items-center justify-content-center g-width-40 g-height-40 flex-shrink-0 g-font-size-20 g-color-gray-dark-v2 g-bg-yellow">02</div>
                    <div class="g-font-size-14 g-color-gray-dark-v2 g-line-height-1_4 g-ml-15">Предотвращение блокировки собственных денежных средств или криптовалют</div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="d-flex align-items-center g-py-30 g-px-20 g-bg-white g-rounded-10">
                    <div class="d-flex align-items-center justify-content-center g-width-40 g-height-40 flex-shrink-0 g-font-size-20 g-color-gray-dark-v2 g-bg-yellow">03</div>
                    <div class="g-font-size-14 g-color-gray-dark-v2 g-line-height-1_4 g-ml-15">Защиту от проблем с законодательством по вопросам отмывания денежных средств</div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="d-flex align-items-center g-py-30 g-px-20 g-bg-white g-rounded-10">
                    <div class="d-flex align-items-center justify-content-center g-width-40 g-height-40 flex-shrink-0 g-font-size-20 g-color-gray-dark-v2 g-bg-yellow">04</div>
                    <div class="g-font-size-14 g-color-gray-dark-v2 g-line-height-1_4 g-ml-15">Уверенность в том, что ваши активы, хранящиеся на кошельке, действительно надежно защищены</div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="d-flex align-items-center g-py-30 g-px-20 g-bg-white g-rounded-10">
                    <div class="d-flex align-items-center justify-content-center g-width-40 g-height-40 flex-shrink-0 g-font-size-20 g-color-gray-dark-v2 g-bg-yellow">05</div>
                    <div class="g-font-size-14 g-color-gray-dark-v2 g-line-height-1_4 g-ml-15">Исключение утечки персональной информации или попыток взлома кошелька</div>
                </div>
            </div>
            <div class="col-12 col-lg-4 g-mb-30">
                <div class="d-flex align-items-center g-py-30 g-px-20 g-bg-white g-rounded-10">
                    <div class="d-flex align-items-center justify-content-center g-width-40 g-height-40 flex-shrink-0 g-font-size-20 g-color-gray-dark-v2 g-bg-yellow">06</div>
                    <div class="g-font-size-14 g-color-gray-dark-v2 g-line-height-1_4 g-ml-15">Доступ только к проверенным криптовалютным сервисам с хорошей репутацией</div>
                </div>
            </div>
        </div>
    </div>
</section>