==
<section class="g-py-60 g-py-80--lg">
    <div class="container">
        <div class="g-overflow-hidden g-rounded-10 g-bg-gray-light-v5">
            <img class="g-hidden-md-down" src="{{ 'assets/build/img/dinamic-landings/verify/exchange-1.webp'|theme }}" alt="">

            <div class="container g-pt-40 g-pb-20 g-pb-60--lg">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <div class="text-center g-font-size-20 g-font-size-30--md g-line-height-1_2 g-color-gray-dark-v1 g-font-weight-700 g-mb-8">
                            Что вы получите после проверки {{ itemDirectory.name }}?
                        </div>
                        <div class="text-center g-color-gray-dark-v1 g-font-size-14 g-font-size-16--md g-font-weight-400 g-line-height-1_4 g-mb-30">
                            Благодаря тому, что у экспертов имеются разнообразные инструменты для проверки и доступ к закрытой информации, клиенты в итоге получат полный разбор таких аспектов работы биржи как
                        </div>
                    </div>
                    <div class="col-12 col-lg-10 g-px-0--lg">
                        <div class="row g-mx-0--lg">
                            <div class="col-12 col-lg-6 g-pl-0--lg g-pr-10--lg">
                                <div class="g-pa-20 g-bg-white g-rounded-10 g-brd-around g-brd-gray-light-v4 u-shadow-v25 g-mb-20 d-flex align-items-start">
                                    <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" rx="4" fill="#2480FE" />
                                        <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                                        Юридическая документация
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 g-pr-0--lg g-pl-10--lg">
                                <div class="g-pa-20 g-bg-white g-rounded-10 g-brd-around g-brd-gray-light-v4 u-shadow-v25 g-mb-20 d-flex align-items-start">
                                    <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" rx="4" fill="#2480FE" />
                                        <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                                        Контактные данные
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 g-pl-0--lg g-pr-10--lg">
                                <div class="g-pa-20 g-bg-white g-rounded-10 g-brd-around g-brd-gray-light-v4 u-shadow-v25 g-mb-20 d-flex align-items-start">
                                    <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" rx="4" fill="#2480FE" />
                                        <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                                        Легенда компании
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 g-pr-0--lg g-pl-10--lg">
                                <div class="g-pa-20 g-bg-white g-rounded-10 g-brd-around g-brd-gray-light-v4 u-shadow-v25 g-mb-20 d-flex align-items-start">
                                    <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" rx="4" fill="#2480FE" />
                                        <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                                        История домена
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 g-pl-0--lg g-pr-10--lg">
                                <div class="g-pa-20 g-bg-white g-rounded-10 g-brd-around g-brd-gray-light-v4 u-shadow-v25 g-mb-20 d-flex align-items-start">
                                    <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" rx="4" fill="#2480FE" />
                                        <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                                        Торговые предложения
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 g-pr-0--lg g-pl-10--lg">
                                <div class="g-pa-20 g-bg-white g-rounded-10 g-brd-around g-brd-gray-light-v4 u-shadow-v25 g-mb-20 d-flex align-items-start">
                                    <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" rx="4" fill="#2480FE" />
                                        <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                                        Платежные методы
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 g-pl-0--lg g-pr-10--lg">
                                <div class="g-pa-20 g-bg-white g-rounded-10 g-brd-around g-brd-gray-light-v4 u-shadow-v25 g-mb-20 d-flex align-items-start">
                                    <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" rx="4" fill="#2480FE" />
                                        <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                                        Оформление сайта
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 g-pr-0--lg g-pl-10--lg">
                                <div class="g-pa-20 g-bg-white g-rounded-10 g-brd-around g-brd-gray-light-v4 u-shadow-v25 g-mb-20 d-flex align-items-start">
                                    <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" rx="4" fill="#2480FE" />
                                        <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                                        Наличие клонированных проектов в сети
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 g-pl-0--lg g-pr-10--lg">
                                <div class="g-pa-20 g-bg-white g-rounded-10 g-brd-around g-brd-gray-light-v4 u-shadow-v25 g-mb-20 d-flex align-items-start">
                                    <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" rx="4" fill="#2480FE" />
                                        <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                                        Наличие судебных разбирательств
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 g-pr-0--lg g-pl-10--lg">
                                <div class="g-pa-20 g-bg-white g-rounded-10 g-brd-around g-brd-gray-light-v4 u-shadow-v25 g-mb-20 d-flex align-items-start">
                                    <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" rx="4" fill="#2480FE" />
                                        <path d="M6.50195 11.818L10.502 15.6362L18.502 7.9998" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <p class="g-ml-15 g-mb-0 g-color-black g-font-size-16--md g-font-size-14 g-font-weight-400 g-line-height-1_5">
                                        Отзывы клиентов
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>